; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = ARCHER

[experience]
Powers = SWING_WEAPON_FIST FIRE_ARROW NULL NAVIGATING_MISSILE NULL SPEED NULL SLOW NULL NULL
PowersLevelRequired = 1 1 0 4 0 6 0 8 0 0
