; KeeperFX campaign file
; Version for Burdened Imps' Level Pack.

[common]
NAME = Burdened Imps' Level Pack
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/burdnimp
LAND_LOCATION   = campgns/burdnimp_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS = 220 221 222 223 224 225 226 227
BONUS_LEVELS =    0   0   0   0   0   0   0   0
; Multiplayer level numbers
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
;EXTRA_LEVELS = 105
; File which stores credits (located in land location folder)
CREDITS = bicredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_brdi.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap09 viframe09
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = campgns/burdnimp/text_eng.dat
POL = campgns/burdnimp/text_pol.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/burdnimp_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map00220]
NAME_TEXT = Moonshadow Keep
NAME_ID = 202
ENSIGN_POS = 736 662
ENSIGN_ZOOM = 736 662
PLAYERS = 1
SPEECH = good01 bad01
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00221]
NAME_TEXT = Winterfrost Run
NAME_ID = 203
ENSIGN_POS = 565 630
ENSIGN_ZOOM = 565 630
PLAYERS = 1
SPEECH = good02 bad02
LAND_VIEW = rgmap02 viframe02
OPTIONS = 

[map00222]
NAME_TEXT = Blistering Furnace
NAME_ID = 204
ENSIGN_POS = 421 626
ENSIGN_ZOOM = 421 626
PLAYERS = 1
SPEECH = good03 bad03
LAND_VIEW = rgmap03 viframe03
OPTIONS = 

[map00223]
NAME_TEXT = Raven's Claw
NAME_ID = 205
ENSIGN_POS = 303 484
ENSIGN_ZOOM = 303 484
PLAYERS = 1
SPEECH = good04 bad04
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00224]
NAME_TEXT = Silversong Fall
NAME_ID = 206
ENSIGN_POS = 273 339
ENSIGN_ZOOM = 273 339
PLAYERS = 1
SPEECH = good05 bad05
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00225]
NAME_TEXT = Waterspring River
NAME_ID = 207
ENSIGN_POS = 808 332
ENSIGN_ZOOM = 808 332
PLAYERS = 1
SPEECH = good06 bad06
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

[map00226]
NAME_TEXT = Amberstone Hills
NAME_ID = 208
ENSIGN_POS = 934 546
ENSIGN_ZOOM = 934 546
PLAYERS = 1
SPEECH = good07 bad07
LAND_VIEW = rgmap07 viframe07
OPTIONS = 

[map00227]
NAME_TEXT = Dreamweave Caverns
NAME_ID = 209
ENSIGN_POS = 680 474
ENSIGN_ZOOM = 680 474
PLAYERS = 1
SPEECH = good08 bad08
LAND_VIEW = rgmap08 viframe08
OPTIONS = 

; Details about bonus and extra levels

; (no such levels)

; Details about multiplayer levels

; (no such levels)

