; KeeperFX campaign file
; Version for Conquest of the Arctic.

[common]
NAME = Conquest of the Arctic
NAME_TEXT_ID = 1015
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/cqarctic
LAND_LOCATION   = campgns/cqarctic_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS = 201 202 203 204 205 206 207 208 209 210
BONUS_LEVELS =    0   0   0   0   0   0   0   0   0   0
; Multiplayer level numbers
;MULTI_LEVELS = 
; Extra levels: full moon, new moon
EXTRA_LEVELS = 211 
; File which stores credits (located in land location folder)
CREDITS = cacredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_cqar.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap11 viframe11
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 190 189
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = campgns/cqarctic/text_eng.dat
CHI = campgns/cqarctic/text_chi.dat
FRE = campgns/cqarctic/text_fre.dat
POL = campgns/cqarctic/text_pol.dat
SPA = campgns/cqarctic/text_spa.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/cqarctic_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map00201]
NAME_TEXT = Ice blood
NAME_ID = 202
ENSIGN_POS = 376 612
ENSIGN_ZOOM = 376 612
PLAYERS = 1
SPEECH = open01.wav end01.wav
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00202]
NAME_TEXT = Barbarian land
NAME_ID = 203
ENSIGN_POS = 542 608
ENSIGN_ZOOM = 542 608
PLAYERS = 1
SPEECH = open02.wav end02.wav
LAND_VIEW = rgmap02 viframe02
OPTIONS = tutorial

[map00203]
NAME_TEXT = Magma land
NAME_ID = 204
ENSIGN_POS = 636 548
ENSIGN_ZOOM = 636 548
PLAYERS = 1
SPEECH = open03.wav end03.wav
LAND_VIEW = rgmap03 viframe03
OPTIONS = 

[map00204]
NAME_TEXT = Mortal fight
NAME_ID = 205
ENSIGN_POS = 776 464
ENSIGN_ZOOM = 776 464
PLAYERS = 1
SPEECH = open04.wav end04.wav
LAND_VIEW = rgmap04 viframe04
OPTIONS = tutorial

[map00205]
NAME_TEXT = Death in ice
NAME_ID = 206
ENSIGN_POS = 814 394
ENSIGN_ZOOM = 814 394
PLAYERS = 1
SPEECH = open05.wav end05.wav
LAND_VIEW = rgmap05 viframe05
OPTIONS = tutorial

[map00206]
NAME_TEXT = Land of blood
NAME_ID = 207
ENSIGN_POS = 824 350
ENSIGN_ZOOM = 824 350
PLAYERS = 1
SPEECH = open06.wav end06.wav
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

[map00207]
NAME_TEXT = Cold reality
NAME_ID = 208
ENSIGN_POS = 848 298
ENSIGN_ZOOM = 848 298
PLAYERS = 1
SPEECH = open07.wav end07.wav
LAND_VIEW = rgmap07 viframe07
OPTIONS = 

[map00208]
NAME_TEXT = Eye of battle
NAME_ID = 209
ENSIGN_POS = 860 240
ENSIGN_ZOOM = 860 240
PLAYERS = 1
SPEECH = open08.wav end08.wav
LAND_VIEW = rgmap08 viframe08
OPTIONS = 

[map00209]
NAME_TEXT = Battlefield
NAME_ID = 210
ENSIGN_POS = 1008 200
ENSIGN_ZOOM = 1008 200
PLAYERS = 1
SPEECH = open09.wav end09.wav
LAND_VIEW = rgmap09 viframe09
OPTIONS = 

[map00210]
NAME_TEXT = United kingdom
NAME_ID = 211
ENSIGN_POS = 1008 300
ENSIGN_ZOOM = 1008 300
PLAYERS = 1
SPEECH = open10.wav end10.wav
LAND_VIEW = rgmap10 viframe10
OPTIONS = 

[map00211]
NAME_TEXT = Moon level
NAME_ID = 430
ENSIGN_POS = 757 617
ENSIGN_ZOOM = 757 617
PLAYERS = 1
OPTIONS = 

; Details about bonus and extra levels

; (no such levels)

; Details about multiplayer levels

; (no such levels)

