; KeeperFX campaign file
; Version for DzjeeAr's 6-level campaign.

[common]
; Two spaces before "6" places the level at higher position on list
NAME = DzjeeAr's  6-level campaign
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/dzjr06lv
LAND_LOCATION   = campgns/dzjr06lv_lnd
CREATURES_LOCATION = campgns/dzjr06lv_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS =   1   2   3   4   5   6
BONUS_LEVELS =    0   0   0   0   0   0
; Multiplayer level numbers
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
;EXTRA_LEVELS = 105
; File which stores credits (located in land location folder)
CREDITS = dzcredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_dz06.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap07 viframe07
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = fxdata/gtext_eng.dat
FRE = fxdata/gtext_fre.dat
GER = fxdata/gtext_ger.dat
ITA = fxdata/gtext_ita.dat
SPA = fxdata/gtext_spa.dat
SWE = fxdata/gtext_swe.dat
POL = fxdata/gtext_pol.dat
DUT = fxdata/gtext_dut.dat
RUS = fxdata/gtext_rus.dat
CZE = fxdata/gtext_cze.dat
;HUN = fxdata/gtext_hun.dat
;KOR = fxdata/gtext_kor.dat
;DAN = fxdata/gtext_dan.dat
;NOR = fxdata/gtext_nor.dat
;ARA = fxdata/gtext_ara.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/dzjr06lv_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map00001]
NAME_TEXT = Pile of its own good
;NAME_ID = 202
ENSIGN_POS = 294 458
ENSIGN_ZOOM = 294 458
PLAYERS = 1
SPEECH = good01 bad01
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00002]
NAME_TEXT = Ancient Fortress
;NAME_ID = 203
ENSIGN_POS = 458 438
ENSIGN_ZOOM = 458 438
PLAYERS = 1
SPEECH = good02 bad02
LAND_VIEW = rgmap02 viframe02
OPTIONS = tutorial

[map00003]
NAME_TEXT = The Necromancer
;NAME_ID = 204
ENSIGN_POS = 992 510
ENSIGN_ZOOM = 992 510
PLAYERS = 1
SPEECH = good03 bad03
LAND_VIEW = rgmap03 viframe03
OPTIONS = tutorial

[map00004]
NAME_TEXT = Frozen plains
;NAME_ID = 205
ENSIGN_POS = 572 462
ENSIGN_ZOOM = 572 462
PLAYERS = 1
SPEECH = good04 bad04
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00005]
NAME_TEXT = Barbarian Stronghold
;NAME_ID = 206
ENSIGN_POS = 756 460
ENSIGN_ZOOM = 756 460
PLAYERS = 1
SPEECH = good05 bad05
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00006]
NAME_TEXT = Final Countdown
;NAME_ID = 207
ENSIGN_POS = 628 376
ENSIGN_ZOOM = 628 376
PLAYERS = 1
SPEECH = good06 bad06
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

; Details about bonus and extra levels

; (no such levels)

; Details about multiplayer levels

; (no such levels)

