; KeeperFX campaign file
; Version for DzjeeAr's 25-level campaign.

[common]
NAME = DzjeeAr's 25-level campaign
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/dzjr25lv
LAND_LOCATION   = campgns/dzjr25lv_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS =   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20
BONUS_LEVELS =    0   0   0   0   0   0   0 100 101   0   0   0   0   0 102   0 103 104   0   0
; Multiplayer level numbers
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
EXTRA_LEVELS = 105
; File which stores credits (located in land location folder)
CREDITS = dzcredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_dz25.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap21 viframe21
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = fxdata/gtext_eng.dat
FRE = fxdata/gtext_fre.dat
GER = fxdata/gtext_ger.dat
ITA = fxdata/gtext_ita.dat
SPA = fxdata/gtext_spa.dat
SWE = fxdata/gtext_swe.dat
POL = fxdata/gtext_pol.dat
DUT = fxdata/gtext_dut.dat
RUS = fxdata/gtext_rus.dat
CZE = fxdata/gtext_cze.dat
;HUN = fxdata/gtext_hun.dat
;KOR = fxdata/gtext_kor.dat
;DAN = fxdata/gtext_dan.dat
;NOR = fxdata/gtext_nor.dat
;ARA = fxdata/gtext_ara.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/dzjr25lv_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map00001]
NAME_TEXT = A fine start
;NAME_ID = 202
ENSIGN_POS = 1012 582
ENSIGN_ZOOM = 1012 582
PLAYERS = 1
SPEECH = good01 bad01
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00002]
NAME_TEXT = Party's help
;NAME_ID = 203
ENSIGN_POS = 956 414
ENSIGN_ZOOM = 956 414
PLAYERS = 1
SPEECH = good02 bad02
LAND_VIEW = rgmap02 viframe02
OPTIONS = tutorial

[map00003]
NAME_TEXT = Allyed
;NAME_ID = 204
ENSIGN_POS = 798 296
ENSIGN_ZOOM = 798 296
PLAYERS = 1
SPEECH = good03 bad03
LAND_VIEW = rgmap03 viframe03
OPTIONS = tutorial

[map00004]
NAME_TEXT = Gold!
;NAME_ID = 205
ENSIGN_POS = 686 234
ENSIGN_ZOOM = 686 234
PLAYERS = 1
SPEECH = good04 bad04
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00005]
NAME_TEXT = Lava river
;NAME_ID = 206
ENSIGN_POS = 618 160
ENSIGN_ZOOM = 618 160
PLAYERS = 1
SPEECH = good05 bad05
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00006]
NAME_TEXT = One enemy
;NAME_ID = 207
ENSIGN_POS = 592 266
ENSIGN_ZOOM = 592 266
PLAYERS = 1
SPEECH = good06 bad06
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

[map00007]
NAME_TEXT = Combiend forces
;NAME_ID = 208
ENSIGN_POS = 500 348
ENSIGN_ZOOM = 500 348
PLAYERS = 1
SPEECH = good07 bad07
LAND_VIEW = rgmap07 viframe07
OPTIONS = 

[map00008]
NAME_TEXT = Gold enough
;NAME_ID = 209
ENSIGN_POS = 416 422
ENSIGN_ZOOM = 416 422
PLAYERS = 1
SPEECH = good08 bad08
LAND_VIEW = rgmap08 viframe08
OPTIONS = 

[map00009]
NAME_TEXT = Ice level
;NAME_ID = 210
ENSIGN_POS = 314 466
ENSIGN_ZOOM = 314 466
PLAYERS = 1
SPEECH = good09 bad09
LAND_VIEW = rgmap09 viframe09
OPTIONS = 

[map00010]
NAME_TEXT = Cold again
;NAME_ID = 211
ENSIGN_POS = 202 510
ENSIGN_ZOOM = 202 510
PLAYERS = 1
SPEECH = good10 bad10
LAND_VIEW = rgmap10 viframe10
OPTIONS = 

[map00011]
NAME_TEXT = Big secret
;NAME_ID = 212
ENSIGN_POS = 350 526
ENSIGN_ZOOM = 350 526
PLAYERS = 1
SPEECH = good11 bad11
LAND_VIEW = rgmap11 viframe11
OPTIONS = 

[map00012]
NAME_TEXT = Locked
;NAME_ID = 213
ENSIGN_POS = 468 494
ENSIGN_ZOOM = 468 494
PLAYERS = 1
SPEECH = good12 bad12
LAND_VIEW = rgmap12 viframe12
OPTIONS = 

[map00013]
NAME_TEXT = Dungeon of fear
;NAME_ID = 214
ENSIGN_POS = 474 586
ENSIGN_ZOOM = 474 586
PLAYERS = 1
SPEECH = good13 bad13
LAND_VIEW = rgmap13 viframe13
OPTIONS = 

[map00014]
NAME_TEXT = Dragon's lair
;NAME_ID = 215
ENSIGN_POS = 578 588
ENSIGN_ZOOM = 578 588
PLAYERS = 1
SPEECH = good14 bad14
LAND_VIEW = rgmap14 viframe14
OPTIONS = 

[map00015]
NAME_TEXT = Strong castle
;NAME_ID = 216
ENSIGN_POS = 732 614
ENSIGN_ZOOM = 732 614
PLAYERS = 1
SPEECH = good15 bad15
LAND_VIEW = rgmap15 viframe15
OPTIONS = 

[map00016]
NAME_TEXT = Golden river
;NAME_ID = 217
ENSIGN_POS = 858 544
ENSIGN_ZOOM = 858 544
PLAYERS = 1
SPEECH = good16 bad16
LAND_VIEW = rgmap16 viframe16
OPTIONS = 

[map00017]
NAME_TEXT = Crisis
;NAME_ID = 218
ENSIGN_POS = 852 438
ENSIGN_ZOOM = 852 438
PLAYERS = 1
SPEECH = good17 bad17
LAND_VIEW = rgmap17 viframe17
OPTIONS = 

[map00018]
NAME_TEXT = Keeper captured
;NAME_ID = 219
ENSIGN_POS = 774 418
ENSIGN_ZOOM = 774 418
PLAYERS = 1
SPEECH = good18 bad18
LAND_VIEW = rgmap18 viframe18
OPTIONS = 

[map00019]
NAME_TEXT = How to do?
;NAME_ID = 220
ENSIGN_POS = 644 478
ENSIGN_ZOOM = 644 478
PLAYERS = 1
SPEECH = good19 bad19
LAND_VIEW = rgmap19 viframe19
OPTIONS = 

[map00020]
NAME_TEXT = Final match
;NAME_ID = 221
ENSIGN_POS = 662 398
ENSIGN_ZOOM = 662 398
PLAYERS = 1
SPEECH = good20 bad20
LAND_VIEW = rgmap20 viframe20
OPTIONS = 

; Details about bonus and extra levels

[map00100]
NAME_TEXT = Secret 1
;NAME_ID = 430
ENSIGN_POS = 1070 492
ENSIGN_ZOOM = 1070 492
SPEECH = secret01
PLAYERS = 1
OPTIONS = 

[map00101]
NAME_TEXT = Secret 2
;NAME_ID = 430
ENSIGN_POS = 825 339
ENSIGN_ZOOM = 825 339
SPEECH = secret02
PLAYERS = 1
OPTIONS = 

[map00102]
NAME_TEXT = Secret 3
;NAME_ID = 430
ENSIGN_POS = 716 288
ENSIGN_ZOOM = 716 288
SPEECH = secret03
PLAYERS = 1
OPTIONS = 

[map00103]
NAME_TEXT = Secret 4
;NAME_ID = 430
ENSIGN_POS = 566 424
ENSIGN_ZOOM = 566 424
SPEECH = secret04
PLAYERS = 1
OPTIONS = 

[map00104]
NAME_TEXT = Secret 5
;NAME_ID = 430
ENSIGN_POS = 734 492
ENSIGN_ZOOM = 734 492
SPEECH = secret05
PLAYERS = 1
OPTIONS = 

[map00105]
NAME_TEXT = Moon Secret
;NAME_ID = 430
ENSIGN_POS = 898 658
ENSIGN_ZOOM = 898 658
SPEECH = secret06
PLAYERS = 1
OPTIONS = 

; Details about multiplayer levels

; (no such levels)

