; KeeperFX campaign file
; Version for Grinics' KReign campaign.

[common]
NAME = Grinics' KReign campaign
NAME_TEXT_ID = 1021
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/grkreign
LAND_LOCATION   = campgns/grkreign_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS = 203 204 205 206 207 208 209 210 211 212
BONUS_LEVELS =    0   0   0   0   0   0   0   0   0   0
; Multiplayer level numbers
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
;EXTRA_LEVELS = 105
; File which stores credits (located in land location folder)
CREDITS = krcredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_krgn.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap11 viframe11
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = campgns/grkreign/text_eng.dat
POL = campgns/grkreign/text_pol.dat
CHI = campgns/grkreign/text_chi.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/grkreign_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map00203]
NAME_TEXT = Loveyheart
NAME_ID = 202
ENSIGN_POS = 524 578
ENSIGN_ZOOM = 524 578
PLAYERS = 1
SPEECH = open01.wav end01.wav
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00204]
NAME_TEXT = Rabbitjoy
NAME_ID = 203
ENSIGN_POS = 726 552
ENSIGN_ZOOM = 726 552
PLAYERS = 1
SPEECH = open02.wav end02.wav
LAND_VIEW = rgmap02 viframe02
OPTIONS = tutorial

[map00205]
NAME_TEXT = Happiclap
NAME_ID = 204
ENSIGN_POS = 902 508
ENSIGN_ZOOM = 902 508
PLAYERS = 1
SPEECH = open03.wav end03.wav
LAND_VIEW = rgmap03 viframe03
OPTIONS = tutorial

[map00206]
NAME_TEXT = Sillimist
NAME_ID = 205
ENSIGN_POS = 1048 510
ENSIGN_ZOOM = 1048 510
PLAYERS = 1
SPEECH = open04.wav end04.wav
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00207]
NAME_TEXT = Sadlack
NAME_ID = 206
ENSIGN_POS = 998 416
ENSIGN_ZOOM = 998 416
PLAYERS = 1
SPEECH = open05.wav end05.wav
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00208]
NAME_TEXT = Hopemirth
NAME_ID = 207
ENSIGN_POS = 808 434
ENSIGN_ZOOM = 808 434
PLAYERS = 1
SPEECH = open06.wav end06.wav
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

[map00209]
NAME_TEXT = Castle Hangdamien
NAME_ID = 208
ENSIGN_POS = 592 474
ENSIGN_ZOOM = 592 474
PLAYERS = 1
SPEECH = open07.wav end07.wav
LAND_VIEW = rgmap07 viframe07
OPTIONS = 

[map00210]
NAME_TEXT = Hangdamien Labrinth
NAME_ID = 209
ENSIGN_POS = 380 442
ENSIGN_ZOOM = 380 442
PLAYERS = 1
SPEECH = open08.wav end08.wav
LAND_VIEW = rgmap08 viframe08
OPTIONS = 

[map00211]
NAME_TEXT = Hopemirth Wastelands
NAME_ID = 210
ENSIGN_POS = 470 456
ENSIGN_ZOOM = 470 456
PLAYERS = 1
SPEECH = open09.wav end09.wav
LAND_VIEW = rgmap09 viframe09
OPTIONS = 

[map00212]
NAME_TEXT = Return to Castle Sadlack
NAME_ID = 211
ENSIGN_POS = 606 330
ENSIGN_ZOOM = 606 330
PLAYERS = 1
SPEECH = open10.wav end10.wav
LAND_VIEW = rgmap10 viframe10
OPTIONS = 

; Details about bonus and extra levels

; (no such levels)

; Details about multiplayer levels

; (no such levels)

