; KeeperFX campaign file
; Version for Nikolai's Castles campaign.

[common]
NAME = Nikolai's Castles campaign
NAME_TEXT_ID = 1026
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/ncastles
LAND_LOCATION   = campgns/ncastles_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS = 202 203 204 205 206 207 208 209 210 211
BONUS_LEVELS =    0   0   0   0   0   0   0   0   0   0
; Multiplayer level numbers
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
;EXTRA_LEVELS = 105
; File which stores credits (located in land location folder)
CREDITS = ctcredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_cstl.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap11 viframe11
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

[strings]
ENG = campgns/ncastles/text_eng.dat
POL = campgns/ncastles/text_pol.dat
CHI = campgns/ncastles/text_chi.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/ncastles_eng

; Details about single player levels

[map00202]
NAME_TEXT = Pennegan
NAME_ID = 202
ENSIGN_POS = 286 524
ENSIGN_ZOOM = 286 524
PLAYERS = 1
SPEECH = good01.wav bad01.wav
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00203]
NAME_TEXT = Castle Kandro
NAME_ID = 203
ENSIGN_POS = 372 640
ENSIGN_ZOOM = 372 640
PLAYERS = 1
SPEECH = good02.wav bad02.wav
LAND_VIEW = rgmap02 viframe02
OPTIONS = tutorial

[map00204]
NAME_TEXT = Dun Ringill
NAME_ID = 204
ENSIGN_POS = 602 714
ENSIGN_ZOOM = 602 714
PLAYERS = 1
SPEECH = good03.wav bad03.wav
LAND_VIEW = rgmap03 viframe03
OPTIONS = tutorial

[map00205]
NAME_TEXT = Castle Rendri
NAME_ID = 205
ENSIGN_POS = 798 648
ENSIGN_ZOOM = 798 648
PLAYERS = 1
SPEECH = good04.wav bad04.wav
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00206]
NAME_TEXT = Castle Khay
NAME_ID = 206
ENSIGN_POS = 914 572
ENSIGN_ZOOM = 914 572
PLAYERS = 1
SPEECH = good05.wav bad05.wav
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00207]
NAME_TEXT = Castle Shadris
NAME_ID = 207
ENSIGN_POS = 824 466
ENSIGN_ZOOM = 824 466
PLAYERS = 1
SPEECH = good06.wav bad06.wav
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

[map00208]
NAME_TEXT = Castle Tagren
NAME_ID = 208
ENSIGN_POS = 620 516
ENSIGN_ZOOM = 620 516
PLAYERS = 1
SPEECH = good07.wav bad07.wav
LAND_VIEW = rgmap07 viframe07
OPTIONS = 

[map00209]
NAME_TEXT = Castle Trinshi
NAME_ID = 209
ENSIGN_POS = 444 440
ENSIGN_ZOOM = 444 440
PLAYERS = 1
SPEECH = good08.wav bad08.wav
LAND_VIEW = rgmap08 viframe08
OPTIONS = 

[map00210]
NAME_TEXT = Eastland
NAME_ID = 210
ENSIGN_POS = 622 378
ENSIGN_ZOOM = 622 378
PLAYERS = 1
SPEECH = good09.wav bad09.wav
LAND_VIEW = rgmap09 viframe09
OPTIONS = 

[map00211]
NAME_TEXT = Northland
NAME_ID = 211
ENSIGN_POS = 670 292
ENSIGN_ZOOM = 670 292
PLAYERS = 1
SPEECH = good10.wav bad10.wav
LAND_VIEW = rgmap10 viframe10
OPTIONS = 

; Details about bonus and extra levels

; (no such levels)

; Details about multiplayer levels

; (no such levels)

