[common]
NAME = Dungeon Keeper - New Game+
NAME_TEXT_ID = 1027
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/origplus
LAND_LOCATION   = campgns/keeporig_lnd
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
; Note that, for now, only up to 6 bonus levels is supported
SINGLE_LEVELS =   1   2   3   4   5   6   7    8   9  10  11  12  13  14  15  16  17  18  19  20
BONUS_LEVELS =    0   0   0   0   0   0   0  100 101   0   0   0   0   0 102   0 103 104   0   0
; Extra levels: full moon, new moon
EXTRA_LEVELS = 105
; File which stores credits (located in land location folder)
CREDITS = dkcredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_plus.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap21 viframe21
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
MEDIA_LOCATION = ldata
OUTRO_MOVIE = outromix.smk

[strings]
ENG = campgns/origplus/text_eng.dat
FRE = campgns/origplus/text_fre.dat
GER = campgns/origplus/text_ger.dat
ITA = campgns/origplus/text_ita.dat
SPA = campgns/origplus/text_spa.dat
SWE = campgns/origplus/text_swe.dat
POL = campgns/origplus/text_pol.dat
POR = campgns/origplus/text_por.dat
DUT = campgns/origplus/text_dut.dat
JPN = campgns/origplus/text_jpn.dat
CHI = campgns/origplus/text_chi.dat
CHT = campgns/origplus/text_cht.dat
RUS = campgns/origplus/text_rus.dat
CZE = campgns/origplus/text_cze.dat
KOR = campgns/origplus/text_kor.dat
UKR = campgns/origplus/text_ukr.dat

; Location of the speech sound files.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/keeporig_eng
FRE = campgns/keeporig_fre
GER = campgns/keeporig_ger
ITA = campgns/keeporig_ita
SPA = campgns/keeporig_spa
SWE = campgns/keeporig_swe
POL = campgns/keeporig_pol
DUT = campgns/keeporig_dut
JPN = campgns/keeporig_jpn
CHI = campgns/keeporig_chi
CHT = campgns/keeporig_cht
RUS = campgns/keeporig_rus
KOR = campgns/keeporig_kor

; Details about single player levels

[map00001]
NAME_TEXT = Eversmile
NAME_ID = 202
ENSIGN_POS = 808 546
ENSIGN_ZOOM = 808 546
PLAYERS = 1
SPEECH = good01.mp3 bad01.mp3
LAND_VIEW = rgmap01 viframe01
ENSIGN =

[map00002]
NAME_TEXT = Cosyton
NAME_ID = 203
ENSIGN_POS = 927 524
ENSIGN_ZOOM = 927 524
PLAYERS = 1
SPEECH = good02.mp3 bad02.mp3
LAND_VIEW = rgmap02 viframe02
ENSIGN =

[map00003]
NAME_TEXT = Waterdream Warm
NAME_ID = 204
ENSIGN_POS = 966 704
ENSIGN_ZOOM = 966 704
PLAYERS = 1
SPEECH = good03.mp3 bad03.mp3
LAND_VIEW = rgmap03 viframe03
ENSIGN =

[map00004]
NAME_TEXT = Flowerhat
NAME_ID = 205
ENSIGN_POS = 842 682
ENSIGN_ZOOM = 838 682
PLAYERS = 1
SPEECH = good04.mp3 bad04.mp3
LAND_VIEW = rgmap04 viframe04
ENSIGN =

[map00005]
NAME_TEXT = Lushmeadow-on-Down
NAME_ID = 206
ENSIGN_POS = 717 617
ENSIGN_ZOOM = 717 617
PLAYERS = 1
SPEECH = good05.mp3 bad05.mp3
LAND_VIEW = rgmap05 viframe05
ENSIGN = 

[map00006]
NAME_TEXT = Snuggledell
NAME_ID = 207
ENSIGN_POS = 566 748
ENSIGN_ZOOM = 590 748
PLAYERS = 1
SPEECH = good06.mp3 bad06.mp3
LAND_VIEW = rgmap06 viframe06
ENSIGN = 

[map00007]
NAME_TEXT = Wishvale
NAME_ID = 208
ENSIGN_POS = 445 688
ENSIGN_ZOOM = 469 688
PLAYERS = 1
SPEECH = good07.mp3 bad07.mp3
LAND_VIEW = rgmap07 viframe07
ENSIGN = 

[map00008]
NAME_TEXT = Tickle
NAME_ID = 209
ENSIGN_POS = 495 577
ENSIGN_ZOOM = 519 577
PLAYERS = 1
SPEECH = good08.mp3 bad08.mp3
LAND_VIEW = rgmap08 viframe08
ENSIGN = 

[map00009]
NAME_TEXT = Moonbrush Wood
NAME_ID = 210
ENSIGN_POS = 435 518
ENSIGN_ZOOM = 459 518
PLAYERS = 1
SPEECH = good09.mp3 bad09.mp3
LAND_VIEW = rgmap09 viframe09
ENSIGN = 

[map00010]
NAME_TEXT = Nevergrim
NAME_ID = 211
ENSIGN_POS = 379 458
ENSIGN_ZOOM = 403 458
PLAYERS = 1
SPEECH = good10.mp3 bad10.mp3
LAND_VIEW = rgmap10 viframe10
ENSIGN = 

[map00011]
NAME_TEXT = Hearth
NAME_ID = 212
ENSIGN_POS = 429 379
ENSIGN_ZOOM = 453 379
PLAYERS = 1
SPEECH = good11.mp3 bad11.mp3
LAND_VIEW = rgmap11 viframe11
ENSIGN = 

[map00012]
NAME_TEXT = Elf's Dance
NAME_ID = 213
ENSIGN_POS = 535 475
ENSIGN_ZOOM = 559 475
PLAYERS = 1
SPEECH = good12.mp3 bad12.mp3
LAND_VIEW = rgmap12 viframe12
ENSIGN = 

[map00013]
NAME_TEXT = Buffy Oak
NAME_ID = 214
ENSIGN_POS = 627 550
ENSIGN_ZOOM = 651 550
PLAYERS = 1
SPEECH = good13.mp3 bad13.mp3
LAND_VIEW = rgmap13 viframe13
ENSIGN = 

[map00014]
NAME_TEXT = Sleepiburgh
NAME_ID = 215
ENSIGN_POS = 670 483
ENSIGN_ZOOM = 694 483
PLAYERS = 1
SPEECH = good14.mp3 bad14.mp3
LAND_VIEW = rgmap14 viframe14
ENSIGN = 

[map00015]
NAME_TEXT = Woodly Rhyme
NAME_ID = 216
ENSIGN_POS = 534 397
ENSIGN_ZOOM = 558 397
PLAYERS = 1
SPEECH = good15.mp3 bad15.mp3
LAND_VIEW = rgmap15 viframe15
ENSIGN = 

[map00016]
NAME_TEXT = Tulipscent
NAME_ID = 217
ENSIGN_POS = 662 415
ENSIGN_ZOOM = 686 415
PLAYERS = 1
SPEECH = good16.mp3 bad16.mp3
LAND_VIEW = rgmap16 viframe16
ENSIGN = 

[map00017]
NAME_TEXT = Mirthshire
NAME_ID = 218
ENSIGN_POS = 828 445
ENSIGN_ZOOM = 852 445
PLAYERS = 1
SPEECH = good17.mp3 bad17.mp3
LAND_VIEW = rgmap17 viframe17
ENSIGN = 

[map00018]
NAME_TEXT = Blaise End
NAME_ID = 219
ENSIGN_POS = 905 357
ENSIGN_ZOOM = 929 357
PLAYERS = 1
SPEECH = good18.mp3 bad18.mp3
LAND_VIEW = rgmap18 viframe18
ENSIGN = 

[map00019]
NAME_TEXT = Mistle
NAME_ID = 220
ENSIGN_POS = 632 318
ENSIGN_ZOOM = 656 318
PLAYERS = 1
SPEECH = good19.mp3 bad19.mp3
LAND_VIEW = rgmap19 viframe19
ENSIGN = 

[map00020]
NAME_TEXT = Skybird Trill
NAME_ID = 221
ENSIGN_POS = 541 242
ENSIGN_ZOOM = 601 242
PLAYERS = 1
SPEECH = good20.mp3 bad20.mp3
LAND_VIEW = rgmap20 viframe20
ENSIGN = 

; Details about bonus and extra levels

[map00100]
NAME_TEXT = Secret 1
NAME_ID = 430
ENSIGN_POS = 902 488
ENSIGN_ZOOM = 902 488
PLAYERS = 1
ENSIGN = 

[map00101]
NAME_TEXT = Secret 2
NAME_ID = 430
ENSIGN_POS = 888 556
ENSIGN_ZOOM = 888 556
PLAYERS = 1
ENSIGN = 

[map00102]
NAME_TEXT = Secret 3
NAME_ID = 430
ENSIGN_POS = 967 524
ENSIGN_ZOOM = 967 524
PLAYERS = 1
ENSIGN = 

[map00103]
NAME_TEXT = Secret 4
NAME_ID = 430
ENSIGN_POS = 956 704
ENSIGN_ZOOM = 956 704
PLAYERS = 1
ENSIGN = 

[map00104]
NAME_TEXT = Secret 5
NAME_ID = 430
ENSIGN_POS = 882 682
ENSIGN_ZOOM = 882 682
PLAYERS = 1
ENSIGN = 

[map00105]
NAME_TEXT = Moon Bonus
NAME_ID = 430
ENSIGN_POS = 757 617
ENSIGN_ZOOM = 757 617
PLAYERS = 1
ENSIGN = 


