; KeeperFX campaign file
; Version for Post Ancient Keeper campaign.

[common]
NAME = Post Ancient Keeper campaign
NAME_TEXT_ID = 1028
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/postanck
LAND_LOCATION   = campgns/postanck_lnd
; Creature properties and Configs are same as in Ancient keeper
CREATURES_LOCATION = levels/legacy_crtr
CONFIGS_LOCATION = levels/legacy_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS = 190 191 192 193 194 195 196
BONUS_LEVELS =    0   0   0   0   0   0   0
; Multiplayer level numbers
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
;EXTRA_LEVELS = 105
; File which stores credits (located in land location folder)
CREDITS = pacredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_psak.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap08 viframe08
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

[strings]
ENG = campgns/ancntkpr/text_eng.dat
FRE = campgns/ancntkpr/text_fre.dat
GER = campgns/ancntkpr/text_ger.dat
POL = campgns/ancntkpr/text_pol.dat
CHI = campgns/ancntkpr/text_chi.dat
SPA = campgns/ancntkpr/text_spa.dat

; Location of the speech sound files.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/postanck_eng
CHI = campgns/postanck_chi

; Details about single player levels

[map00190]
NAME_TEXT = Armageddon
NAME_ID = 222
ENSIGN_POS = 480 624
ENSIGN_ZOOM = 480 624
PLAYERS = 1
SPEECH = good01.mp3 bad01.mp3
LAND_VIEW = rgmap01 viframe01
ENSIGN = 

[map00191]
NAME_TEXT = Collect
NAME_ID = 223
ENSIGN_POS = 628 504
ENSIGN_ZOOM = 628 504
PLAYERS = 1
SPEECH = good02.mp3 bad02.mp3
LAND_VIEW = rgmap02 viframe02
ENSIGN = 

[map00192]
NAME_TEXT = Sacrifice
NAME_ID = 224
ENSIGN_POS = 808 406
ENSIGN_ZOOM = 808 406
PLAYERS = 1
SPEECH = good03.mp3 bad03.mp3
LAND_VIEW = rgmap03 viframe03
ENSIGN = 

[map00193]
NAME_TEXT = Defection
NAME_ID = 225
ENSIGN_POS = 860 320
ENSIGN_ZOOM = 860 320
PLAYERS = 1
SPEECH = good04.mp3 bad04.mp3
LAND_VIEW = rgmap04 viframe04
ENSIGN = 

[map00194]
NAME_TEXT = Imps
NAME_ID = 226
ENSIGN_POS = 560 290
ENSIGN_ZOOM = 560 290
PLAYERS = 1
SPEECH = good05.mp3 bad05.mp3
LAND_VIEW = rgmap05 viframe05
ENSIGN = 

[map00195]
NAME_TEXT = Clone
NAME_ID = 227
ENSIGN_POS = 350 380
ENSIGN_ZOOM = 350 380
PLAYERS = 1
SPEECH = good06.mp3 bad06.mp3
LAND_VIEW = rgmap06 viframe06
ENSIGN = 

[map00196]
NAME_TEXT = Dig
NAME_ID = 228
ENSIGN_POS = 554 388
ENSIGN_ZOOM = 554 388
PLAYERS = 1
SPEECH = good07.mp3 bad07.mp3
LAND_VIEW = rgmap07 viframe07
ENSIGN = 

; Details about bonus and extra levels

; (no such levels)

; Details about multiplayer levels

; (no such levels)


