; KeeperFX campaign file
; Version for Post Ancient Keeper campaign.

[common]
NAME = Post Ancient Keeper campaign
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/postanck
LAND_LOCATION   = campgns/postanck_lnd
; Creature properties and Configs are same as in Ancient keeper
CREATURES_LOCATION = levels/legacy_crtr
CONFIGS_LOCATION = levels/legacy_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS = 190 191 192 193 194 195 196
BONUS_LEVELS =    0   0   0   0   0   0   0
; Multiplayer level numbers
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
;EXTRA_LEVELS = 105
; File which stores credits (located in land location folder)
CREDITS = pacredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_psak.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap08 viframe08
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = fxdata/gtext_eng.dat
FRE = fxdata/gtext_fre.dat
GER = fxdata/gtext_ger.dat
ITA = fxdata/gtext_ita.dat
SPA = fxdata/gtext_spa.dat
SWE = fxdata/gtext_swe.dat
POL = fxdata/gtext_pol.dat
DUT = fxdata/gtext_dut.dat
RUS = fxdata/gtext_rus.dat
CZE = fxdata/gtext_cze.dat
;HUN = fxdata/gtext_hun.dat
;KOR = fxdata/gtext_kor.dat
;DAN = fxdata/gtext_dan.dat
;NOR = fxdata/gtext_nor.dat
;ARA = fxdata/gtext_ara.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/postanck_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map00190]
NAME_TEXT = Armageddon
;NAME_ID = 202
ENSIGN_POS = 480 624
ENSIGN_ZOOM = 480 624
PLAYERS = 1
SPEECH = good01 bad01
LAND_VIEW = rgmap01 viframe01
OPTIONS = 

[map00191]
NAME_TEXT = Collect
;NAME_ID = 203
ENSIGN_POS = 628 504
ENSIGN_ZOOM = 628 504
PLAYERS = 1
SPEECH = good02 bad02
LAND_VIEW = rgmap02 viframe02
OPTIONS = 

[map00192]
NAME_TEXT = Sacrifice
;NAME_ID = 204
ENSIGN_POS = 808 406
ENSIGN_ZOOM = 808 406
PLAYERS = 1
SPEECH = good03 bad03
LAND_VIEW = rgmap03 viframe03
OPTIONS = 

[map00193]
NAME_TEXT = Defection
;NAME_ID = 205
ENSIGN_POS = 860 320
ENSIGN_ZOOM = 860 320
PLAYERS = 1
SPEECH = good04 bad04
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00194]
NAME_TEXT = Imps
;NAME_ID = 206
ENSIGN_POS = 560 290
ENSIGN_ZOOM = 560 290
PLAYERS = 1
SPEECH = good05 bad05
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00195]
NAME_TEXT = Clone
;NAME_ID = 207
ENSIGN_POS = 350 380
ENSIGN_ZOOM = 350 380
PLAYERS = 1
SPEECH = good06 bad06
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

[map00196]
NAME_TEXT = Dig
;NAME_ID = 208
ENSIGN_POS = 554 388
ENSIGN_ZOOM = 554 388
PLAYERS = 1
SPEECH = good07 bad07
LAND_VIEW = rgmap07 viframe07
OPTIONS = 

; Details about bonus and extra levels

; (no such levels)

; Details about multiplayer levels

; (no such levels)

