; KeeperFX campaign file
; Version for Post Undead Keeper campaign.

[common]
NAME = Post Undead Keeper campaign
NAME_TEXT_ID = 1029
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/pstunded
LAND_LOCATION   = campgns/pstunded_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
SINGLE_LEVELS = 305 306 307 308 309 310
BONUS_LEVELS =    0   0   0   0   0   0
CREDITS = ukcredts.txt
HIGH_SCORES = 1024 scr_undk.dat
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap07 viframe07
LAND_MARKERS = ENSIGNS
LAND_AMBIENT = 189 190
OUTRO_MOVIE = outromix.smk

[strings]
ENG = campgns/undedkpr/text_eng.dat
CHI = campgns/undedkpr/text_chi.dat
GER = campgns/undedkpr/text_ger.dat
POL = campgns/undedkpr/text_pol.dat
SPA = campgns/undedkpr/text_spa.dat

[speech]
ENG = campgns/pstunded_eng

[map00305]
NAME_TEXT = Ludim
NAME_ID = 208
ENSIGN_POS = 985 575
ENSIGN_ZOOM = 985 575
PLAYERS = 1
SPEECH = good01.wav bad01.wav
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00306]
NAME_TEXT = Havoth Dir
NAME_ID = 209
ENSIGN_POS = 710 510
ENSIGN_ZOOM = 710 510
PLAYERS = 1
SPEECH = good02.wav bad02.wav
LAND_VIEW = rgmap02 viframe02
OPTIONS = 

[map00307]
NAME_TEXT = Ebenazer
NAME_ID = 210
ENSIGN_POS = 465 635
ENSIGN_ZOOM = 465 635
PLAYERS = 1
SPEECH = good03.wav bad03.wav
LAND_VIEW = rgmap03 viframe03
OPTIONS = 

[map00308]
NAME_TEXT = Chaerith
NAME_ID = 211
ENSIGN_POS = 510 460
ENSIGN_ZOOM = 510 460
PLAYERS = 1
SPEECH = good04.wav bad04.wav
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00309]
NAME_TEXT = Nazirite
NAME_ID = 212
ENSIGN_POS = 300 450
ENSIGN_ZOOM = 300 450
PLAYERS = 1
SPEECH = good05.wav bad05.wav
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00310]
NAME_TEXT = Elysium
NAME_ID = 213
ENSIGN_POS = 420 335
ENSIGN_ZOOM = 420 335
PLAYERS = 1
SPEECH = good06.wav bad06.wav
LAND_VIEW = rgmap06 viframe06
OPTIONS = 
