; KeeperFX campaign file
; Version for Post Undead Keeper campaign.

[common]
NAME = Post Undead Keeper campaign
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/pstunded
LAND_LOCATION   = campgns/pstunded_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS = 305 306 307 308 309 310
BONUS_LEVELS =    0   0   0   0   0   0
; Multiplayer level numbers (no MP levels in this campaign)
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
;EXTRA_LEVELS = 
; File which stores credits (located in land location folder)
CREDITS = ukcredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_undk.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap06 viframe06
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = campgns/undedkpr/text_eng.dat
CHI = campgns/undedkpr/text_chi.dat
POL = campgns/undedkpr/text_pol.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/pstunded_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map00305]
NAME_TEXT = Ludim
NAME_ID = 208
ENSIGN_POS = 357 605
ENSIGN_ZOOM = 357 605
PLAYERS = 1
SPEECH = good01 bad01
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00306]
NAME_TEXT = Havoth Dir
NAME_ID = 209
ENSIGN_POS = 368 494
ENSIGN_ZOOM = 368 494
PLAYERS = 1
SPEECH = good02 bad02
LAND_VIEW = rgmap02 viframe02
OPTIONS = 

[map00307]
NAME_TEXT = Ebenazer
NAME_ID = 210
ENSIGN_POS = 446 532
ENSIGN_ZOOM = 446 532
PLAYERS = 1
SPEECH = good03 bad03
LAND_VIEW = rgmap03 viframe03
OPTIONS = 

[map00308]
NAME_TEXT = Chaerith
NAME_ID = 211
ENSIGN_POS = 734 490
ENSIGN_ZOOM = 734 490
PLAYERS = 1
SPEECH = good04 bad04
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00309]
NAME_TEXT = Nazirite
NAME_ID = 212
ENSIGN_POS = 618 502
ENSIGN_ZOOM = 618 502
PLAYERS = 1
SPEECH = good05 bad05
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00310]
NAME_TEXT = Elysium
NAME_ID = 213
ENSIGN_POS = 508 434
ENSIGN_ZOOM = 508 434
PLAYERS = 1
SPEECH = good06 bad01
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

; Details about multiplayer levels

; (no such levels)

