; A campaign file
; Version 1.0 for Revenge of the Lord by Alexsa2015sa, 

[common]
; Two spaces before "6" places the level at higher position on list
NAME = Revenge of the Lord
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/revlord
LAND_LOCATION   = campgns/revlord_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS =   1234   1235   1236   1237   1238   1239   1240   1242   1241
BONUS_LEVELS =    0      0      1244   0      1243   0      0      0      0
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_relo.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap000 viframe000
LAND_VIEW_END = rgmap009 viframe009
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = campgns/revlord/text_eng.dat
CHI = campgns/revlord/text_chi.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/revlord_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map01234]
NAME_TEXT = Dwarfton
NAME_ID = 202
ENSIGN_POS = 209 570
ENSIGN_ZOOM = 209 570
PLAYERS = 1
SPEECH = good01 bad01
LAND_VIEW = rgmap000 viframe000
OPTIONS = 

[map01235]
NAME_TEXT = Sparkleforest
NAME_ID = 203
ENSIGN_POS = 392 664
ENSIGN_ZOOM = 392 664
PLAYERS = 1
SPEECH = good02 bad02
LAND_VIEW = rgmap001 viframe001
OPTIONS = 

[map01236]
NAME_TEXT = Abbeystone
NAME_ID = 204
ENSIGN_POS = 289 766
ENSIGN_ZOOM = 289 766
PLAYERS = 1
SPEECH = good03 bad03
LAND_VIEW = rgmap002 viframe002
OPTIONS = 

[map01237]
NAME_TEXT = Widerwilds
NAME_ID = 205
ENSIGN_POS = 540 580
ENSIGN_ZOOM = 540 580
PLAYERS = 1
SPEECH = good04 bad04
LAND_VIEW = rgmap003 viframe003
OPTIONS = 

[map01238]
NAME_TEXT = Misty Bog
NAME_ID = 206
ENSIGN_POS = 500 800
ENSIGN_ZOOM = 500 800
PLAYERS = 1
SPEECH = good05 bad05
LAND_VIEW = rgmap004 viframe004
OPTIONS = 

[map01239]
NAME_TEXT = Knights' Castle
NAME_ID = 207
ENSIGN_POS = 680 735
ENSIGN_ZOOM = 680 735
PLAYERS = 1
SPEECH = good06 bad06
LAND_VIEW = rgmap005 viframe005
OPTIONS = 

[map01240]
NAME_TEXT = Hellspring
NAME_ID = 208
ENSIGN_POS = 832 659
ENSIGN_ZOOM = 832 659
PLAYERS = 1
SPEECH = good07 bad07
LAND_VIEW = rgmap006 viframe006
OPTIONS = 

[map01241]
NAME_TEXT = Wickedridge
NAME_ID = 209
ENSIGN_POS = 890 434
ENSIGN_ZOOM = 890 434
PLAYERS = 1
SPEECH = good09 bad09
LAND_VIEW = rgmap008 viframe008
OPTIONS = 

[map01242]
NAME_TEXT = Verminfeast
NAME_ID = 210
ENSIGN_POS = 739 473
ENSIGN_ZOOM = 739 473
PLAYERS = 1
SPEECH = good08 bad08
LAND_VIEW = rgmap007 viframe007
OPTIONS = 

; Details about bonus and extra levels

[map01243]
NAME_TEXT = Thiefhaven
NAME_ID = 211
ENSIGN_POS = 936 792
ENSIGN_ZOOM = 936 792
PLAYERS = 1
OPTIONS = 

[map01244]
NAME_TEXT = Coldamned
NAME_ID = 212
ENSIGN_POS = 500 405
ENSIGN_ZOOM = 500 405
PLAYERS = 1
OPTIONS = 

; Details about multiplayer levels

; (no such levels)

