; KeeperFX campaign file
; Version for Twin Keepers Campaign.

[common]
NAME = Twin Keepers Campaign
NAME_TEXT_ID = 1032
LEVELS_LOCATION = campgns/twinkprs
LAND_LOCATION   = campgns/twinkprs_lnd
CREATURES_LOCATION = campgns/twinkprs_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
SINGLE_LEVELS = 203 204 205 206 207 208
BONUS_LEVELS =    0   0   0   0   0   0
CREDITS = tkcredts.txt
HIGH_SCORES = 1024 scr_twnk.dat
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap07 viframe07
LAND_MARKERS = ENSIGNS
LAND_AMBIENT = 189 190
OUTRO_MOVIE = outromix.smk

[strings]
ENG = campgns/twinkprs/text_eng.dat
CHI = campgns/twinkprs/text_chi.dat
FRE = campgns/twinkprs/text_fre.dat
POL = campgns/twinkprs/text_pol.dat
SPA = campgns/twinkprs/text_spa.dat

[speech]
ENG = campgns/twinkprs_eng

; Details about single player levels

[map00203]
NAME_TEXT = Swedish spirit
NAME_ID = 202
ENSIGN_POS = 998 648
ENSIGN_ZOOM = 998 648
PLAYERS = 1
SPEECH = good01 bad01
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00204]
NAME_TEXT = The Nameless Hero
NAME_ID = 203
ENSIGN_POS = 758 624
ENSIGN_ZOOM = 758 624
PLAYERS = 1
SPEECH = good02 bad02
LAND_VIEW = rgmap02 viframe02
OPTIONS = 

[map00205]
NAME_TEXT = Invisible
NAME_ID = 204
ENSIGN_POS = 540 620
ENSIGN_ZOOM = 540 620
PLAYERS = 1
SPEECH = good03 bad03
LAND_VIEW = rgmap03 viframe03
OPTIONS = 

[map00206]
NAME_TEXT = Embattled formation
NAME_ID = 205
ENSIGN_POS = 330 584
ENSIGN_ZOOM = 330 584
PLAYERS = 1
SPEECH = good04 bad04
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00207]
NAME_TEXT = Tub vulnerabilities
NAME_ID = 206
ENSIGN_POS = 584 440
ENSIGN_ZOOM = 584 440
PLAYERS = 1
SPEECH = good05 bad05
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00208]
NAME_TEXT = Twin Keepers
NAME_ID = 207
ENSIGN_POS = 662 270
ENSIGN_ZOOM = 662 270
PLAYERS = 1
SPEECH = good06 bad06
LAND_VIEW = rgmap06 viframe06
OPTIONS = 
