; KeeperFX campaign file
; Version for Undead Keeper campaign.

[common]
NAME = Undead Keeper campaign
; Folders storing data files for this campaign
LEVELS_LOCATION = campgns/undedkpr
LAND_LOCATION   = campgns/undedkpr_lnd
CREATURES_LOCATION = levels/classic_crtr
CONFIGS_LOCATION = levels/classic_cfgs
MEDIA_LOCATION = ldata
; Single player level numbers, and bonus levels for 'Reveal hidden land' boxes
SINGLE_LEVELS = 285 286 287 288 289 290
BONUS_LEVELS =    0   0   0   0   0   0
; Multiplayer level numbers (no MP levels in this campaign)
;MULTI_LEVELS = 50 51 52 53 54 60 61 62 63 64 70 71 72 73 74
; Extra levels: full moon, new moon
;EXTRA_LEVELS = 
; File which stores credits (located in land location folder)
CREDITS = ukcredts.txt
; High score table parameters (num of entries and file name)
HIGH_SCORES = 1024 scr_undk.dat
; Land view at start and end of the game
LAND_VIEW_START = rgmap00 viframe00
LAND_VIEW_END = rgmap06 viframe06
LAND_MARKERS = ENSIGNS
; Ambient sound samples - good and bad sound
LAND_AMBIENT = 189 190
; Intro and outro; note that the intro here is for campaign, not for whole game
OUTRO_MOVIE = outromix.smk

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your campaign supports only one language, you may comment out all lines but one.
; If the campaign doesn't use custom strings file, then leave this section unchanged.
[strings]
ENG = campgns/undedkpr/text_eng.dat
CHI = campgns/undedkpr/text_chi.dat
POL = campgns/undedkpr/text_pol.dat

; Location of the speech sound files. Speech files should be WAVs with ADPCM data.
; If there's no folder for current language, then first entry is selected by default.
[speech]
ENG = campgns/undedkpr_eng

; Details about levels will follow. Only sections mentioned in [common] block
; will be parsed by the game; other blocks are skipped.
; NAME_IDs are message IDs from strings file.
; Note that NAME_TEXTs are not used if NAME_IDs are present.
; ENSIGN_POS is a position on the Land View screen, X is ranged 160..1120,
; while Y is 120..840. At this exact point, the bottom centre of the ensign
; sprite is placed. ENSIGN_ZOOM is the place which is zoomed when the ensign
; is selected; it is usually the same place where ensign is, but may be moved
; a few pixels if this gives better graphics result.
; LAND_VIEW option should be only present in single player levels.

; Details about single player levels

[map00285]
NAME_TEXT = Winterrage
NAME_ID = 202
ENSIGN_POS = 364 596
ENSIGN_ZOOM = 364 596
PLAYERS = 1
SPEECH = good01 bad01
LAND_VIEW = rgmap01 viframe01
OPTIONS = tutorial

[map00286]
NAME_TEXT = Rosefield Cathedral
NAME_ID = 203
ENSIGN_POS = 660 604
ENSIGN_ZOOM = 660 604
PLAYERS = 1
SPEECH = good02 bad02
LAND_VIEW = rgmap02 viframe02
OPTIONS = 

[map00287]
NAME_TEXT = Arbor Heights
NAME_ID = 204
ENSIGN_POS = 896 598
ENSIGN_ZOOM = 896 598
PLAYERS = 1
SPEECH = good03 bad03
LAND_VIEW = rgmap03 viframe03
OPTIONS = 

[map00288]
NAME_TEXT = Drachenfeld
NAME_ID = 205
ENSIGN_POS = 616 508
ENSIGN_ZOOM = 616 508
PLAYERS = 1
SPEECH = good04 bad04
LAND_VIEW = rgmap04 viframe04
OPTIONS = 

[map00289]
NAME_TEXT = Ashspire
NAME_ID = 206
ENSIGN_POS = 370 388
ENSIGN_ZOOM = 370 388
PLAYERS = 1
SPEECH = good05 bad05
LAND_VIEW = rgmap05 viframe05
OPTIONS = 

[map00290]
NAME_TEXT = Dawnterror
NAME_ID = 207
ENSIGN_POS = 554 318
ENSIGN_ZOOM = 554 318
PLAYERS = 1
SPEECH = good06 bad01
LAND_VIEW = rgmap06 viframe06
OPTIONS = 

; Details about multiplayer levels

; (no such levels)

