/bin
/obj
/sdl
/pkg
/gfx
/sfx
/config/fxdata/*.dat
/config/fxdata/*.fon
.vs/
build*/
/out/*
*.cache
.vscode
/libexterns
docs/html
docs/latex
*.o
*.d
*.Tpo
res/keeperfx_icon.ico
.header_checksum
/deps/*.tar.gz
