[submodule "deps/libspng"]
	path = deps/libspng
	url = https://github.com/randy408/libspng.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
        branch = master
[submodule "deps/centijson"]
	path = deps/centijson
	url = https://github.com/mity/centijson.git
[submodule "deps/enet"]
	path = deps/enet
	url = https://github.com/lsalzman/enet.git
[submodule "deps/luajit"]
	path = deps/luajit
	url = https://luajit.org/git/luajit.git
