[submodule "tools/peresec"]
	path = tools/peresec
	url = https://github.com/dkfans/peresec.git
[submodule "deps/libspng"]
	path = deps/libspng
	url = https://github.com/randy408/libspng.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
        branch = master
[submodule "deps/centijson"]
	path = deps/centijson
	url = https://github.com/mity/centijson.git
