/bin
/obj
/sdl
/pkg
/gfx
/sfx
/tools/peresec
/tools/png2bestpal
/tools/png2ico
/tools/pngpal2raw
/tools/po2ngdat
/tools/rnctools
/tools/sndbanker
/config/fxdata/*.dat
/config/fxdata/*.fon
.vs/
build*/
/out/*
*.cache
.vscode
/libexterns
docs/html
docs/latex
*.o
*.d
*.Tpo
res/keeperfx_icon.ico
.header_checksum
/deps/enet
/deps/zlib
/deps/spng
/deps/astronomy
/deps/centijson
/deps/ffmpeg
/deps/openal
/deps/luajit
/deps/miniupnpc
/deps/libnatpmp
/deps/*.tar.gz
/cppcheck.cache
/src/ver_defs.h
keeperfx.log
crash_log.txt
.local/
