; KeeperFX Partial Creature Configuration file
; file version 0.30 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
; Name is the creature identifier which should be used in level script
Name = ARCHER
Dexterity = 62
FearStronger = 10000
FearsomeFactor = 100
Pay = 60
DamageToBoulder = 20

[attraction]
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST FIRE_ARROW NULL NAVIGATING_MISSILE NULL SPEED NULL SLOW NULL NULL
PowersLevelRequired = 1 1 0 4 0 6 0 8 0 0

[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs =
TrainingValue = 1