; KeeperFX Partial Creature Configuration file
; file version 0.30 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
; Name is the creature identifier which should be used in level script
Name = AVATAR
Strength = 74
Dexterity = 79
FearWounded = 0
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON NEVER_CHICKENS IMMUNE_TO_BOULDER ONE_OF_KIND

[attraction]
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0

[jobs]
PrimaryJobs =
NotDoJobs =
