; KeeperFX Partial Creature Configuration file version 1.0 for AncntKpr, by Mefistotelis.
; This file contains original Bullfrog's values for creature config parameters.
; Note that it is partial config file - do not replace global config with this file.

[attributes]
Name = DARK_MISTRESS
FearStronger = 0
FearsomeFactor = 100
Defence = 70
Luck = 8
DamageToBoulder = 20

[jobs]
PartnerTraining = 100
