; KeeperFX Partial Creature Configuration file version 1.0 for AncntKpr, by Mefistotelis.
; This file contains original Bullfrog's values for creature config parameters.
; Note that it is partial config file - do not replace global config with this file.

[attributes]
Name = DRAGON
HealRequirement = 150
Armour = 90
FearStronger = 0
Defence = 50
Luck = 7
DamageToBoulder = 20

[senses]
EyeHeight = 900

[experience]
SleepExperience = LAVA 3
