; KeeperFX Partial Creature Configuration file
; file version 0.30 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
Name = GHOST
Dexterity = 58
FearStronger = 10000
Properties = IMMUNE_TO_GAS FLYING SEE_INVISIBLE EVIL

[experience]
Powers = SWING_WEAPON_FIST NULL INVISIBILITY REBOUND NULL WIND NULL DRAIN NULL NULL
PowersLevelRequired = 1 0 3 1 0 6 0 8 0 0

[jobs]
PrimaryJobs = TEMPLE_PRAY
SecondaryJobs = RESEARCH
TrainingValue = 1