; KeeperFX Partial Creature Configuration file
; file version 0.30 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
Name = HELL_HOUND
Strength = 48
Dexterity = 50
FearStronger = 10000
DamageToBoulder = 20

[jobs]
PartnerTraining = 0
