; KeeperFX Partial Creature Configuration file
; file version 0.30 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
; Name is the creature identifier which should be used in level script
Name = IMP
Health = 75
HealRequirement = 0
HealThreshold = 0
Strength = 5
Armour = 5
Dexterity = 45
FearWounded = 101
FearStronger = 10000
FearsomeFactor = 100
Defence = 5
Luck = 0
Recovery = 0
HungerRate = 0
HungerFill = 0
LairSize = 0
HurtByLava = 2
BaseSpeed = 96
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 256
AttackPreference = MELEE
Pay = 0
HeroVsKeeperCost = 0
SlapsToKill = 20
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 20
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON SPECIAL_DIGGER EVIL NO_ENMHEART_ATTCK

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0
EntranceForce = 0
ScavengeRequirement = 0
TortureTime = 50

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 0
StandingOnDeadEnemy = 0
Sulking = 0
NoSalary = 0
Slapped = 0
StandingOnDeadFriend = 0
InTorture = 0
InTemple = 0
Sleeping = 0
GotWage = 0
WinBattle = 0
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 0
LairEnemy = NULL
AnnoyLevel = 0
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 5
EyeHeight = 256
FieldOfView = 1024
EyeEffect = NULL
; Maximal angle change when turning; 1-180 degrees
MaxAngleChange = 25

[appearance]
WalkingAnimSpeed = 96
VisualRange = 5

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = FIRST_PERSON_DIG SWING_WEAPON_SWORD SPEED NULL NULL NULL NULL NULL NULL TELEPORT
PowersLevelRequired = 1 1 3 0 0 0 0 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 2500 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 1

[jobs]
PrimaryJobs = DIG
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 1
TrainingCost = 10
ScavengeValue = 0
ScavengerCost = 0
ResearchValue = 0
ManufactureValue = 0
PartnerTraining = 0
