; KeeperFX Partial Creature Configuration file version 1.0 for AncntKpr, by Mefistotelis.
; This file contains original Bullfrog's values for creature config parameters.
; Note that it is partial config file - do not replace global config with this file.

[attributes]
Name = IMP
FearStronger = 0
Defence = 5
; Luck values in legacy are 2.55 times higher than in the original game. KeeperFX has luck as a percentage, DK1 as a x/255 ratio.
Luck = 0
DamageToBoulder = 20
HealRequirement = 0
Properties = BLEEDS HUMANOID_SKELETON SPECIAL_DIGGER EVIL NO_ENMHEART_ATTCK

[appearance]
CorpseVanishEffect = 0

[annoyance]
EatFood = -1000
OthersLeaving = 10
AngerJobs = LEAVE_DUNGEON
