; KeeperFX Partial Creature Configuration file version 1.0 for AncntKpr, by Mefistotelis.
; This file contains original Bullfrog's values for creature config parameters.
; Note that it is partial config file - do not replace global config with this file.

[attributes]
Name = IMP
FearStronger = 10000
Defence = 5
DamageToBoulder = 20
HealRequirement = 0
Properties = BLEEDS HUMANOID_SKELETON SPECIAL_DIGGER EVIL NO_ENMHEART_ATTCK

[appearance]
CorpseVanishEffect = 0

[annoyance]
EatFood = -1000
OthersLeaving = 10
AngerJobs = LEAVE_DUNGEON
