; KeeperFX Partial Creature Configuration file version 1.0 for AncntKpr, by Mefistotelis.
; This file contains original Bullfrog's values for creature config parameters.
; Note that it is partial config file - do not replace global config with this file.

[attributes]
Name = KNIGHT
FearWounded = 0
Defence = 30
Luck = 6
DamageToBoulder = 20

[attraction]
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0

[jobs]
PrimaryJobs =
NotDoJobs =
