; KeeperFX Partial Creature Configuration file
; file version 0.30 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
Name = SAMURAI
Strength = 55
Dexterity = 58
FearStronger = 10000
FearsomeFactor = 100
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON SEE_INVISIBLE

[attraction]
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0

[annoyance]
Untrained = 25000 100

[jobs]
PartnerTraining = 100
