; KeeperFX Partial Creature Configuration file version 1.0 for AncntKpr, by Mefistotelis.
; This file contains original Bullfrog's values for creature config parameters.
; Note that it is partial config file - do not replace global config with this file.

[attributes]
Name = SKELETON
Defence = 50
Luck = 1
; In the original game, you could force-feed creatures even if they did not have any needs for eating. Setting HungerFill to 1 while HungerRate is set to 0 enables this mechanic.
HungerFill = 1

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = BARRACK
