; KeeperFX Partial Creature Configuration file version 1.0 for AncntKpr, by Mefistotelis.
; This file contains original Bullfrog's values for creature config parameters.
; Note that it is partial config file - do not replace global config with this file.

[attributes]
Name = SORCEROR
FearStronger = 0
FearsomeFactor = 100
Defence = 30
Luck = 2
DamageToBoulder = 20

[annoyance]
Untrained = 25000 50

[experience]
SleepExperience = GOLD 1
