; KeeperFX Partial Creature Configuration file version 1.0 for AncntKpr, by Mefistotelis.
; This file contains original Bullfrog's values for creature config parameters.
; Note that it is partial config file - do not replace global config with this file.

[attributes]
Name = TENTACLE
FearStronger = 0
Defence = 50
Luck = 1
DamageToBoulder = 20

[senses]
EyeEffect = LENS_WIBBLE

[experience]
SleepExperience = WATER 2

[jobs]
TrainingValue = 1
PartnerTraining = 0
