; KeeperFX Partial Creature Configuration file
; file version 0.30 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
Name = TENTACLE
Strength = 40
Dexterity = 48
FearStronger = 10000
DamageToBoulder = 20

[senses]
EyeEffect = LENS_WIBBLE

[experience]
SleepExperience = WATER 2

[jobs]
TrainingValue = 1
PartnerTraining = 0
