; KeeperFX Partial Creature Configuration file
; file version 0.30 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
; Name is the creature identifier which should be used in level script
Name = WIZARD
Dexterity = 62
FearStronger = 10000
FearsomeFactor = 100
DamageToBoulder = 20

[attraction]
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0
