/******************************************************************************/
// Free implementation of Bullfrog's Dungeon Keeper strategy game.
/******************************************************************************/
/** @file keeperfx_stdres.rc
 *     Standard Windows resoures used by KeeperFX application.
 * @par Purpose:
 *     Defines icons and executable information data (VersionInfo)
 *     used by Ms Windows as description of the application.
 * @par Comment:
 *     None.
 * @author   Tomasz Lis
 * @date     27 Apr 2009 - 12 Jan 2010
 * @par  Copying and copyrights:
 *     This program is free software; you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation; either version 2 of the License, or
 *     (at your option) any later version.
 */
/******************************************************************************/

#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1 //Defined manifest file
#define RT_MANIFEST                       24 // Manifest Resource Type

#include <windows.h> // include for version info constants
#include "../src/version.h" // define values for version info

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "keeperfx_icon.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "keeperfx.exe.manifest" //Add manifest to declare that keeperfx is "dpiAware"

// Create version info block, using defines from the header file
1 VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", COMPANY_NAME
			 VALUE "FileVersion", FILE_VERSION
			 VALUE "FileDescription", FILE_DESCRIPTION
			 VALUE "InternalName", INTERNAL_NAME
			 VALUE "LegalCopyright", LEGAL_COPYRIGHT
			 VALUE "LegalTrademarks", LEGAL_TRADEMARKS
			 VALUE "OriginalFilename", ORIGINAL_FILENAME
			 VALUE "ProductName", PRODUCT_NAME
			 VALUE "ProductVersion", PRODUCT_VERSION
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252
	 }
}
/******************************************************************************/
