/******************************************************************************/
// Free implementation of Bullfrog's Dungeon Keeper strategy game.
/******************************************************************************/

#include <windows.h> // include for version info constants
#include "../src/keeperfx_private.h" // version


A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "keeperfx_icon.ico"

//
// TO CHANGE VERSION INFORMATION, EDIT PROJECT OPTIONS...
//
1 VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", COMPANY_NAME
			 VALUE "FileVersion", FILE_VERSION
			 VALUE "FileDescription", FILE_DESCRIPTION
			 VALUE "InternalName", INTERNAL_NAME
			 VALUE "LegalCopyright", LEGAL_COPYRIGHT
			 VALUE "LegalTrademarks", LEGAL_TRADEMARKS
			 VALUE "OriginalFilename", ORIGINAL_FILENAME
			 VALUE "ProductName", PRODUCT_NAME
			 VALUE "ProductVersion", PRODUCT_VERSION
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252
	 }
}

