; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = ARCHER
NameTextID = 285
Health = 300
HealRequirement = 150
HealThreshold = 200
Strength = 20
Armour = 20
Dexterity = 100
FearWounded = 12
FearStronger = 1000
FearsomeFactor = 500
Defence = 90
Luck = 15
Recovery = 2
HungerRate = 5000
HungerFill = 1
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 250
; Creature clipbox size - XY and Z.
Size = 200 512
AttackPreference = RANGED
Pay = 63
SlapsToKill = 30
DamageToBoulder = 25
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 256 550
LairObject = LAIR_ARCHR
Properties = BLEEDS HUMANOID_SKELETON PREFER_STEAL

[attraction]
EntranceRoom = GUARD_POST NULL NULL
RoomSlabsRequired = 1 0 0
BaseEntranceScore = 6
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 25
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -350
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 545
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 20

[appearance]
WalkingAnimSpeed = 128
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384
CorpseVanishEffect = 0
PickUpOffset = 0 82
StatusOffset = 120

[experience]
Powers = FIRE_ARROW NULL NULL NAVIGATING_MISSILE NULL SPEED NULL SLOW NULL NULL
PowersLevelRequired = 1 0 0 4 0 6 0 8 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 13

[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs = GUARD
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 8
ScavengeValue = 2
ScavengerCost = 8
ResearchValue = 2
ManufactureValue = 2
PartnerTraining = 0

[sprites]
Stand = 382
Ambulate = 380
Drag = 380
Attack = 384
RangedAttack = 384
CastSpell = 384
Dig = 384
Smoke = 396
Relax = 396
PrettyDance = 394
GotHit = 386
PowerGrab = 392
GotSlapped = 398
Celebrate = 394
Sleep = 396
EatChicken = 400
Torture = 54
Scream = 388
DropDead = 390
DeadSplat = 946
Roar = 394
QuerySymbol = 168
HandSymbol = 182
Piss = 388

[sounds]
Foot = 1 4
Hit = 643 3
Happy = 641 1
Sad = 642 1
Hurt = 643 3
Die = 646 2
Hang = 648 1
Drop = 649 1
Torture = 650 3
Slap = 653 1
Fight = 638 3
Piss = 171 1
