; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = AVATAR
NameTextID = 547
Health = 3000
HealRequirement = 150
HealThreshold = 200
Strength = 150
Armour = 120
Dexterity = 160
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 165
Luck = 20
Recovery = 9
HungerRate = 10000
HungerFill = 4
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 1000
; Creature clipbox size - XY and Z.
Size = 200 512
AttackPreference = MELEE
Pay = 1200
SlapsToKill = 60
DamageToBoulder = 60
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 256 590
LairObject = LAIR_AVATR
SpellImmunity = CHICKEN
Properties = BLEEDS HUMANOID_SKELETON IMMUNE_TO_BOULDER LORD ONE_OF_KIND NO_STEAL_HERO

[attraction]
EntranceRoom = LAIR TRAINING GARDEN
RoomSlabsRequired = 20 36 25
BaseEntranceScore = 16
ScavengeRequirement = 22000
TortureTime = 2000

[annoyance]
EatFood = -1000
WillNotDoJob = 450
InHand = 0
NoLair = 4
NoHatchery = 4
WokenUp = 2000
StandingOnDeadEnemy = -50
Sulking = 10
NoSalary = 4000
Slapped = 2250
StandingOnDeadFriend = 120
InTorture = 120
InTemple = -75
Sleeping = -1
GotWage = -750
WinBattle = -1000
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 24
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 600
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 25

[appearance]
WalkingAnimSpeed = 56
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 4
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384
CorpseVanishEffect = 0
PickUpOffset = 14 76
StatusOffset = 180

[experience]
Powers = SWING_WEAPON_SWORD ARMOUR NULL HEAL NULL FREEZE DRAIN NAVIGATING_MISSILE INVISIBILITY WORD_OF_POWER
PowersLevelRequired = 1 2 0 4 0 6 7 8 9 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 75

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs =
NotDoJobs = SCAVENGE
StressfulJobs =
TrainingValue = 4
TrainingCost = 100
ScavengeValue = 0
ScavengerCost = 50
ResearchValue = 3
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = 162
Ambulate = 160
Drag = 160
Attack = 164
RangedAttack = 164
CastSpell = 164
Dig = 164
Smoke = 176
Relax = 176
PrettyDance = 174
GotHit = 166
PowerGrab = 172
GotSlapped = 178
Celebrate = 174
Sleep = 176
EatChicken = 180
Torture = AVATAR_TORTURE
Scream = 168
DropDead = 170
DeadSplat = 946
Roar = 174
QuerySymbol = 214
HandSymbol = 190
Piss = 168

[sounds]
Foot = 5 4
Hit = 711 3
Happy = 709 1
Sad = 710 1 
Hurt = 711 3
Die = 714 2
Hang = 716 1
Drop = 717 1
Torture = 718 3
Slap = 721 1
Fight = 706 3
Piss = 171 1
