; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = BARBARIAN
NameTextID = 275
Health = 700
HealRequirement = 150
HealThreshold = 200
Strength = 60
Armour = 50
Dexterity = 70
FearWounded = 12
FearStronger = 2500
FearsomeFactor = 75
Defence = 90
Luck = 10
Recovery = 5
HungerRate = 8000
HungerFill = 3
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 1500
; Creature clipbox size - XY and Z.
Size = 200 512
AttackPreference = MELEE
Pay = 95
SlapsToKill = 40
DamageToBoulder = 40
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 256 600
LairObject = LAIR_BARBR
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
EntranceRoom = TRAINING NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore = 11
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 100
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -50
Sleeping = -3
GotWage = -750
WinBattle = -400
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 620
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 15

[appearance]
WalkingAnimSpeed = 128
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 2
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384
CorpseVanishEffect = 0
PickUpOffset = 38 134
StatusOffset = 200

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL ARMOUR NULL NULL NULL NULL
PowersLevelRequired = 1 0 0 0 0 6 0 0 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 6

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs = TRAIN
NotDoJobs = 
StressfulJobs =
TrainingValue = 3
TrainingCost = 40
ScavengeValue = 1
ScavengerCost = 18
ResearchValue = 0
ManufactureValue = 2
PartnerTraining = 0

[sprites]
Stand = 404
Ambulate = 402
Drag = 402
Attack = 406
RangedAttack = 406
CastSpell = 406
Dig = 406
Smoke = 418
Relax = 418
PrettyDance = 416
GotHit = 408
PowerGrab = 414
GotSlapped = 420
Celebrate = 416
Sleep = 418
EatChicken = 422
Torture = 62
Scream = 410
DropDead = 412
DeadSplat = 946
Roar = 416
QuerySymbol = 165
HandSymbol = 180
Piss = 410

[sounds]
Foot = 1 4
Hit = 626 3
Happy = 624 1
Sad = 625 1
Hurt = 626 3
Die = 629 2
Hang = 631 1
Drop = 632 1
Torture = 633 3
Slap = 636 1
Fight = 621 3
Piss = 171 1
