; KeeperFX Creature Model Configuration file

[attributes]
Name = BIRD
NameTextID = 1044
Health = 350
HealRequirement = 150
HealThreshold = 255
Strength = 20
Armour = 20
Dexterity = 55
FearWounded = 12
FearStronger = 400
FearsomeFactor = 100
Defence = 45
Luck = 20
Recovery = 5
HungerRate = 9000
HungerFill = 1
LairSize = 1
HurtByLava = 2
BaseSpeed = 132
GoldHold = 75
Size = 200 50
AttackPreference = MELEE
Pay = 7
SlapsToKill = 12
DamageToBoulder = 17
ThingSize = 256 512
LairObject = LAIR_BIRD
Properties = BLEEDS FLYING EVIL NO_CORPSE_ROTTING NO_IMPRISONMENT NO_RESURRECT NO_TRANSFER NO_STEAL_HERO

[attraction]
EntranceRoom = LAIR NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore = 12
ScavengeRequirement = 22000
TortureTime = 750

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 50
StandingOnDeadEnemy = 0
Sulking = 1
NoSalary = 500
Slapped = 50
StandingOnDeadFriend = 0
InTorture = 5
InTemple = -50
Sleeping = -1
GotWage = -1000
WinBattle = -25
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 0
LairEnemy = SPIDERLING
AnnoyLevel = 8000
AngerJobs = JOIN_ENEMY LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 500
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 15

[appearance]
WalkingAnimSpeed=100
FootstepPitch=400
VisualRange=18
PossessSwipeIndex=6
NaturalDeathKind=NORMAL
ShotOrigin=0 0 60
CorpseVanishEffect=0
PickUpOffset=0 60 0 0
StatusOffset=520

[experience]
Powers = SWING_WEAPON_FIST NULL NULL FIREBALL NULL SPEED NULL WIND NULL NULL
PowersLevelRequired = 1 0 0 4 0 6 0 8 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 10
Rebirth = 0

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 7
ScavengeValue = 1
ScavengerCost = 8
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 20

[sprites]
Stand = BIRD_STAND
Ambulate = BIRD_STAND
Drag = BIRD_STAND
Attack = BIRD_ATTACK
RangedAttack = BIRD_ATTACK
CastSpell = BIRD_ATTACK
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = BIRD_STAND
PowerGrab = BIRD_POWERGRAB
GotSlapped = BIRD_STAND
Celebrate = BIRD_CELEBRATE
Sleep = BIRD_SLEEP
EatChicken = BIRD_EATCHICKEN
Torture = 48
Scream = BIRD_SCREAM
DropDead = BIRD_DROPDEAD
DeadSplat = 946
QuerySymbol = BIRD_PORTRAIT
HandSymbol = BIRD_ICON

[sounds]
Foot = 9 4
Hit = 422 3
Happy = 420 1
Sad = 421 1
Hurt = 422 3
Die = 425 2
Hang = 427 1
Drop = 428 1
Torture = 429 3
Slap = 432 1
Fight = 417 3
