; KeeperFX Creature Model Configuration file

; NOTES FROM THE FIREFLY DAD : This mod had be made to initiate the elites variants for all the evil creatures and bosses for the good ones. Just a work to inspire better creators for the other. But for now our lighting bug is alone and call it "elite_something" doesn't make sense for now.
; Add the compressed folder into the "fxdata" folder without extraction; just remane it to "elite_fly" later.
; Add the creature's name in the creature.cfg's creature list, let almost 20 empty entries after for further evil elites. (and the same for bosses).
; So "firefly" is a temporary name, in the future, all the "firefly" iterations must be replaced by "elite_fly" in this file + in the creature.cfg's creature list + in the name of the compressed folder + in object.cfg for the lair + in rules.cfg if sacrifice recipe + in fly.cfg if growup + in the "gtext.dat" files if used... Any left?
; I'm so pride of the little fireflies dancing around the ardent nest, don't forget to add an entry for the lair in "object.cfg" : (use line space instead of //) [objectXXX] Name = LAIR_FIREFLY // Genre = LAIR_TOTEM // AnimationID = FIREFLY_LAIR // AnimationSpeed = 12 // Size_XY = 0 // Size_Z = 0 // MaximumSize = 300 //DestroyOnLava = 0 // DestroyOnLiquid = 0 // RelatedCreature = FIREFLY // Health = 0 // FallAcceleration = 0 // LightUnaffected = 0 // LightIntensity = 0 // LightRadius = 0 // LightIsDynamic = 0 // DrawClass = 2 // Persistence = 2 // Immobile = 0 // Properties = EXISTS_ONLY_IN_ROOM DESTROYED_ON_ROOM_CLAIM DESTROYED_ON_ROOM_PLACE // UpdateFunction = UPDATE_OBJECT_SCALE
; Note that different icons and portraits are available, one for the firefly that fit with the colors, and one with a golden medal according to the elite statut of the creature. The icon.json and stripes.json files will switch themself.
; Moreover, the following caracteristics are thought more as a fly improvement on everything with fire affinities, scout abilities and some "elite" specificities than a properly new creature. I worked a lot on the animation, not really in testing the strenght of the unit on a map so feel free to rebalance that as you wish or need, try, taste and make a feedback on it.
; Some variables available in this file type but almost never used by the original games aren't been used here cause I did not dare without a good test and understanding of them, but i think that making elites is the perfect pretext to have fun with it. So my balance may be boring, do it better and purpose!
; To get a fully available creature without adding it in every map scripts to get it by portal, two ways may be used: firstly, adding a sacrifice recipe in "rules.cfg", something like " MkCreature =  FIREFLY           FLY FLY FLY KNIGHT " or/+ open the vanilla fly.cfg and add to the experience § "GrowUp=50000 FIREFLY 3"

[attributes]
; Name is the creature identifier which should be used in level script
Name=BIRD
NameTextID = 264
; To replace the ingame name "fly" by a new one, like "firefly" or "elite_fly" or whatever else... : Use DKStrings.exe to rewrite or add an empty line in "gtext_eng.dat" + "gtext_[yourlanguage].dat" to add the firefly name, then, write the corresponding line number here on the next line instead of "1034" and remove the previous line and this one + don't forget to remove too the ";" at the beginning of the following one.
; NameTextID=1034
Health=350
HealRequirement=150
HealThreshold=255
Strength=20
Armour=20
Dexterity=55
FearWounded=12
FearStronger=400
FearsomeFactor=100
Defence=45
Luck=20
Recovery=5
HungerRate=9000
HungerFill=1
LairSize=1
HurtByLava=0
BaseSpeed=132
GoldHold=75
; Creature image size - XY and YZ
Size=200 50
AttackPreference=MELEE
Pay=7
HeroVsKeeperCost=0
SlapsToKill=12
CreatureLoyalty=0
LoyaltyLevel=0
DamageToBoulder=17
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize=256 512
LairObject=LAIR_BIRD
Properties=BLEEDS FLYING EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = LAIR NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore=12
ScavengeRequirement=22000
TortureTime=750

[annoyance]
EatFood=-1000
WillNotDoJob=0
InHand=0
NoLair=0
NoHatchery=0
WokenUp=50
StandingOnDeadEnemy=0
Sulking=1
NoSalary=500
Slapped=50
StandingOnDeadFriend=0
InTorture=5
InTemple=-50
Sleeping=-1
GotWage=-1000
WinBattle=-25
; Game turns required without training and the annoyance level
Untrained=0 0
OthersLeaving=10
; Annoyance caused by performing stressful jobs
JobStress=0
GoingPostal=0
Queue=0
LairEnemy=NULL
AnnoyLevel=8000
AngerJobs=PERSUADE JOIN_ENEMY

[senses]
Hearing = 10
EyeHeight = 500
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 15

[appearance]
WalkingAnimSpeed=100
FootstepPitch=400
VisualRange=18
PossessSwipeIndex=6
NaturalDeathKind=NORMAL
ShotOrigin=0 0 60
CorpseVanishEffect=0
PickUpOffset=0 60 0 0
StatusOffset=520

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers=SWING_WEAPON_FIST NULL NULL FIREBALL NULL SPEED NULL WIND NULL NULL
PowersLevelRequired= 1 0 0 4 0 6 0 8 0 0
; Training values required to reach higher creature levels
; better to make it slower?
LevelsTrainValues= 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp=0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience=LAVA 100
ExperienceForHitting=10
Rebirth=2

[jobs]
PrimaryJobs= RESEARCH
SecondaryJobs= TRAIN
NotDoJobs=
StressfulJobs=
TrainingValue=3
TrainingCost=7
ScavengeValue=1
ScavengerCost=8
ResearchValue=1
ManufactureValue=1
PartnerTraining=20

[sprites]
Stand=BIRD_STAND
Ambulate=BIRD_STAND
Drag=
Attack=BIRD_ATTACK
Dig=0
Smoke=0
Relax=0
PrettyDance=0
GotHit=BIRD_STAND
PowerGrab=BIRD_POWERGRAB
GotSlapped=BIRD_STAND
Celebrate=BIRD_CELEBRATE
Sleep=BIRD_SLEEP
EatChicken=BIRD_EATCHICKEN
Torture=48
Scream=BIRD_SCREAM
DropDead=BIRD_DROPDEAD
DeadSplat=946
GFX18=6
QuerySymbol=BIRD_PORTRAIT
HandSymbol=BIRD_ICON
GFX21=6

[sounds]
Foot = 9 4
Hit = 422 3
Happy = 420 1
Sad = 421 1
Hurt = 422 3
Die = 425 2
Hang = 427 1
Drop = 428 1
Torture = 429 3
Slap = 432 1
Fight = 417 3
