; KeeperFX Creature Model Configuration file

[attributes]
Name = BIRD
NameTextID = 1044
Health = 275
HealRequirement = 0
HealThreshold = 150
Strength = 20
Armour = 20
Dexterity = 55
FearWounded = 0
FearStronger = 1200
FearsomeFactor = 100
Defence = 45
Luck = 20
Recovery = 5
HungerRate = 0
HungerFill = 1
LairSize = 0
HurtByLava = 2
BaseSpeed = 132
GoldHold = 75
Size = 175 300
AttackPreference = MELEE
Pay = 0
SlapsToKill = 4
DamageToBoulder = 17
ThingSize = 256 400
LairObject = LAIR_BIRD
Properties = BLEEDS FLYING EVIL NO_CORPSE_ROTTING NO_IMPRISONMENT NO_RESURRECT NO_TRANSFER NO_STEAL_HERO

[attraction]
EntranceRoom = LAIR NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore = 12
ScavengeRequirement = 22000
TortureTime = 750

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 50
StandingOnDeadEnemy = 0
Sulking = 1
NoSalary = 500
Slapped = 50
StandingOnDeadFriend = 0
InTorture = 5
InTemple = -50
Sleeping = -1
GotWage = -1000
WinBattle = -25
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 0
LairEnemy = SPIDERLING
AnnoyLevel = 8000
AngerJobs = JOIN_ENEMY LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 120
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 22

[appearance]
WalkingAnimSpeed = 200
FootstepPitch = 400
VisualRange = 18
PossessSwipeIndex = 6
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 100
CorpseVanishEffect = 0
PickUpOffset = 0 0
StatusOffset = 120

[experience]
Powers = SWING_WEAPON_FIST NULL SIGHT FIREBALL NULL SPEED NULL WIND NULL NULL
PowersLevelRequired = 1 0 3 4 0 6 0 8 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 10
Rebirth = 0

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 7
ScavengeValue = 1
ScavengerCost = 8
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 35

[sprites]
Stand = BIRD_WALK
Ambulate = BIRD_WALK
Drag = BIRD_WALK
Attack = BIRD_ATTACK
RangedAttack = BIRD_ATTACK
CastSpell = BIRD_ATTACK
Dig = BIRD_ATTACK
Smoke = BIRD_CHEER
Relax = BIRD_CHEER
PrettyDance = BIRD_ATTACK
GotHit = BIRD_HIT
PowerGrab = BIRD_GRAB
GotSlapped = BIRD_HIT
Celebrate = BIRD_CHEER
Sleep = BIRD_SLEEP
EatChicken = BIRD_EAT
Torture = 48
Scream = BIRD_MOAN
DropDead = BIRD_DEAD
DeadSplat = 946
QuerySymbol = BIRD_PORTRAIT
HandSymbol = BIRD_ICON

[sounds]
Foot = 0 1
Hit = 1037 1
Happy = 1035 1
Sad = 1036 2
Hurt = 1037 1
Die = 1037 1
Hang = 1036 1
Drop = 1036 1
Torture = 1036 2
Slap = 1037 1
Fight = 1035 2
