; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = DARK_MISTRESS
NameTextID = 272
Health = 700
HealRequirement = 100
HealThreshold = 100
Strength = 60
Armour = 50
Dexterity = 70
FearWounded = 12
FearStronger = 1200
FearsomeFactor = 150
Defence = 105
Luck = 20
Recovery = 9
HungerRate = 8000
HungerFill = 3
LairSize = 1
HurtByLava = 2
BaseSpeed = 64
GoldHold = 750
; Creature clipbox size - XY and Z.
Size = 200 550
AttackPreference = RANGED
Pay = 175
SlapsToKill = 50
DamageToBoulder = 30
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 240 600
LairObject = LAIR_DKMIS
Properties = BLEEDS HUMANOID_SKELETON EVIL FEMALE

[attraction]
EntranceRoom = TORTURE NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore = 14
ScavengeRequirement = 22000
TortureTime = 3000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 3
NoHatchery = 1
WokenUp = -200
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 2000
Slapped = -400
StandingOnDeadFriend = 40
InTorture = -6
InTemple = -10
Sleeping = -1
GotWage = -150
WinBattle = -400
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = SAMURAI
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 600
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 25

[appearance]
WalkingAnimSpeed = 128
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 6
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384
CorpseVanishEffect = 0
PickUpOffset = -6 126
StatusOffset = 200

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL LIGHTNING SPEED NULL DRAIN TELEPORT
PowersLevelRequired = 1 0 0 0 0 6 7 0 9 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 15

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs = TRAIN KINKY_TORTURE
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 24
ScavengeValue = 3
ScavengerCost = 25
ResearchValue = 2
ManufactureValue = 2
PartnerTraining = 75

[sprites]
Stand = 624
Ambulate = 622
Drag = 622
Attack = 626
RangedAttack = 626
CastSpell = 626
Dig = 626
Smoke = 630
Relax = 630
PrettyDance = 636
GotHit = 628
PowerGrab = 634
GotSlapped = 640
Celebrate = 636
Sleep = 638
EatChicken = 642
Torture = 82
Scream = 630
DropDead = 632
DeadSplat = 946
Roar = 636
QuerySymbol = 151
HandSymbol = 216
Piss = 630

[sounds]
Foot = 13 4
Hit = 439 3
Happy = 437 1
Sad = 438 1
Hurt = 439 3
Die = 442 2
Hang = 444 1
Drop = 445 1
Torture = 446 3
Slap = 449 1
Fight = 434 3
Piss = 171 1
