; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = DEMONSPAWN
NameTextID = 262
Health = 325
HealRequirement = 150
HealThreshold = 200
Strength = 50
Armour = 40
Dexterity = 70
FearWounded = 12
FearStronger = 800
FearsomeFactor = 100
Defence = 50
Luck = 8
Recovery = 5
HungerRate = 6000
HungerFill = 2
LairSize = 1
HurtByLava = 0
BaseSpeed = 48
GoldHold = 250
; Creature image size - XY and YZ
Size = 200 200
AttackPreference = MELEE
Pay = 70
HeroVsKeeperCost = 0
SlapsToKill = 30
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 20
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL TREASURE TRAINING
RoomSlabsRequired = 0 1 1
BaseEntranceScore = 10
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 30
InTorture = 4
InTemple = -40
Sleeping = -1
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 5000 1335
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = HELL_HOUND
AnnoyLevel = 4000
AngerJobs = DAMAGE_WALLS

[senses]
Hearing = 10
EyeHeight = 200
FieldOfView = 1024
EyeEffect = LENS_WIBBLE
MaxAngleChange = 21

[appearance]
WalkingAnimSpeed = 80
VisualRange = 18
PossessSwipeIndex = 6
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 256

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST NULL NULL MISSILE NULL NULL HEAL NULL NULL NULL
PowersLevelRequired = 1 0 0 4 0 0 7 0 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 20000 DRAGON 5
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 6

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = BARRACK
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 15
ScavengeValue = 2
ScavengerCost = 16
ResearchValue = 2
ManufactureValue = 2
PartnerTraining = 0

[sprites]
Stand = 666
Ambulate = 664
Drag = 664
Attack = 668
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 670
PowerGrab = 676
GotSlapped = 682
Celebrate = 678
Sleep = 680
EatChicken = 684
Torture = 86
Scream = 672
DropDead = 674
DeadSplat = 946
GFX18 = 5
QuerySymbol = 149
HandSymbol = 212
GFX21 = 5

[sounds]
Foot = 9 4
Hit = 405 3
Happy = 403 1
Sad = 404 1
Hurt = 405 3
Die = 408 2
Hang = 410 1
Drop = 411 1
Torture = 412 3
Slap = 415 1
Fight = 400 3
