; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = DRAGON
NameTextID = 268
Health = 900
HealRequirement = 195
HealThreshold = 200
Strength = 90
Armour = 110
Dexterity = 60
FearWounded = 12
FearStronger = 1000
FearsomeFactor = 100
Defence = 50
Luck = 18
Recovery = 3
HungerRate = 8000
HungerFill = 4
LairSize = 4
HurtByLava = 0
BaseSpeed = 32
GoldHold = 5000
; Creature image size - XY and YZ
Size = 200 740
AttackPreference = MELEE
Pay = 350
HeroVsKeeperCost = 0
SlapsToKill = 40
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 55
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TREASURE LAIR NULL
RoomSlabsRequired = 25 15 0
BaseEntranceScore = 13
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 100
InHand = 0
NoLair = 4
NoHatchery = 3
WokenUp = 400
StandingOnDeadEnemy = -14
Sulking = 4
NoSalary = 3000
Slapped = 600
StandingOnDeadFriend = 10
InTorture = 10
InTemple = -25
Sleeping = -10
GotWage = -1000
WinBattle = -500
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 10
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON STEAL_GOLD

[senses]
Hearing = 10
EyeHeight = 740
FieldOfView = 1024
EyeEffect = MIST_SMOKE
MaxAngleChange = 8

[appearance]
WalkingAnimSpeed = 96
VisualRange = 18
PossessSwipeIndex = 6
NaturalDeathKind = NORMAL
ShotOrigin = 0 200 550

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = FLAME_BREATH HEAL GRENADE NULL NULL NULL FIRE_BOMB NULL NULL WORD_OF_POWER
PowersLevelRequired = 1 2 3 0 0 0 7 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = LAVA 500
ExperienceForHitting = 17

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 40
ScavengeValue = 5
ScavengerCost = 35
ResearchValue = 4
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = 688
Ambulate = 686
Drag = 686
Attack = 690
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 692
PowerGrab = 698
GotSlapped = 704
Celebrate = 700
Sleep = 702
EatChicken = 706
Torture = 88
Scream = 694
DropDead = 696
DeadSplat = 946
GFX18 = 4
QuerySymbol = 148
HandSymbol = 210
GFX21 = 4

[sounds]
Foot = 17 4
Hit = 388 3
Happy = 386 1
Sad = 387 1
Hurt = 388 3
Die = 391 2
Hang = 393 1
Drop = 394 1
Torture = 395 3
Slap = 398 1
Fight = 383 3
