; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = DRUID
NameTextID = 1042
Health = 380
HealRequirement = 150
HealThreshold = 225
Strength = 24
Armour = 18
Dexterity = 90
FearWounded = 12
FearStronger = 800
FearsomeFactor = 500
Defence = 35
Luck = 3
Recovery = 6
HungerRate = 8000
HungerFill = 3
LairSize = 1
HurtByLava = 8
BaseSpeed = 32
GoldHold = 260
; Creature clipbox size - XY and Z.
Size = 200 512
AttackPreference = RANGED
Pay = 135
SlapsToKill = 19
DamageToBoulder = 30
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 240 560
LairObject = LAIR_DRUID
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
EntranceRoom = RESEARCH GUARD_POST NULL
RoomSlabsRequired = 9 4 0
BaseEntranceScore = 20
ScavengeRequirement = 22000
TortureTime = 500

[annoyance]
EatFood = -700
WillNotDoJob = 200
InHand = 0
NoLair = 5
NoHatchery = 1
WokenUp = 350
StandingOnDeadEnemy = -12
Sulking = 3
NoSalary = 1800
Slapped = 750
StandingOnDeadFriend = 50
InTorture = 5
InTemple = -30
Sleeping = -3
GotWage = -500
WinBattle = -350
Untrained = 12000 25
OthersLeaving = 10
JobStress = 0
GoingPostal = 100
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 560
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 16

[appearance]
WalkingAnimSpeed = 32
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384
CorpseVanishEffect = 0
PickUpOffset = -6 80
StatusOffset = 120

[experience]
Powers = SWING_WEAPON_FIST SLOW SIGHT HAILSTORM NULL DRAIN WIND NULL FREEZE WORD_OF_POWER
PowersLevelRequired = 1 2 3 4 0 6 7 0 9 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 10000 19000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 13

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = GUARD
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 32
ScavengeValue = 5
ScavengerCost = 25
ResearchValue = 4
ManufactureValue = 0
PartnerTraining = 0

[sprites]
Stand = DRUID_STAND
Ambulate = DRUID_WALK
Drag = DRUID_WALK
Attack = DRUID_ATTACK
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = DRUID_HIT
PowerGrab = DRUID_PICKEDUP
GotSlapped = DRUID_SLAPPED
Celebrate = DRUID_CELEBRATE
Sleep = DRUID_LAIRSLEEP
EatChicken = DRUID_EATCHICKEN
Torture = DRUID_TORTURE
Scream = DRUID_COMPLAIN
DropDead = DRUID_DYING
DeadSplat = 946
GFX18 = 8
QuerySymbol = DRUID_PORTRAIT
HandSymbol = DRUID_ICON
GFX21 = 8

[sounds]
Foot = 1 4
Hit = 456 3
Happy = 454 1
Sad = 455 1
Hurt = 456 3
Die = 459 2
Hang = 580 1
Drop = 462 1
Torture = 463 3
Slap = 466 1
Fight = 451 3
