; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = FAIRY
NameTextID = 258
Health = 150
HealRequirement = 150
HealThreshold = 255
Strength = 10
Armour = 10
Dexterity = 70
FearWounded = 12
FearStronger = 800
FearsomeFactor = 2400
Defence = 30
Luck = 40
Recovery = 2
HungerRate = 5000
HungerFill = 1
LairSize = 1
HurtByLava = 2
BaseSpeed = 64
GoldHold = 250
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = RANGED
Pay = 59
HeroVsKeeperCost = 0
SlapsToKill = 8
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 15
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS IMMUNE_TO_GAS HUMANOID_SKELETON FLYING FEMALE

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = RESEARCH LAIR NULL
RoomSlabsRequired = 9 1 0
BaseEntranceScore = 5
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 1
WokenUp = 210
StandingOnDeadEnemy = -6
Sulking = 3
NoSalary = 1000
Slapped = 500
StandingOnDeadFriend = 100
InTorture = 8
InTemple = -60
Sleeping = -1
GotWage = -800
WinBattle = -100
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 35

[appearance]
WalkingAnimSpeed = 64
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST NULL DRAIN LIGHTNING HEAL INVISIBILITY NAVIGATING_MISSILE REBOUND FIRE_BOMB FREEZE
PowersLevelRequired = 1 0 3 4 5 6 7 8 9 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 10

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
NotDoJobs = MANUFACTURE
StressfulJobs =
TrainingValue = 1
TrainingCost = 4
ScavengeValue = 1
ScavengerCost = 4
ResearchValue = 4
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = 272
Ambulate = 270
Drag = 270
Attack = 274
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 276
PowerGrab = 282
GotSlapped = 288
Celebrate = 284
Sleep = 286
EatChicken = 290
Torture = 58
Scream = 278
DropDead = 280
DeadSplat = 946
GFX18 = 15
QuerySymbol = 161
HandSymbol = 198
GFX21 = 17

[sounds]
Foot = 13 4
Hit = 779 3
Happy = 777 1
Sad = 778 1
Hurt = 779 3
Die = 782 2
Hang = 784 1
Drop = 785 1
Torture = 786 3
Slap = 789 1
Fight = 774 3
