; KeeperFX Creature Model Configuration file
; file version 0.31, by Mefistotelis and DragonsLover

[attributes]
; Name is the creature identifier which should be used in level script
Name = FLOATING_SPIRIT
NameTextID = 201
Health = 1
HealRequirement = 0
HealThreshold = 0
Strength = 1
Armour = 1
Dexterity = 1
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 1
Luck = 1
Recovery = 1
HungerRate = 0
HungerFill = 0
LairSize = 0
HurtByLava = 0
BaseSpeed = 128
GoldHold = 0
; Creature image size - XY and YZ
Size = 200 128
AttackPreference = MELEE
Pay = 0
HeroVsKeeperCost = 0
SlapsToKill = 0
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 0
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 0 0
Properties = UNAFFECTED_BY_WIND IMMUNE_TO_GAS FLYING SEE_INVISIBLE PASS_LOCKED_DOORS SPECTATOR

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0
BaseEntranceScore = 0
ScavengeRequirement = 0
TortureTime = 0

[annoyance]
EatFood = 0
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 0
StandingOnDeadEnemy = 0
Sulking = 0
NoSalary = 0
Slapped = 0
StandingOnDeadFriend = 0
InTorture = 0
InTemple = 0
Sleeping = 0
GotWage = 0
WinBattle = 0
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 0
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 0
LairEnemy = NULL
AnnoyLevel = 0
AngerJobs =

[senses]
Hearing = 10
EyeHeight = 128
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 20

[appearance]
WalkingAnimSpeed = 80
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 0
CorpseVanishEffect = 0
PickUpOffset = 0 0 0 0
StatusOffset = 256

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = NULL NULL NULL NULL NULL NULL NULL NULL NULL NULL
PowersLevelRequired = 0 0 0 0 0 0 0 0 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 0 0 0 0 0 0 0 0 0
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 0

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 0
TrainingCost = 0
ScavengeValue = 0
ScavengerCost = 0
ResearchValue = 0
ManufactureValue = 0
PartnerTraining = 0

[sprites]
Stand = 980
Ambulate = 980
Drag = 980
Attack = 980
Dig = 980
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 980
PowerGrab = 980
GotSlapped = 980
Celebrate = 980
Sleep = 980
EatChicken = 980
Torture = 980
Scream = 980
DropDead = 980
DeadSplat = 980
GFX18 = 0
QuerySymbol = 0
HandSymbol = 0
GFX21 = 0

[sounds]
Foot = 0 0
Hit = 0 0
Happy = 0 0
Sad = 0 0
Hurt = 0 0
Die = 0 0
Hang = 0 0
Drop = 0 0
Torture = 0 0
Slap = 0 0
Fight = 0 0
