; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = GHOST
NameTextID = 271
Health = 200
HealRequirement = 150
HealThreshold = 200
Strength = 20
Armour = 20
Dexterity = 90
FearWounded = 12
FearStronger = 800
FearsomeFactor = 100
Defence = 60
Luck = 10
Recovery = 4
HungerRate = 0
HungerFill = 0
LairSize = 1
HurtByLava = 2
BaseSpeed = 64
GoldHold = 1000
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 20
HeroVsKeeperCost = 0
SlapsToKill = 0
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 20
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = IMMUNE_TO_GAS FLYING SEE_INVISIBLE PASS_LOCKED_DOORS EVIL NO_CORPSE_ROTTING

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TORTURE NULL NULL
RoomSlabsRequired = 1 0 0
BaseEntranceScore = 5
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 0
StandingOnDeadEnemy = -6
Sulking = 1
NoSalary = 2000
Slapped = 500
StandingOnDeadFriend = 40
InTorture = 8
InTemple = -60
Sleeping = -1
GotWage = -350
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 1024
EyeEffect = MIST_TWO_LAYER_SMOKE_EDGE
MaxAngleChange = 25

[appearance]
WalkingAnimSpeed = 128
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 256

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST NULL INVISIBILITY REBOUND NULL WIND NULL DRAIN NULL NULL
PowersLevelRequired = 1 0 3 4 0 6 0 8 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 14

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = TEMPLE_PRAY
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 20
ScavengeValue = 3
ScavengerCost = 10
ResearchValue = 2
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = 470
Ambulate = 468
Drag = 468
Attack = 472
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 474
PowerGrab = 480
GotSlapped = 486
Celebrate = 482
Sleep = 484
EatChicken = 470
Torture = 48
Scream = 476
DropDead = 478
DeadSplat = 946
GFX18 = 16
QuerySymbol = 160
HandSymbol = 232
GFX21 = 16

[sounds]
Foot = 0 4
Hit = 575 3
Happy = 573 1
Sad = 574 1
Hurt = 575 3
Die = 578 2
Hang = 580 1
Drop = 581 1
Torture = 582 3
Slap = 585 1
Fight = 570 3
