; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = GIANT
NameTextID = 284
Health = 650
HealRequirement = 150
HealThreshold = 180
Strength = 100
Armour = 60
Dexterity = 60
FearWounded = 12
FearStronger = 1400
FearsomeFactor = 100
Defence = 30
Luck = 20
Recovery = 5
HungerRate = 5000
HungerFill = 3
LairSize = 2
HurtByLava = 2
BaseSpeed = 32
GoldHold = 1000
; Creature image size - XY and YZ
Size = 200 700
AttackPreference = MELEE
Pay = 43
HeroVsKeeperCost = 0
SlapsToKill = 40
CreatureLoyalty = 0
LoyaltyLevel = 4
DamageToBoulder = 50
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON TREMBLING_FAT

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TRAINING GARDEN NULL
RoomSlabsRequired = 25 15 0
BaseEntranceScore = 12
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 1
NoHatchery = 3
WokenUp = 100
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -50
Sleeping = -6
GotWage = -750
WinBattle = -400
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES DAMAGE_WALLS

[senses]
Hearing = 10
EyeHeight = 700
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 10

[appearance]
WalkingAnimSpeed = 96
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST NULL NULL NULL NULL NULL NULL NULL NULL SPEED
PowersLevelRequired = 1 0 0 0 0 0 0 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 15

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs =
NotDoJobs = RESEARCH
StressfulJobs =
TrainingValue = 2
TrainingCost = 35
ScavengeValue = 2
ScavengerCost = 25
ResearchValue = 0
ManufactureValue = 2
PartnerTraining = 0

[sprites]
Stand = 294
Ambulate = 292
Drag = 292
Attack = 296
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 298
PowerGrab = 304
GotSlapped = 310
Celebrate = 306
Sleep = 308
EatChicken = 312
Torture = 48
Scream = 300
DropDead = 302
DeadSplat = 946
GFX18 = 15
QuerySymbol = 169
HandSymbol = 196
GFX21 = 25

[sounds]
Foot = 17 4
Hit = 762 3
Happy = 760 1
Sad = 761 1
Hurt = 762 3
Die = 765 2
Hang = 767 1
Drop = 768 1
Torture = 769 3
Slap = 772 1
Fight = 757 3
