; KeeperFX Creature Model Configuration file
; file version 0.41

[attributes]
; Name is the creature identifier which should be used in level script
Name = HELL_HOUND
NameTextID = 270
Health = 600
HealRequirement = 150
HealThreshold = 200
Strength = 55
Armour = 35
Dexterity = 70
FearWounded = 12
FearStronger = 1200
FearsomeFactor = 100
Defence = 50
Luck = 8
Recovery = 8
HungerRate = 6000
HungerFill = 3
LairSize = 1
HurtByLava = 0
BaseSpeed = 96
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 256
AttackPreference = MELEE
Pay = 67
HeroVsKeeperCost = 0
SlapsToKill = 40
CreatureLoyalty = 50
LoyaltyLevel = 0
DamageToBoulder = 40
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS PISS_ON_DEAD EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = SCAVENGER NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore = 10
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 3
WokenUp = 250
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 250
StandingOnDeadFriend = 100
InTorture = 4
InTemple = -40
Sleeping = -2
GotWage = -400
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = DEMONSPAWN
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 15
EyeHeight = 256
FieldOfView = 1024
EyeEffect = LENS_DOG
MaxAngleChange = 14

[appearance]
WalkingAnimSpeed = 128
VisualRange = 18
PossessSwipeIndex = 6
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 256

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST NULL SPEED NULL FLAME_BREATH NULL NULL NULL NULL NULL
PowersLevelRequired = 1 0 3 0 5 0 0 0 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 13

[jobs]
PrimaryJobs = SEEK_THE_ENEMY
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 14
ScavengeValue = 3
ScavengerCost = 16
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 10

[sprites]
Stand = 2
Ambulate = 0
Drag = 0
Attack = 4
Dig = 22
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 6
PowerGrab = 12
GotSlapped = 18
Celebrate = 14
Sleep = 16
EatChicken = 20
Torture = 48
Scream = 8
DropDead = 10
DeadSplat = 946
GFX18 = 15
QuerySymbol = 159
HandSymbol = 230
GFX21 = 15

[sounds]
Foot = 9 4
Hit = 558 3
Happy = 556 1
Sad = 557 1
Hurt = 558 3
Die = 561 2
Hang = 563 1
Drop = 564 1
Torture = 565 3
Slap = 568 1
Fight = 553 3
