; KeeperFX Creature Model Configuration file
; file version 0.41

[attributes]
; Name is the creature identifier which should be used in level script
Name = HORNY
NameTextID = 267
Health = 2000
HealRequirement = 150
HealThreshold = 150
Strength = 85
Armour = 70
Dexterity = 140
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 70
Luck = 10
Recovery = 8
HungerRate = 3505
HungerFill = 4
LairSize = 1
HurtByLava = 0
BaseSpeed = 96
GoldHold = 2500
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 950
HeroVsKeeperCost = 0
SlapsToKill = 80
CreatureLoyalty = 0
LoyaltyLevel = 1
DamageToBoulder = 40
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL TEMPLE NULL
RoomSlabsRequired = 0 9 0
BaseEntranceScore = 14
ScavengeRequirement = 22000
TortureTime = 3000

[annoyance]
EatFood = 100
WillNotDoJob = 2000
InHand = 10
NoLair = 5
NoHatchery = 4
WokenUp = 3000
StandingOnDeadEnemy = -50
Sulking = 15
NoSalary = 8000
Slapped = 3750
StandingOnDeadFriend = -25
InTorture = 300
InTemple = -25
Sleeping = 2
GotWage = -100
WinBattle = -300
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 48
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = MAD_PSYCHO

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 2047
EyeEffect = NULL
MaxAngleChange = 35

[appearance]
WalkingAnimSpeed = 192
VisualRange = 18
PossessSwipeIndex = 3
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL SPEED NULL NULL NULL NULL SLOW
PowersLevelRequired = 1 0 0 0 5 0 0 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 35

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs =
NotDoJobs = BARRACK
StressfulJobs =
TrainingValue = 1
TrainingCost = 150
ScavengeValue = 4
ScavengerCost = 30
ResearchValue = 1
ManufactureValue = 0
PartnerTraining = 0

[sprites]
Stand = 754
Ambulate = 752
Drag = 752
Attack = 756
Dig = 766
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 758
PowerGrab = 764
GotSlapped = 770
Celebrate = 766
Sleep = 768
EatChicken = 772
Torture = 48
Scream = 760
DropDead = 762
DeadSplat = 946
GFX18 = 1
QuerySymbol = 145
HandSymbol = 204
GFX21 = 1

[sounds]
Foot = 1 4
Hit = 337 3
Happy = 335 1
Sad = 336 1
Hurt = 337 3
Die = 340 2
Hang = 342 1
Drop = 343 1
Torture = 344 3
Slap = 347 1
Fight = 332 3
