; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = MAIDEN
NameTextID = 1045
Health = 800
HealRequirement = 150
HealThreshold = 200
Strength = 55
Armour = 30
Dexterity = 60
FearWounded = 10
FearStronger = 6000
FearsomeFactor = 400
Defence = 40
Luck = 10
Recovery = 5
HungerRate = 7000
HungerFill = 3
LairSize = 3
HurtByLava = 2
BaseSpeed = 48
GoldHold = 800
Size = 200 512
AttackPreference = MELEE
Pay = 133
SlapsToKill = 23
DamageToBoulder = 50
ThingSize = 256 512
LairObject = LAIR_MAIDEN
SpellImmunity = FEAR
Properties = BLEEDS EVIL FEMALE ARACHNID

[attraction]
EntranceRoom = BARRACKS NULL NULL
RoomSlabsRequired = 12 0 0
BaseEntranceScore = 8
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 4
NoHatchery = 1
WokenUp = 500
StandingOnDeadEnemy = -25
Sulking = 3
NoSalary = 2000
Slapped = 550
StandingOnDeadFriend = 15
InTorture = 10
InTemple = -70
Sleeping = -4
GotWage = -750
WinBattle = -440
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 25
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = KILL_DIGGERS LEAVE_DUNGEON

[senses]
Hearing = 8
EyeHeight = 410
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 15

[appearance]
WalkingAnimSpeed = 75
FootstepPitch = 300
VisualRange = 18
PossessSwipeIndex = 6
NaturalDeathKind = NORMAL
ShotOrigin = 0 128 300
CorpseVanishEffect = 0
PickUpOffset = 0 0
StatusOffset = 0

[experience]
Powers = SWING_WEAPON_FIST SLOW NULL SPIDERLING ARMOUR NULL DRAIN NULL FEAR NULL
PowersLevelRequired = 1 2 0 4 5 0 7 0 9 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 15

[jobs]
PrimaryJobs = BARRACK
SecondaryJobs = FIGHT
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 20
ScavengeValue = 3
ScavengerCost = 24
ResearchValue = 3
ManufactureValue = 2
PartnerTraining = 0

[sprites]
Stand = MAIDEN_STAND
Ambulate = MAIDEN_WALK
Drag = MAIDEN_WALK
Attack = MAIDEN_ATTACK
RangedAttack = MAIDEN_ATTACK
CastSpell = MAIDEN_SPELL
Dig = MAIDEN_ATTACK
Smoke = MAIDEN_MOAN
Relax = MAIDEN_MOAN
PrettyDance = MAIDEN_SPELL
GotHit = MAIDEN_HIT
PowerGrab = MAIDEN_GRAB
GotSlapped = MAIDEN_HIT
Celebrate = MAIDEN_CHEER
Sleep = MAIDEN_SLEEP
EatChicken = MAIDEN_EAT
PrettyDance = MAIDEN_SPELL
Torture = MAIDEN_TORTURE
Scream = MAIDEN_MOAN
DropDead = MAIDEN_DEAD
DeadSplat = 946
Roar = MAIDEN_SPELL
QuerySymbol = MAIDEN_PORTRAIT
HandSymbol = MAIDEN_ICON
Piss = MAIDEN_MOAN

[sounds]
Foot = 9 4
Hit = 439 3
Happy = 437 1
Sad = 438 1
Hurt = 439 3
Die = 442 2
Hang = 444 1
Drop = 445 1
Torture = 446 3
Slap = 449 1
Fight = 434 3
Piss = 171 1
