; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = MONK
NameTextID = 286
Health = 325
HealRequirement = 150
HealThreshold = 200
Strength = 40
Armour = 20
Dexterity = 80
FearWounded = 12
FearStronger = 800
FearsomeFactor = 300
Defence = 80
Luck = 30
Recovery = 8
HungerRate = 5000
HungerFill = 2
LairSize = 1
HurtByLava = 2
BaseSpeed = 32
GoldHold = 750
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 75
HeroVsKeeperCost = 0
SlapsToKill = 25
CreatureLoyalty = 0
LoyaltyLevel = 8
DamageToBoulder = 40
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TEMPLE NULL NULL
RoomSlabsRequired = 8 0 0
BaseEntranceScore = 7
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 3
WokenUp = 200
StandingOnDeadEnemy = 0
Sulking = 2
NoSalary = 2000
Slapped = 250
StandingOnDeadFriend = 50
InTorture = 4
InTemple = -100
Sleeping = -4
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 12

[appearance]
WalkingAnimSpeed = 64
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST HEAL ARMOUR SLOW MISSILE NULL DRAIN NULL HAILSTORM WORD_OF_POWER
PowersLevelRequired = 1 2 3 4 5 0 7 0 9 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 14

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = 
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 12
ScavengeValue = 3
ScavengerCost = 15
ResearchValue = 3
ManufactureValue = 2
PartnerTraining = 0

[sprites]
Stand = 206
Ambulate = 204
Drag = 204
Attack = 208
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 210
PowerGrab = 216
GotSlapped = 222
Celebrate = 218
Sleep = 220
EatChicken = 224
Torture = 48
Scream = 212
DropDead = 214
DeadSplat = 946
GFX18 = 15
QuerySymbol = 172
HandSymbol = 184
GFX21 = 28

[sounds]
Foot = 9 4
Hit = 660 3
Happy = 658 1
Sad = 659 1
Hurt = 660 3
Die = 663 2
Hang = 665 1
Drop = 666 1
Torture = 667 3
Slap = 670 1
Fight = 655 3
