; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = SORCEROR
NameTextID = 263
Health = 350
HealRequirement = 150
HealThreshold = 255
Strength = 20
Armour = 15
Dexterity = 100
FearWounded = 12
FearStronger = 800
FearsomeFactor = 500
Defence = 30
Luck = 6
Recovery = 6
HungerRate = 8000
HungerFill = 3
LairSize = 1
HurtByLava = 2
BaseSpeed = 32
GoldHold = 400
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = RANGED
Pay = 120
HeroVsKeeperCost = 0
SlapsToKill = 17
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = RESEARCH NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore = 12
ScavengeRequirement = 22000
TortureTime = 750

[annoyance]
EatFood = -1000
WillNotDoJob = 200
InHand = 0
NoLair = 4
NoHatchery = 1
WokenUp = 250
StandingOnDeadEnemy = -12
Sulking = 3
NoSalary = 2500
Slapped = 750
StandingOnDeadFriend = 75
InTorture = 8
InTemple = -70
Sleeping = -4
GotWage = -750
WinBattle = -450
; Game turns required without training and the annoyance level
Untrained = 12000 25
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 100
GoingPostal = 100
Queue = 4
LairEnemy = VAMPIRE
AnnoyLevel = 4000
AngerJobs = PERSUADE

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 16

[appearance]
WalkingAnimSpeed = 32
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST FIREBALL HEAL FIRE_BOMB INVISIBILITY NAVIGATING_MISSILE SIGHT WIND WORD_OF_POWER NULL
PowersLevelRequired = 1 2 3 4 5 6 7 8 9 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = GOLD 200
ExperienceForHitting = 12

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
NotDoJobs = MANUFACTURE
StressfulJobs = KINKY_TORTURE
TrainingValue = 2
TrainingCost = 30
ScavengeValue = 5
ScavengerCost = 25
ResearchValue = 4
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = 602
Ambulate = 600
Drag = 600
Attack = 604
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 606
PowerGrab = 612
GotSlapped = 618
Celebrate = 614
Sleep = 616
EatChicken = 620
Torture = 80
Scream = 608
DropDead = 610
DeadSplat = 946
GFX18 = 8
QuerySymbol = 152
HandSymbol = 218
GFX21 = 8

[sounds]
Foot = 1 4
Hit = 456 3
Happy = 454 1
Sad = 455 1
Hurt = 456 3
Die = 459 2
Hang = 461 1
Drop = 462 1
Torture = 463 3
Slap = 466 1
Fight = 451 3
