; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = SPIDER
NameTextID = 265
Health = 400
HealRequirement = 150
HealThreshold = 200
Strength = 40
Armour = 30
Dexterity = 60
FearWounded = 12
FearStronger = 800
FearsomeFactor = 100
Defence = 50
Luck = 3
Recovery = 2
HungerRate = 7000
HungerFill = 2
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 250
; Creature image size - XY and YZ
Size = 200 128
AttackPreference = MELEE
Pay = 25
HeroVsKeeperCost = 0
SlapsToKill = 24
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 20
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS ARACHNID EVIL INSECT

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL GARDEN LAIR
RoomSlabsRequired = 0 9 9
BaseEntranceScore = 8
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 1
NoHatchery = 2
WokenUp = 100
StandingOnDeadEnemy = -6
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 25
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = FLY
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 128
FieldOfView = 1024
EyeEffect = MIST_BLOB
MaxAngleChange = 18

[appearance]
WalkingAnimSpeed = 64
VisualRange = 18
PossessSwipeIndex = 6
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 256

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST SLOW NULL FREEZE NULL NULL NULL HAILSTORM NULL NULL
PowersLevelRequired = 1 2 0 4 0 0 0 8 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 3

[jobs]
PrimaryJobs = FREEZE_PRISONERS
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 18
ScavengeValue = 2
ScavengerCost = 12
ResearchValue = 1
ManufactureValue = 2
PartnerTraining = 0

[sprites]
Stand = 490
Ambulate = 488
Drag = 488
Attack = 492
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 494
PowerGrab = 500
GotSlapped = 506
Celebrate = 502
Sleep = 504
EatChicken = 508
Torture = 74
Scream = 496
DropDead = 498
DeadSplat = 946
GFX18 = 13
QuerySymbol = 157
HandSymbol = 228
GFX21 = 13

[sounds]
Foot = 9 4
Hit = 541 3
Happy = 539 1
Sad = 540 1
Hurt = 541 3
Die = 544 2
Hang = 546 1
Drop = 547 1
Torture = 548 3
Slap = 551 1
Fight = 536 3
