; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = THIEF
NameTextID = 281
Health = 250
HealRequirement = 150
HealThreshold = 255
Strength = 30
Armour = 20
Dexterity = 120
FearWounded = 12
FearStronger = 1200
FearsomeFactor = 100
Defence = 80
Luck = 14
Recovery = 4
HungerRate = 5000
HungerFill = 2
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 1750
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 57
HeroVsKeeperCost = 0
SlapsToKill = 30
CreatureLoyalty = 0
LoyaltyLevel = 8
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TREASURE LAIR NULL
RoomSlabsRequired = 9 1 0
BaseEntranceScore = 6
ScavengeRequirement = 22000
TortureTime = 100

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 3000
Slapped = 200
StandingOnDeadFriend = 15
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -1000
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 5
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON STEAL_GOLD

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 25

[appearance]
WalkingAnimSpeed = 128
VisualRange = 18
PossessSwipeIndex = 4
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL SPEED NULL NULL INVISIBILITY NULL NULL REBOUND
PowersLevelRequired = 1 0 0 4 0 0 7 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 20000 KNIGHT 3
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 9

[jobs]
PrimaryJobs = 
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 1
TrainingCost = 12
ScavengeValue = 2
ScavengerCost = 8
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 10

[sprites]
Stand = 250
Ambulate = 248
Drag = 248
Attack = 252
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 254
PowerGrab = 260
GotSlapped = 266
Celebrate = 262
Sleep = 264
EatChicken = 268
Torture = 64
Scream = 256
DropDead = 258
DeadSplat = 946
GFX18 = 19
QuerySymbol = 163
HandSymbol = 200
GFX21 = 19

[sounds]
Foot = 1 4
Hit = 796 3
Happy = 794 1
Sad = 795 1
Hurt = 796 3
Die = 799 2
Hang = 801 1
Drop = 802 1
Torture = 803 3
Slap = 806 1
Fight = 791 3
