; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = TROLL
NameTextID = 261
Health = 450
HealRequirement = 150
HealThreshold = 200
Strength = 40
Armour = 35
Dexterity = 50
FearWounded = 12
FearStronger = 800
FearsomeFactor = 100
Defence = 50
Luck = 10
Recovery = 6
HungerRate = 6000
HungerFill = 3
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 350
AttackPreference = MELEE
Pay = 50
HeroVsKeeperCost = 0
SlapsToKill = 25
CreatureLoyalty = 0
LoyaltyLevel = 6
DamageToBoulder = 40
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = WORKSHOP NULL NULL
RoomSlabsRequired = 1 0 0
BaseEntranceScore = 11
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 1
NoHatchery = 3
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 30
InTorture = 4
InTemple = -50
Sleeping = -3
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 350
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 15

[appearance]
WalkingAnimSpeed = 96
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL SPEED NULL NULL FIREBALL NULL NULL GRENADE
PowersLevelRequired = 1 0 0 4 0 0 7 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 7

[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs =
NotDoJobs = RESEARCH
StressfulJobs =
TrainingValue = 2
TrainingCost = 12
ScavengeValue = 2
ScavengerCost = 18
ResearchValue = 1
ManufactureValue = 4
PartnerTraining = 0

[sprites]
Stand = 710
Ambulate = 708
Drag = 708
Attack = 712
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 714
PowerGrab = 720
GotSlapped = 726
Celebrate = 722
Sleep = 724
EatChicken = 728
Torture = 90
Scream = 716
DropDead = 718
DeadSplat = 946
GFX18 = 3
QuerySymbol = 147
HandSymbol = 208
GFX21 = 3

[sounds]
Foot = 9 4
Hit = 371 3
Happy = 369 1
Sad = 370 1
Hurt = 371 3
Die = 374 2
Hang = 376 1
Drop = 377 1
Torture = 378 3
Slap = 381 1
Fight = 366 3
