; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = WITCH
NameTextID = 283
Health = 300
HealRequirement = 150
HealThreshold = 225
Strength = 20
Armour = 20
Dexterity = 80
FearWounded = 12
FearStronger = 800
FearsomeFactor = 800
Defence = 45
Luck = 6
Recovery = 3
HungerRate = 5000
HungerFill = 2
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 400
; Creature clipbox size - XY and Z.
Size = 200 512
AttackPreference = RANGED
Pay = 75
SlapsToKill = 20
DamageToBoulder = 40
; Creature thing size - XY and Z, one cube is 256x256.
ThingSize = 256 560
LairObject = LAIR_WITCH
Properties = BLEEDS HUMANOID_SKELETON FEMALE

[attraction]
EntranceRoom = RESEARCH SCAVENGER NULL
RoomSlabsRequired = 9 1 0
BaseEntranceScore = 6
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 3
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 3
NoSalary = 2000
Slapped = 350
StandingOnDeadFriend = 40
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 530
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 15

[appearance]
WalkingAnimSpeed = 96
FootstepPitch = 100
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384
CorpseVanishEffect = 0
PickUpOffset = 6 74
StatusOffset = 200

[experience]
Powers = SWING_WEAPON_FIST FLY POISON_CLOUD REBOUND WIND NULL LIGHTNING HEAL NAVIGATING_MISSILE HAILSTORM
PowersLevelRequired = 1 2 3 4 5 0 7 8 9 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 15

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = 
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 16
ScavengeValue = 3
ScavengerCost = 20
ResearchValue = 3
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = 316
Ambulate = 314
Drag = 314
Attack = 318
RangedAttack = 318
CastSpell = 318
Dig = 318
Smoke = 330
Relax = 330
PrettyDance = 328
GotHit = 320
PowerGrab = 326
GotSlapped = 332
Celebrate = 328
Sleep = 330
EatChicken = 334
Torture = 48
Scream = 322
DropDead = 324
DeadSplat = 946
Roar = 328
QuerySymbol = 170
HandSymbol = 194
Piss = 322

[sounds]
Foot = 13 4
Hit = 745 3
Happy = 743 1
Sad = 744 1
Hurt = 745 3
Die = 748 2
Hang = 750 1
Drop = 751 1
Torture = 752 3
Slap = 755 1
Fight = 740 3
Piss = 171 1
