; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = WIZARD
NameTextID = 277
Health = 350
HealRequirement = 150
HealThreshold = 255
Strength = 20
Armour = 15
Dexterity = 100
FearWounded = 12
FearStronger = 800
FearsomeFactor = 800
Defence = 30
Luck = 5
Recovery = 4
HungerRate = 5000
HungerFill = 2
LairSize = 1
HurtByLava = 2
BaseSpeed = 32
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = RANGED
Pay = 125
HeroVsKeeperCost = 0
SlapsToKill = 17
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS IMMUNE_TO_GAS HUMANOID_SKELETON

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = RESEARCH NULL NULL
RoomSlabsRequired = 9 0 0
BaseEntranceScore = 12
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 200
InHand = 0
NoLair = 4
NoHatchery = 1
WokenUp = 250
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 300
StandingOnDeadFriend = 60
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 100
GoingPostal = 100
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 10

[appearance]
WalkingAnimSpeed = 64
VisualRange = 18
PossessSwipeIndex = 1
NaturalDeathKind = NORMAL
ShotOrigin = 0 0 384

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST MISSILE FIREBALL REBOUND HEAL FREEZE HAILSTORM DRAIN SLOW FIRE_BOMB
PowersLevelRequired = 1 1 3 5 5 6 7 8 9 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 14

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
NotDoJobs = MANUFACTURE
StressfulJobs = KINKY_TORTURE
TrainingValue = 2
TrainingCost = 30
ScavengeValue = 4
ScavengerCost = 25
ResearchValue = 5
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = 426
Ambulate = 424
Drag = 424
Attack = 428
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 430
PowerGrab = 436
GotSlapped = 442
Celebrate = 438
Sleep = 440
EatChicken = 444
Torture = 52
Scream = 432
DropDead = 434
DeadSplat = 946
GFX18 = 20
QuerySymbol = 164
HandSymbol = 178
GFX21 = 20

[sounds]
Foot = 1 4
Hit = 609 3
Happy = 607 1
Sad = 608 1
Hurt = 609 3
Die = 612 2
Hang = 614 1
Drop = 615 1
Torture = 616 3
Slap = 619 1
Fight = 604 3
