; KeeperFX Partial Creature Configuration file version 1.0 for Classic maps and campaigns, by Mefistotelis.
; Note that it is partial config file - do not replace global config with this file.

[instance16]
Name = SLOW
ResetTime = 550
FPResetTime = 500

[instance19]
Name = MISSILE
FPResetTime = 2

[instance20]
Name = NAVIGATING_MISSILE
FPResetTime = 2

[instance22]
Name = WIND
ValidateTargetFunc = validate_target_takes_gas_damage 0 0

[instance26]
Name = GRENADE
ResetTime = 60
FPResetTime = 20
