; KeeperFX Creatures Configuration file
; file version 0.29

[common]
Creatures = WIZARD BARBARIAN ARCHER MONK DWARFA KNIGHT AVATAR TUNNELLER WITCH GIANT FAIRY THIEF SAMURAI HORNY SKELETON TROLL DRAGON DEMONSPAWN FLY DARK_MISTRESS SORCEROR BILE_DEMON IMP BUG VAMPIRE SPIDER HELL_HOUND GHOST TENTACLE ORC FLOATING_SPIRIT

[instance16]
Name = SLOW
ResetTime = 550
FPResetTime = 500

[instance19]
Name = MISSILE
FPResetTime = 2

[instance20]
Name = NAVIGATING_MISSILE
FPResetTime = 2

[instance26]
Name = GRENADE
ResetTime = 60
FPResetTime = 20
