; Partial Computer Player (so-called AI) configuration file version 1.0.

[check33]
Name = CHECK FOR ENOUGH IMPS
Params = 16 9 0 0

[check34]
Name = CHECK FOR ENOUGH IMPS
Params = 11 5 0 0

[check35]
Name = CHECK FOR ENOUGH IMPS
Params = 14 12 0 0

[check41]
Name = MOVE CREATURE TO ROOM
Params = 70 6 0 7000

[check43]
Name = MOVE CREATURE TO BEST ROOM
Params = 50 0 0 0

[check44]
Name = MOVE CREATURE TO BEST ROOM
Params = 20 0 0 0

[event11]
Name = EVENT MAGIC FOE
Mnemonic = MagcFoe
Values = 2 2 300

[event16]
Name = EVENT MOANING PRISONER
Params = 0 8 20 0

[event17]
Name = EVENT MOANING PRISONER
Params = 0 0 0 0

[event18]
Name = EVENT MOANING PRISONER
Params = 0 8 20 0

[event19]
Name = EVENT SAVE TORTURED
Params = 0 0 0 0

[event20]
Name = EVENT ENEMY DOOR
Params = 255 2500 2 0