; KeeperFX Partial Magic Configuration file version 1.0 for Classic maps and campaigns, by Mefistotelis.
; Note that it is partial config file - do not replace global config with this file.

[shot4]
Name = SHOT_LIGHTNING
Properties = REBOUND_IMMUNE WIND_IMMUNE FIXED_DAMAGE

[shot14]
Name = SHOT_ARROW
Damage = 30
Properties =

[power8]
Name = POWER_HEAL_CREATURE
Power = 80 120 160 210 260 360 480  680  950
