; KeeperFX Partial Game Rules Configuration file version 1.0 for Classic maps and campaigns, by Mefistotelis.
; Note that it is partial config file - do not replace global config with this file.

[game]
DungeonHeartHealHealth = 1
MapCreatureLimit =  255