; KeeperFX Traps and Doors Configuration file
; file version 0.34

[common]  
TrapsCount = 7
DoorsCount = 5

[door2]
Name = BRACED
Health = 750

[door3]
Name = STEEL
Health = 1500

[door4]  
Name = MAGIC
Health = 3000

; Traps configuration

[trap0]
Name = NOTRAP
NameTextID = 201
TooltipTextID = 201
SymbolSprites = 0 0
PointerSprites = 0
PanelTabIndex = 0
Crate = NULL
ManufactureLevel = 0
ManufactureRequired = 0
Shots = 0
TimeBetweenShots = 0
SellingValue = 0
;Model of the placed trap
Model = 0
ModelSize = 0
AnimationSpeed = 0
;Unanimated means the Model animation does not loop
Unanimated = 0
;How to trigger the trap.
;1: Line of sight 90 degrees
;2: Pressure activated
;3: Line of sight
TriggerType = 0
;Type of effect on activation.
;1: Trap shot head for target
;2: Trap effect
;3: Trap shot stay on trap
;4: Change the slab into another slab type
;5: Shoot like a creature would
;6: Spawns a unit
;7: Keeper spell
ActivationType = 0
; The shot/effect/slab number/creature number/keeper power, dependent on the Activation Type
EffectType = 0
; If the trap is visible before getting triggered
Hidden = 0
; Can the trap be triggered by activating it. Shots only.
Slappable = 0
; Will there be an event message when the trap is triggered
TriggerAlarm = 0

[trap1]
Name = BOULDER
NameTextID = 578
TooltipTextID = 584
SymbolSprites = 130 152
PointerSprites = 5
PanelTabIndex = 5
Crate = WRKBOX_BOULDER
ManufactureLevel = 3
ManufactureRequired = 25000
Shots = 1
TimeBetweenShots = 0
SellingValue = 1000
Model = 861
ModelSize = 384
AnimationSpeed = 0
Unanimated = 1
TriggerType = 1
ActivationType = 1
EffectType = 15
Hidden = 0
Slappable = 1

[trap2]
Name = ALARM
NameTextID = 579
TooltipTextID = 585
SymbolSprites = 132 154
PointerSprites = 9
PanelTabIndex = 1
Crate = WRKBOX_ALARM
ManufactureLevel = 0
ManufactureRequired = 18000
Shots = 12
TimeBetweenShots = 2000
SellingValue = 250
Model = 844
ModelSize = 256
AnimationSpeed = 256
TriggerType = 2
ActivationType = 3
EffectType = 19
Hidden = 1
TriggerAlarm = 1

[trap3]
Name = POISON_GAS
NameTextID = 580
TooltipTextID = 586
SymbolSprites = 134 156
PointerSprites = 7
PanelTabIndex = 2
Crate = WRKBOX_POISONG
ManufactureLevel = 1
ManufactureRequired = 20000
Shots = 5
TimeBetweenShots = 200
SellingValue = 350
Model = 845
ModelSize = 256
AnimationSpeed = 256
TriggerType = 2
ActivationType = 2
EffectType = 13
Hidden = 1

[trap4]
Name = LIGHTNING
NameTextID = 581
TooltipTextID = 587
SymbolSprites = 136 158
PointerSprites = 8
PanelTabIndex = 3
Crate = WRKBOX_LIGHTNG
ManufactureLevel = 2
ManufactureRequired = 20000
Shots = 6
TimeBetweenShots = 140
SellingValue = 500
Model = 846
ModelSize = 256
AnimationSpeed = 256
TriggerType = 2
ActivationType = 3
EffectType = 29
Hidden = 1

[trap5]
Name = WORD_OF_POWER
NameTextID = 582
TooltipTextID = 588
SymbolSprites = 138 160
PointerSprites = 6
PanelTabIndex = 6
Crate = WRKBOX_WRDOFPW
ManufactureLevel = 4
ManufactureRequired = 20000
Shots = 3
TimeBetweenShots = 84
SellingValue = 750
Model = 844
ModelSize = 256
AnimationSpeed = 256
TriggerType = 2
ActivationType = 2
EffectType = 14
Hidden = 1

[trap6]
Name = LAVA
NameTextID = 583
TooltipTextID = 589
SymbolSprites = 140 162
PointerSprites = 10
PanelTabIndex = 4
Crate = WRKBOX_LAVA
ManufactureLevel = 3
ManufactureRequired = 20000
Shots = 1
TimeBetweenShots = 0
SellingValue = 750
Model = 845
ModelSize = 256
AnimationSpeed = 256
TriggerType = 2
ActivationType = 4
EffectType = 12
Hidden = 1
