; KeeperFX multiplayer mappack file
; Classic mappack: PvP maps in the style that Bullfrog did, but balanced and fun.

[common]
NAME = Classic Multiplayer Maps
; todo, add new namestring
;NAME_TEXT_ID = 972
LEVELS_LOCATION = multiplayer/classic
LAND_LOCATION   = campgns/keeporig_lnd
;CREATURES_LOCATION = multiplayer/classic_crtr
CONFIGS_LOCATION = multiplayer/classic_cfgs
LAND_VIEW_START = rgmap00 viframe00
MEDIA_LOCATION = ldata
LAND_MARKERS = ENSIGNS

[strings]
ENG = fxdata/gtext_eng.dat
FRE = fxdata/gtext_fre.dat
GER = fxdata/gtext_ger.dat
ITA = fxdata/gtext_ita.dat
SPA = fxdata/gtext_spa.dat
SWE = fxdata/gtext_swe.dat
POL = fxdata/gtext_pol.dat
DUT = fxdata/gtext_dut.dat
JPN = fxdata/gtext_jpn.dat
CHI = fxdata/gtext_chi.dat
CHT = fxdata/gtext_cht.dat
RUS = fxdata/gtext_rus.dat
CZE = fxdata/gtext_cze.dat
KOR = fxdata/gtext_kor.dat
UKR = fxdata/gtext_ukr.dat
LAT = fxdata/gtext_lat.dat