; KeeperFX Partial Creature Configuration file version 1.0 for Twin Keepers.
; This file contains original Bullfrog's values for creature config parameters.
; Values and sections which are not here will be left at default.
; Note that it is a partial config file - do not replace global config with this file.

[attributes]
Name = ARCHER

[experience]
Powers = SWING_WEAPON_FIST FIRE_ARROW NULL NAVIGATING_MISSILE NULL SPEED NULL SLOW NULL NULL
PowersLevelRequired = 1 1 0 4 0 6 0 8 0 0
