; KeeperFX Partial Creature Configuration file
; file version 0.10 for Twin Keepers

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
Name = IMP
Properties = BLEEDS SPECIAL_DIGGER EVIL NO_ENMHEART_ATTCK