; KeeperFX Partial Creature Configuration file
; file version 0.10 for Twin Keepers

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[attributes]
; Name is the creature identifier which should be used in level script
Name = TUNNELLER
GoldHold = 500