; KeeperFX Mappack file
; Modify this file to create your own mappacks.

[common]
NAME = Standard levels
; Name of the map pack from the GUI text file. Remove or leave empty if unavailable.
NAME_TEXT_ID = 971
; Folders storing level files for the mappack
LEVELS_LOCATION = levels/standard
; If you wish your levels to have customized creatures, you may uncomment this
;CREATURES_LOCATION = levels/standard_crtr
; If you wish your levels to have customized rules and other configs, you may uncomment this
;CONFIGS_LOCATION = levels/standard_cfgs
; High score table parameters (num of entries and file name)
HIGH_SCORES = 9999 scr_stnd.dat
; Player number to use for human player in these levels.
; Valid values are: RED, BLUE, GREEN, YELLOW
HUMAN_PLAYER = RED

; Text strings file used for ingame info messages and objectives (not for GUI)
; The file can contain up to 1024 strings, separated by null character.
; If there's no file for current language, then first entry is selected by default.
; If your levels support only one language, you may comment out all lines but one.
; If the levels don't use custom strings file, then leave this section unchanged.
[strings]
ENG = levels/standard/text_eng.dat
CHI = levels/standard/text_chi.dat
;FRE = levels/standard/text_fre.dat
;GER = levels/standard/text_ger.dat
;ITA = levels/standard/text_ita.dat
;SPA = levels/standard/text_spa.dat
;SWE = levels/standard/text_swe.dat
;POL = levels/standard/text_pol.dat
;DUT = levels/standard/text_dut.dat
;JPN = levels/standard/text_jpn.dat
;CHT = levels/standard/text_cht.dat
;RUS = levels/standard/text_rus.dat
;CZE = levels/standard/text_cze.dat
;KOR = levels/standard/text_kor.dat
;HUN = levels/standard/text_hun.dat
;DAN = levels/standard/text_dan.dat
;NOR = levels/standard/text_nor.dat
;ARA = levels/standard/text_ara.dat
