; KeeperFX Traps and Doors Configuration file
; file version 0.30, by Mefistotelis and DragonsLover

[common]  
TrapsCount = 7
DoorsCount = 5

; Doors configuration

[door0]
Name = NODOOR
NameTextID = 201
TooltipTextID = 201
Crate = NULL
ManufactureLevel = 0
ManufactureRequired = 0
SellingValue = 0
Health = 0

[door1]  
Name = WOOD
NameTextID = 590
TooltipTextID = 594
Crate = WRKBOX_WOOD
ManufactureLevel = 0
ManufactureRequired = 18000
SellingValue = 250
Health = 400

[door2]  
Name = BRACED
NameTextID = 591
TooltipTextID = 595
Crate = WRKBOX_BRACE
ManufactureLevel = 1
ManufactureRequired = 24000
SellingValue = 500
Health = 750

[door3]  
Name = STEEL
NameTextID = 592
TooltipTextID = 596
Crate = WRKBOX_STEEL
ManufactureLevel = 3
ManufactureRequired = 26000
SellingValue = 750
Health = 1500

[door4]  
Name = MAGIC
NameTextID = 593
TooltipTextID = 597
Crate = WRKBOX_MAGIC
ManufactureLevel = 4
ManufactureRequired = 50000
SellingValue = 1500
Health = 3000

; Traps configuration

[trap0]  
Name = NOTRAP
NameTextID = 201
TooltipTextID = 201
Crate = NULL
ManufactureLevel = 0
ManufactureRequired = 0
Shots = 0
TimeBetweenShots = 0
SellingValue = 0

[trap1]  
Name = BOULDER
NameTextID = 578
TooltipTextID = 584
Crate = WRKBOX_BOULDER
ManufactureLevel = 3
ManufactureRequired = 25000
Shots = 1
TimeBetweenShots = 0
SellingValue = 1000

[trap2]  
Name = ALARM
NameTextID = 579
TooltipTextID = 585
Crate = WRKBOX_ALARM
ManufactureLevel = 0
ManufactureRequired = 18000
Shots = 12
TimeBetweenShots = 1500
SellingValue = 250

[trap3]  
Name = POISON_GAS
NameTextID = 580
TooltipTextID = 586
Crate = WRKBOX_POISONG
ManufactureLevel = 0
ManufactureRequired = 20000
Shots = 5
TimeBetweenShots = 200
SellingValue = 350

[trap4]  
Name = LIGHTNING
NameTextID = 581
TooltipTextID = 587
Crate = WRKBOX_LIGHTNG
ManufactureLevel = 1
ManufactureRequired = 20000
Shots = 6
TimeBetweenShots = 140
SellingValue = 500

[trap5]  
Name = WORD_OF_POWER
NameTextID = 582
TooltipTextID = 588
Crate = WRKBOX_WRDOFPW
ManufactureLevel = 4
ManufactureRequired = 20000
Shots = 3
TimeBetweenShots = 84
SellingValue = 750

[trap6]  
Name = LAVA
NameTextID = 583
TooltipTextID = 589
Crate = WRKBOX_LAVA
ManufactureLevel = 2
ManufactureRequired = 20000
Shots = 1
TimeBetweenShots = 0
SellingValue = 750
