; KeeperFX Partial Game Rules Configuration file
; file version 0.32 for AncntKpr, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[game]  
GoldPerGoldBlock = 1024
PotOfGoldHolds = 250
GoldPileValue = 200
GoldPileMaximum = 1024
GoldPerHoard = 2000
FoodLifeOutOfHatchery = 500
DeathMatchStatueReapperTime = 200
DeathMatchObjectReapperTime = 500
BoulderReduceHealthSlap = 18
BoulderReduceHealthWall = 6
BoulderReduceHealthRoom = 6
TileStrength = 60
GoldTileStrength = 120
MinimumGold = 1000
MaxGoldLookup = 6
MinGoldToRecord = 20
PayDayGap = 10000
ChestGoldHold = 500
DungeonHeartHealth = 30000
DungeonHeartHealTime = 8
DungeonHeartHealHealth = 1
HeroDoorWaitTime = 200
PreserveClassicBugs = RESURRECT_FOREVER OVERFLOW_8BIT CLAIM_ROOM_ALL_THINGS RESURRECT_REMOVED NO_HAND_PURGE_ON_DEFEAT MUST_OBEY_KEEPS_NOT_DO_JOBS PASSIVE_NEUTRALS

[computer]
AutoDigLimit = 10
WaitForRoomTime = 800
CheckExpandTime = 1000
MaxDistanceToDig = 96
WaitAfterRoomArea = 200

[creatures]
RecoveryFrequency = 10
FightMaxHate = 200
FightBorderline = 0
FightMaxLove = -200
BodyRemainsFor = 2000
FightHateKillValue = -2
FleeZoneRadius = 1536
GameTurnsInFlee = 200
GameTurnsUnconscious = 2000
; Amount of health below which the creature ignores its other needs
; and immediately goes to lair to heal itself, 0..99
CriticalHealthPercentage = 13

[magic]  
HoldAudienceTime = 500
ArmagedonTeleportYourTimeGap = 5
ArmagedonTeleportEnemyTimeGap = 10
ArmegeddonTeleportNeutrals = 1
ArmegeddonCountDown = 500
ArmegeddonDuration = 4000
DiseaseTransferPercentage = 15
DiseaseLosePercentageHealth = 8
; Turns between health drop due to disease, 1..255
DiseaseLoseHealthTime = 250
MinDistanceForTeleport = 20
CollapseDungeonDamage = 15
TurnsPerCollapseDungeonDamage = 4
PowerHandGoldGrabAmount = 100
FriendlyFightAreaRangePercent = 5
FriendlyFightAreaDamagePercent = 100

[rooms]  
ScavengeCostFrequency = 64
ScavengeGoodAllowed = 1
ScavengeNeutralAllowed = 1
TempleScavengeProtectionTime = 1000
TrainCostFrequency = 64
TortureConvertChance = 33
TimeBetweenPrisonBreak = 64
TimeSpentInPrisonWithoutBreak = 20
PrisonBreakChance = 100
GhostConvertChance = 100
ArmoryTime = 2000
WorkshopTime = 2500
ObservatoryTime = 250
ObservatoryGenerate = 3
DefaultGenerateSpeed = 350
DefaultMaxCreaturesGenerateEntrance = 200
DefaultNeutralEntranceLevel = 9
BarrackTime = 100
FoodGenerationSpeed = 2000
PrisonSkeletonChance = 100
BodiesForVampire = 10
GraveyardConvertTime = 300

[workers]  
HitsPerSlab = 2
ImpJobNotSoClose = 4
ImpJobFarAway = 10
ImpGenerateTime = 50
ImproveArea = 31
; Damage did by Imp while digging - to its own slabs, and other slabs
DefaultImpDigDamage = 1
DefaultImpDigOwnDamage = 2
PerImpGoldDigSize = 30

[health]  
HungerHealthLoss = 50
GameTurnsPerHungerHealthLoss = 400
FoodHealthGain = 50
PrisonHealthGain = 50
GameTurnsPerPrisonHealthGain = 400
TortureHealthLoss = 50
GameTurnsPerTortureHealthLoss = 400

[research]    
; Research order - type, kind and points needed for every research
Research = MAGIC POWER_HAND               1
Research = MAGIC POWER_POSSESS            1
Research = MAGIC POWER_SLAP               1
Research = MAGIC POWER_IMP             1000
Research = ROOM  TREASURE              1000
Research = ROOM  GARDEN                1000
Research = ROOM  LAIR                  1000
Research = ROOM  RESEARCH              1000
Research = ROOM  TRAINING              1000
Research = MAGIC POWER_SIGHT           3800
Research = ROOM  BRIDGE                4600
Research = MAGIC POWER_SPEED           5700
Research = MAGIC POWER_OBEY            6000
Research = ROOM  GUARD_POST            6700
Research = MAGIC POWER_CALL_TO_ARMS    7400
Research = ROOM  WORKSHOP              9000
Research = MAGIC POWER_CONCEAL         9400
Research = ROOM  BARRACKS             12000
Research = MAGIC POWER_HOLD_AUDIENCE  11000
Research = ROOM  PRISON               20000
Research = MAGIC POWER_CAVE_IN        25000
Research = ROOM  TORTURE              20000
Research = MAGIC POWER_HEAL_CREATURE  14000
Research = ROOM  TEMPLE               25000
Research = MAGIC POWER_LIGHTNING      15000
Research = ROOM  GRAVEYARD            25000
Research = MAGIC POWER_PROTECT        15000
Research = ROOM  SCAVENGER            27500
Research = MAGIC POWER_CHICKEN        20000
Research = MAGIC POWER_DISEASE        20000
Research = MAGIC POWER_ARMAGEDDON    100000
Research = MAGIC POWER_DESTROY_WALLS 750000

[sacrifices]
; Sacrifice recipes - Be careful, avoid conflicts! Possible commands are:
; MkCreature, MkGoodHero, NegSpellAll, PosSpellAll, NegUniqFunc, PosUniqFunc.
; First the result, then up to six ingredients. To disable a sacrifice, put
; a ";" before it - this will turn it into comment.
; Original Dungeon Keeper sacrifices
MkCreature =  BILE_DEMON         SPIDER SPIDER SPIDER
MkCreature =  HORNY              TROLL BILE_DEMON DARK_MISTRESS
PosUniqFunc = COMPLETE_RESEARCH  FLY FLY
PosUniqFunc = COMPLETE_MANUFACTR BUG BUG
NegSpellAll = SPELL_DISEASE      VAMPIRE VAMPIRE
MkCreature =  SORCEROR           FLY SPIDER
MkCreature =  DARK_MISTRESS      BUG SPIDER
NegSpellAll = SPELL_CHICKEN      BILE_DEMON BILE_DEMON
PosUniqFunc = CHEAPER_IMPS       IMP
NegUniqFunc = ALL_CREATRS_ANGRY  HORNY
NegUniqFunc = KILL_ALL_CHICKENS  GHOST
