; Path to the DK files. Usually leaving it as "./" will work.
INSTALL_PATH=./

; Language definition; sets options for displaying texts.
LANGUAGE=ENG

; Video resolutions are in the format WxHx32 for fullscreen, WxHw32 for windowed: e.g. 1920x1080x32
; You can also use: "DESKTOP" for a borderless fullscreen window, or "DESKTOP_FULL" for real fullscreen at desktop res.

; Three frontend resolutions: failsafe, movies and menu resolution. Set movies and menu same as ingame resolution.
FRONTEND_RES=640x480w32 DESKTOP DESKTOP

; List of in-game resolutions. ALT+R will switch between them.
INGAME_RES=DESKTOP DESKTOP_FULL 1920x1080x32

; The display number where the game will appear (1 for the main monitor, 2 for the second monitor, etc)
DISPLAY_NUMBER=1

; Configures how the movies are displayed.
; Options are: OFF, FIT, STRETCH, CROP, PIXELPERFECT, 4BY3, 4BY3PP
RESIZE_MOVIES=ON

; The game freezes when the window loses focus. Disable to keep playing in background.
FREEZE_GAME_ON_FOCUS_LOST=OFF

; When the game is paused, pause the music too.
PAUSE_MUSIC_WHEN_GAME_PAUSED=OFF

; When the window loses focus without freezing, still mute the game audio.
MUTE_AUDIO_ON_FOCUS_LOST=OFF

; Play random background noices, emulates the original AWE Sound Fonts.
ATMOSPHERIC_SOUNDS=OFF
ATMOS_VOLUME=MEDIUM
ATMOS_FREQUENCY=MEDIUM
ATMOS_SAMPLES=1014 1034 1013

; Play the music from a folder on the disk.
MUSIC_FROM_DISK=ON

; Mouse pointer movement speed, 0 is normal OS speed. Dungeon Keeper default was 100. 50 is half speed.
POINTER_SENSITIVITY=0

; The camera moves when you push the edges of the screen with the mouse.
CURSOR_EDGE_CAMERA_PANNING=ON

; When pausing, the game will release the mouse cursor to use on other windows.
UNLOCK_CURSOR_WHEN_GAME_PAUSED=OFF

; Overwrite 'altinput' mode in possession to keep the cursor locked in possession.
LOCK_CURSOR_IN_POSSESSION=ON

; File format in which screenshots are written; BMP or PNG.
SCREENSHOT=PNG

; Run the game at high framerates while maintaining game speed.
DELTA_TIME=ON

; Run the game faster or slower than it is meant to be played. Default value is 20.
TURNS_PER_SECOND=20

; The maximum frame rate for drawing. Default value is "AUTO 0".
; Config format is "<main> [secondary]". secondary is optional, only used when main is set to AUTO and detection fails.
; AUTO = auto detect monitor’s refresh rate.
; 0 = unlimited (uses 100% of one CPU core). Suggested value: your monitor’s refresh rate.
FRAMES_PER_SECOND=AUTO 0

; The maximum distance you can zoom out the camera [0 - 100].
; A value of 0 is equal to the original game's max distance.
MAX_ZOOM_DISTANCE=60

; Censorship - originally was ON only if language is german.
CENSORSHIP=OFF

; Startup screens
; Possible property values: LEGAL, FX, INTRO
; If you're a streamer or create video content, consider keeping the splash screens enabled so that viewers are aware of KeeperFX.
STARTUP=LEGAL FX INTRO

; Skip the introductory zoom-in on the player's Dungeon Heart whenever you start a map.
SKIP_HEART_ZOOM=FALSE

; Creature flower size and thought bubble size.
CREATURE_STATUS_SIZE=16

; Size of the Hand of Evil.
HAND_SIZE=100

; Thickness of the slab selection box.
LINE_BOX_SIZE=150

; How many frames it takes for flashing icons and minimap effects to flash. Default value is 1.
GUI_BLINK_RATE=1

; How many frames it takes for neutral rooms to cycle colours. Default value is 1.
NEUTRAL_FLASH_RATE=1

; Whether the Flee button should start out as selected or unselected in the GUI.
FLEE_BUTTON_DEFAULT=OFF

; Whether the Imprison button should start out as selected or unselected in the GUI.
IMPRISON_BUTTON_DEFAULT=OFF

; The character used for commands
COMMAND_CHAR=!

; API TCP Server. This allows other applications to communicate with KeeperFX
API_ENABLED=FALSE
API_PORT=5599

; Exit on lua error, useful for debugging lua scripts
EXIT_ON_LUA_ERROR=FALSE

; Right-click to switch between tagging modes
TAG_MODE_TOGGLING=OFF

; Possible values are SINGLE, DRAG, and REMEMBER
DEFAULT_TAG_MODE=SINGLE
