; Path to the DK files. Usually leaving it as "./" will work.
INSTALL_PATH=./

; Language definition; sets options for displaying texts.
LANGUAGE=ENG

; File format in which screenshots are written; BMP or HSI.
SCREENSHOT=BMP

; Three frontend resolutions: failsafe, movies and menu resolution.
; Original DK resolutions were FRONTEND_RES=320x200x8 320x200x8 640x480x8
; Recommended to set movies and menu same as ingame resolution.
FRONTEND_RES=640x480x32 640x480x32 640x480x32

; List of in-game resolutions. ALT+R will switch between them.
; Original DK resolutions were INGAME_RES=320x200x8 640x400x8
INGAME_RES=640x480x32 1366x768x32 1920x1080x32

; Configures how the movies are displayed.
; Options are: OFF, FIT, STRETCH, CROP, PIXELPERFECT, 4BY3, 4BY3PP
RESIZE_MOVIES=ON

; The game freezes when the window loses focus. Disable to keep playing in background.
FREEZE_GAME_ON_FOCUS_LOST=OFF

;When the game is paused, pause the music too.
PAUSE_MUSIC_WHEN_GAME_PAUSED=OFF

;When the window loses focus without freezing, still mute the game audio.
MUTE_AUDIO_ON_FOCUS_LOST=OFF

; Mouse pointer movement speed, default 100. Set to 0 to get normal OS speed.
POINTER_SENSITIVITY=100

; When pausing, the game will release the mouse cursor to use on other windows.
UNLOCK_CURSOR_WHEN_GAME_PAUSED=OFF

; Overwrite 'altinput' mode in possession to keep the cursor locked in possession.
LOCK_CURSOR_IN_POSSESSION=ON

; Terrain is deformed to give it a natural look. Turn it OFF for a 
; clean look instead. LIQUIDONLY to have it for Lava and Water only.
WIBBLE=ON

; Censorship - originally was ON only if language is german.
CENSORSHIP=OFF

; Play random background noices, emulates the original AWE Sound Fonts
ATMOSPHERIC_SOUNDS=OFF
ATMOS_VOLUME=MEDIUM
ATMOS_FREQUENCY=MEDIUM
ATMOS_SAMPLES=1014 1034 1013

; The amount of Music tracks the game can support. Max 50.
MUSIC_TRACKS=7
