; Path to the DK files. Usually leaving it as "./" will work.
INSTALL_PATH=./
; How many of the game files are on disk; irrelevant option.
INSTALL_TYPE=MAX
; Language definition; sets options for displaying texts.
LANGUAGE=ENG
; Keyboard definition; irrelevant.
KEYBOARD=101
; File format in which screenshots are written; BMP or HSI.
SCREENSHOT=BMP
; Three frontend resolutions: failsafe, movies and menu resolution.
FRONTEND_RES=640x480x32 640x480x32 640x480x32
; Original DK resolutions were FRONTEND_RES=320x200x8 320x200x8 640x480x8
; List of in-game resolutions. ALT+R will switch between them.
INGAME_RES=640x480x32 1024x768x32
; Original DK resolutions were INGAME_RES=320x200x8 640x400x8
; Mouse pointer movement speed; 100 percent means normal OS speed
POINTER_SENSITIVITY=100
; Censorship - originally was ON only if language is german.
CENSORSHIP = OFF
; Play random background noices, emulates the original AWE Sound Fonts
ATMOSPHERIC_SOUNDS = ON