; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = AVATAR
Health = 3000
HealRequirement = 150
HealThreshold = 200
Strength = 150
Armour = 120
Dexterity = 80
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 110
Luck = 10
Recovery = 9
HungerRate = 10000
HungerFill = 4
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 1000
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 1200
HeroVsKeeperCost = 0
SlapsToKill = 60
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 240
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON NEVER_CHICKENS IMMUNE_TO_BOULDER ONE_OF_KIND

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = LAIR TRAINING GARDEN
RoomSlabsRequired = 20 36 25
ScavengeRequirement = 22000
TortureTime = 2000

[annoyance]
EatFood = -1000
WillNotDoJob = 450
InHand = 0
NoLair = 4
NoHatchery = 4
WokenUp = 2000
StandingOnDeadEnemy = -50
Sulking = 10
NoSalary = 4000
Slapped = 2250
StandingOnDeadFriend = 120
InTorture = 120
InTemple = -75
Sleeping = -1
GotWage = -750
WinBattle = -1000
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 24
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD ARMOUR FIRE_BOMB HEAL HAILSTORM FREEZE DRAIN NAVIGATING_MISSILE INVISIBILITY WORD_OF_POWER
PowersLevelRequired = 1 2 3 4 5 6 7 8 9 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 75

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs =
NotDoJobs = SCAVENGE
StressfulJobs =
TrainingValue = 4
TrainingCost = 100
ScavengeValue = 0
ScavengerCost = 50
ResearchValue = 3
ManufactureValue = 1
PartnerTraining = 0
