; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = BILE_DEMON
Health = 1200
HealRequirement = 150
HealThreshold = 200
Strength = 80
Armour = 60
Dexterity = 10
FearWounded = 20
FearStronger = 10000
FearsomeFactor = 100
Defence = 30
Luck = 5
Recovery = 4
HungerRate = 4500
HungerFill = 6
LairSize = 2
HurtByLava = 2
BaseSpeed = 48
GoldHold = 3000
; Creature image size - XY and YZ
Size = 200 400
AttackPreference = MELEE
Pay = 98
HeroVsKeeperCost = 0
SlapsToKill = 0
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 80
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS UNAFFECTED_BY_WIND IMMUNE_TO_GAS EVIL TREMBLING_FAT

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = GARDEN LAIR NULL
RoomSlabsRequired = 25 25 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 3
NoHatchery = 6
WokenUp = 300
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 1000
Slapped = 400
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -40
Sleeping = -6
GotWage = -650
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = SKELETON
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD POISON_CLOUD NULL FART NULL NULL GRENADE NULL NULL NULL
PowersLevelRequired = 1 2 0 4 0 0 7 0 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 9

[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 38
ScavengeValue = 1
ScavengerCost = 30
ResearchValue = 1
ManufactureValue = 3
PartnerTraining = 30
