; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = BUG
Health = 250
HealRequirement = 150
HealThreshold = 200
Strength = 25
Armour = 25
Dexterity = 21
FearWounded = 20
FearStronger = 10000
FearsomeFactor = 100
Defence = 40
Luck = 10
Recovery = 5
HungerRate = 5000
HungerFill = 1
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 300
; Creature image size - XY and YZ
Size = 200 100
AttackPreference = MELEE
Pay = 18
HeroVsKeeperCost = 0
SlapsToKill = 22
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS EVIL INSECT

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL LAIR NULL
RoomSlabsRequired = 0 1 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 1
NoHatchery = 1
WokenUp = 50
StandingOnDeadEnemy = -6
Sulking = 2
NoSalary = 1500
Slapped = 100
StandingOnDeadFriend = 25
InTorture = 2
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST NULL NULL NULL NULL NULL FREEZE NULL NULL NULL
PowersLevelRequired = 1 0 0 0 0 0 7 0 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 2

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 1
TrainingCost = 8
ScavengeValue = 1
ScavengerCost = 8
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 0
