; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = DARK_MISTRESS
Health = 700
HealRequirement = 100
HealThreshold = 100
Strength = 60
Armour = 50
Dexterity = 17
FearWounded = 20
FearStronger = 10000
FearsomeFactor = 100
Defence = 70
Luck = 20
Recovery = 9
HungerRate = 8000
HungerFill = 3
LairSize = 1
HurtByLava = 2
BaseSpeed = 64
GoldHold = 750
; Creature image size - XY and YZ
Size = 200 550
AttackPreference = RANGED
Pay = 175
HeroVsKeeperCost = 0
SlapsToKill = 50
CreatureLoyalty = 0
LoyaltyLevel = 4
DamageToBoulder = 60
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON EVIL FEMALE

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TORTURE NULL NULL
RoomSlabsRequired = 9 0 0
ScavengeRequirement = 22000
TortureTime = 3000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 3
NoHatchery = 1
WokenUp = -200
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 2000
Slapped = -400
StandingOnDeadFriend = 40
InTorture = -6
InTemple = -10
Sleeping = -1
GotWage = -150
WinBattle = -400
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = SAMURAI
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL LIGHTNING SPEED NULL DRAIN TELEPORT
PowersLevelRequired = 1 0 0 0 0 6 7 0 9 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 15

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs = TRAIN KINKY_TORTURE
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 24
ScavengeValue = 3
ScavengerCost = 25
ResearchValue = 2
ManufactureValue = 2
PartnerTraining = 75
