; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = DRAGON
Health = 900
HealRequirement = 150
HealThreshold = 200
Strength = 90
Armour = 90
Dexterity = 14
FearWounded = 20
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Luck = 18
Recovery = 3
HungerRate = 8000
HungerFill = 4
LairSize = 4
HurtByLava = 0
BaseSpeed = 32
GoldHold = 5000
; Creature image size - XY and YZ
Size = 200 740
AttackPreference = MELEE
Pay = 350
HeroVsKeeperCost = 0
SlapsToKill = 40
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 120
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TREASURE LAIR NULL
RoomSlabsRequired = 25 15 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 100
InHand = 0
NoLair = 4
NoHatchery = 3
WokenUp = 400
StandingOnDeadEnemy = -14
Sulking = 4
NoSalary = 3000
Slapped = 600
StandingOnDeadFriend = 10
InTorture = 10
InTemple = -25
Sleeping = -10
GotWage = -1000
WinBattle = -500
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 10
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON STEAL_GOLD

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = FLAME_BREATH HEAL GRENADE NULL NULL NULL FIRE_BOMB NULL NULL WORD_OF_POWER
PowersLevelRequired = 1 2 3 0 0 0 7 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = LAVA 500
ExperienceForHitting = 17

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = TRAIN
NotDoJobs = 
StressfulJobs = 
TrainingValue = 3
TrainingCost = 40
ScavengeValue = 5
ScavengerCost = 35
ResearchValue = 4
ManufactureValue = 1
PartnerTraining = 0
