; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = DWARFA
Health = 500
HealRequirement = 150
HealThreshold = 200
Strength = 50
Armour = 40
Dexterity = 13
FearWounded = 20
FearStronger = 10000
FearsomeFactor = 100
Defence = 30
Luck = 2
Recovery = 4
HungerRate = 5000
HungerFill = 2
LairSize = 1
HurtByLava = 2
BaseSpeed = 80
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 256
AttackPreference = MELEE
Pay = 35
HeroVsKeeperCost = 0
SlapsToKill = 30
CreatureLoyalty = 0
LoyaltyLevel = 6
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TREASURE WORKSHOP NULL
RoomSlabsRequired = 1 9 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 1
NoHatchery = 1
WokenUp = 200
StandingOnDeadEnemy = -6
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 25
InTorture = 4
InTemple = -50
Sleeping = -3
GotWage = -850
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL ARMOUR NULL NULL REBOUND NULL NULL NULL
PowersLevelRequired = 1 0 0 4 0 0 7 0 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 7

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs = MANUFACTURE
NotDoJobs = RESEARCH
StressfulJobs =
TrainingValue = 2
TrainingCost = 5
ScavengeValue = 1
ScavengerCost = 6
ResearchValue = 1
ManufactureValue = 3
PartnerTraining = 20
