; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = FLY
Health = 150
HealRequirement = 150
HealThreshold = 255
Strength = 8
Armour = 10
Dexterity = 16
FearWounded = 99
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Luck = 33
Recovery = 5
HungerRate = 9000
HungerFill = 1
LairSize = 1
HurtByLava = 2
BaseSpeed = 128
GoldHold = 50
; Creature image size - XY and YZ
Size = 200 50
AttackPreference = MELEE
Pay = 5
HeroVsKeeperCost = 0
SlapsToKill = 8
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS FLYING DIPTERA EVIL INSECT

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0
ScavengeRequirement = 22000
TortureTime = 750

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 50
StandingOnDeadEnemy = 0
Sulking = 1
NoSalary = 0
Slapped = 0
StandingOnDeadFriend = 0
InTorture = 0
InTemple = -50
Sleeping = -1
GotWage = -500
WinBattle = -20
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 0
LairEnemy = SPIDER
AnnoyLevel = 8000
AngerJobs = LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST NULL NULL NULL SIGHT NULL NULL SPEED NULL NULL
PowersLevelRequired = 1 0 0 0 5 0 0 8 0 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 3

[jobs]
PrimaryJobs = EXPLORE
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 1
TrainingCost = 5
ScavengeValue = 1
ScavengerCost = 4
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 0

[sprites]
Stand = 644
Ambulate = 644
Drag = 644
Attack = 646
Dig = 0
Smoke = 0
Relax = 0
PrettyDance = 0
GotHit = 648
PowerGrab = 654
GotSlapped = 660
Celebrate = 656
Sleep = 658
EatChicken = 662
Torture = 84
Scream = 650
DropDead = 652
DeadSplat = 946
GFX18 = 6
QuerySymbol = 150
HandSymbol = 214
GFX21 = 6
