; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = GHOST
Health = 200
HealRequirement = 150
HealThreshold = 200
Strength = 20
Armour = 20
Dexterity = 22
FearWounded = 20
FearStronger = 10000
FearsomeFactor = 100
Defence = 60
Luck = 10
Recovery = 4
HungerRate = 0
HungerFill = 0
LairSize = 1
HurtByLava = 2
BaseSpeed = 64
GoldHold = 1000
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 30
HeroVsKeeperCost = 0
SlapsToKill = 0
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = IMMUNE_TO_GAS FLYING SEE_INVISIBLE PASS_LOCKED_DOORS EVIL NO_CORPSE_ROTTING

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TORTURE TEMPLE NULL
RoomSlabsRequired = 1 4 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 0
StandingOnDeadEnemy = -6
Sulking = 1
NoSalary = 2000
Slapped = 500
StandingOnDeadFriend = 40
InTorture = 8
InTemple = -60
Sleeping = -1
GotWage = -350
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_FIST NULL INVISIBILITY REBOUND NULL WIND NULL DRAIN NULL FREEZE
PowersLevelRequired = 1 0 3 4 0 6 0 8 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 14

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = TEMPLE_PRAY
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 20
ScavengeValue = 3
ScavengerCost = 10
ResearchValue = 2
ManufactureValue = 1
PartnerTraining = 0
