; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = HORNY
Health = 2000
HealRequirement = 150
HealThreshold = 150
Strength = 150
Armour = 70
Dexterity = 50
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 70
Luck = 30
Recovery = 8
HungerRate = 3505
HungerFill = 4
LairSize = 1
HurtByLava = 0
BaseSpeed = 96
GoldHold = 2500
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 950
HeroVsKeeperCost = 0
SlapsToKill = 80
CreatureLoyalty = 0
LoyaltyLevel = 1
DamageToBoulder = 60
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL TEMPLE NULL
RoomSlabsRequired = 0 9 0
ScavengeRequirement = 22000
TortureTime = 3000

[annoyance]
EatFood = 100
WillNotDoJob = 2000
InHand = 10
NoLair = 5
NoHatchery = 4
WokenUp = 3000
StandingOnDeadEnemy = -50
Sulking = 15
NoSalary = 8000
Slapped = 3750
StandingOnDeadFriend = -25
InTorture = 300
InTemple = -25
Sleeping = 2
GotWage = -100
WinBattle = -300
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 48
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = MAD_PSYCHO

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL SPEED NULL NULL ARMOUR NULL SLOW
PowersLevelRequired = 1 0 0 0 5 0 0 8 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 35

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs =
NotDoJobs = BARRACK
StressfulJobs =
TrainingValue = 1
TrainingCost = 150
ScavengeValue = 4
ScavengerCost = 30
ResearchValue = 1
ManufactureValue = 0
PartnerTraining = 0
