; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
Name = IMP
Health = 75
HealRequirement = 0
HealThreshold = 0
Strength = 5
Armour = 5
Dexterity = 30
FearWounded = 101
FearStronger = 10000
FearsomeFactor = 100
Defence = 5
Luck = 0
Recovery = 0
HungerRate = 0
HungerFill = 0
LairSize = 0
HurtByLava = 2
BaseSpeed = 96
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 256
AttackPreference = MELEE
Pay = 0
HeroVsKeeperCost = 0
SlapsToKill = 20
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
ThingSize = 256 512
Properties = BLEEDS SPECIAL_DIGGER EVIL NO_ENMHEART_ATTCK

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0
ScavengeRequirement = 0
TortureTime = 50

[annoyance]
EatFood = 0
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 0
StandingOnDeadEnemy = 0
Sulking = 0
NoSalary = 0
Slapped = 0
StandingOnDeadFriend = 0
InTorture = 0
InTemple = 0
Sleeping = 0
GotWage = 0
WinBattle = 0
Untrained = 0 0
OthersLeaving = 0
JobStress = 0
GoingPostal = 0
Queue = 0
LairEnemy = NULL
AnnoyLevel = 0
AngerJobs =

[appearance]
CorpseVanishEffect = 0

[experience]
Powers = FIRST_PERSON_DIG SWING_WEAPON_SWORD SPEED NULL NULL NULL NULL NULL NULL TELEPORT
PowersLevelRequired = 1 1 3 0 0 0 0 0 0 10
LevelsTrainValues = 2500 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 1

[jobs]
PrimaryJobs = DIG
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 1
TrainingCost = 10
ScavengeValue = 0
ScavengerCost = 0
ResearchValue = 0
ManufactureValue = 0
PartnerTraining = 0
