; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = KNIGHT
Health = 950
HealRequirement = 150
HealThreshold = 150
Strength = 80
Armour = 100
Dexterity = 36
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 30
Luck = 15
Recovery = 6
HungerRate = 9000
HungerFill = 3
LairSize = 1
HurtByLava = 2
BaseSpeed = 40
GoldHold = 600
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 540
HeroVsKeeperCost = 0
SlapsToKill = 40
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 60
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON LORD

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TRAINING NULL NULL
RoomSlabsRequired = 36 0 0
ScavengeRequirement = 22000
TortureTime = 2000

[annoyance]
EatFood = -1000
WillNotDoJob = 400
InHand = 0
NoLair = 4
NoHatchery = 4
WokenUp = 250
StandingOnDeadEnemy = -16
Sulking = 4
NoSalary = 3500
Slapped = 350
StandingOnDeadFriend = 65
InTorture = 12
InTemple = -75
Sleeping = -1
GotWage = -1000
WinBattle = -500
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 12
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL REBOUND NULL NULL HEAL NULL NULL WORD_OF_POWER
PowersLevelRequired = 1 0 0 4 0 0 7 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 25

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs =
NotDoJobs = SCAVENGE
StressfulJobs =
TrainingValue = 3
TrainingCost = 40
ScavengeValue = 0
ScavengerCost = 30
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 0
