; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = ORC
Health = 700
HealRequirement = 150
HealThreshold = 200
Strength = 65
Armour = 60
Dexterity = 18
FearWounded = 7
FearStronger = 10000
FearsomeFactor = 100
Defence = 65
Luck = 12
Recovery = 7
HungerRate = 7000
HungerFill = 2
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 600
; Creature image size - XY and YZ
Size = 200 350
AttackPreference = MELEE
Pay = 95
HeroVsKeeperCost = 0
SlapsToKill = 40
CreatureLoyalty = 0
LoyaltyLevel = 5
DamageToBoulder = 60
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TRAINING BARRACKS NULL
RoomSlabsRequired = 9 1 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 150
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -50
Sleeping = -4
GotWage = -750
WinBattle = -400
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL SPEED NULL ARMOUR NULL GRENADE NULL
PowersLevelRequired = 1 0 0 0 5 0 7 0 9 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 15

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = GUARD
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 15
ScavengeValue = 2
ScavengerCost = 20
ResearchValue = 0
ManufactureValue = 3
PartnerTraining = 20
