; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = SAMURAI
Health = 700
HealRequirement = 100
HealThreshold = 100
Strength = 80
Armour = 60
Dexterity = 22
FearWounded = 20
FearStronger = 10000
FearsomeFactor = 100
Defence = 70
Luck = 20
Recovery = 9
HungerRate = 8000
HungerFill = 3
LairSize = 1
HurtByLava = 2
BaseSpeed = 64
GoldHold = 750
; Creature image size - XY and YZ
Size = 200 550
AttackPreference = MELEE
Pay = 195
HeroVsKeeperCost = 0
SlapsToKill = 50
CreatureLoyalty = 0
LoyaltyLevel = 4
DamageToBoulder = 60
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID_SKELETON SEE_INVISIBLE

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TRAINING BARRACKS TORTURE
RoomSlabsRequired = 9 6 1
ScavengeRequirement = 22000
TortureTime = 2000

[annoyance]
EatFood = -1000
WillNotDoJob = 400
InHand = 0
NoLair = 4
NoHatchery = 0
WokenUp = 250
StandingOnDeadEnemy = -14
Sulking = 5
NoSalary = 3000
Slapped = 750
StandingOnDeadFriend = 65
InTorture = 2
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -500
; Game turns required without training and the annoyance level
Untrained = 12000 50
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 6
LairEnemy = DARK_MISTRESS
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES LEAVE_DUNGEON JOIN_ENEMY

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL SIGHT LIGHTNING SPEED NULL FREEZE NULL
PowersLevelRequired = 1 0 0 0 5 6 7 0 9 0
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 20

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 4
TrainingCost = 50
ScavengeValue = 3
ScavengerCost = 30
ResearchValue = 2
ManufactureValue = 2
PartnerTraining = 90
