; KeeperFX Partial Creature Configuration file
; file version 0.30, by Friscmanseby and Mefistotelis

; Prepared based on creature.txt which was originally
; part of the campaign.

[attributes]
; Name is the creature identifier which should be used in level script
Name = SKELETON
Health = 500
HealRequirement = 150
HealThreshold = 200
Strength = 55
Armour = 20
Dexterity = 27
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Luck = 2
Recovery = 5
HungerRate = 0
HungerFill = 0
LairSize = 1
HurtByLava = 2
BaseSpeed = 64
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 512
AttackPreference = MELEE
Pay = 70
HeroVsKeeperCost = 0
SlapsToKill = 20
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = IMMUNE_TO_GAS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL PRISON TRAINING
RoomSlabsRequired = 0 1 9
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 150
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 1000
Slapped = 100
StandingOnDeadFriend = 20
InTorture = 2
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -330
; Game turns required without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = BILE_DEMON
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL ARMOUR NULL NULL NULL NULL LIGHTNING
PowersLevelRequired = 1 0 0 0 5 0 0 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 0
ExperienceForHitting = 10

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = BARRACK
NotDoJobs =
StressfulJobs =
TrainingValue = 4
TrainingCost = 20
ScavengeValue = 1
ScavengerCost = 15
ResearchValue = 1
ManufactureValue = 1
PartnerTraining = 0
