; KeeperFX Creature Model Configuration file
; file version 1.0

[attributes]
; Name is the creature identifier which should be used in level script
Name = AVATAR
Properties = BLEEDS HUMANOID_SKELETON NEVER_CHICKENS IMMUNE_TO_BOULDER ONE_OF_KIND
