; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = KNIGHT
Properties = BLEEDS HUMANOID_SKELETON NO_STEAL_HERO

[attraction]
EntranceRoom = TRAINING BARRACKS NULL
RoomSlabsRequired = 25 1 0
BaseEntranceScore = 4
