; KeeperFX Creature Model Configuration file
; file version 0.32

[attributes]
; Name is the creature identifier which should be used in level script
Name = SAMURAI
Properties = BLEEDS HUMANOID_SKELETON SEE_INVISIBLE