; KeeperFX Creature Model Configuration file
; file version 1.0

[attributes]
; Name is the creature identifier which should be used in level script
Name = SAMURAI
Properties = BLEEDS HUMANOID_SKELETON SEE_INVISIBLE

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TORTURE NULL NULL
RoomSlabsRequired = 9 0 0