; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = SAMURAI
Properties = BLEEDS HUMANOID_SKELETON SEE_INVISIBLE

[attraction]
EntranceRoom = TORTURE NULL NULL
RoomSlabsRequired = 9 0 0
