; KeeperFX Creature Model Configuration file
; file version 0.33

[attributes]
; Name is the creature identifier which should be used in level script
Name = THIEF

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0
BaseEntranceScore = 10
