; KeeperFX Game Rules Configuration file
; Standard KeeperFX ruleset for Multiplayer. Stacks on top of fxdata files.

[game]
DisplayPortalLimit = 1
DungeonHeartHealTime = 8
DungeonHeartHealHealth = 4
AlliesShareVision = 1

[magic]
HoldAudienceTime = 200
ArmageddonCountDown = 200
ArmageddonDuration = 2000

[rooms]
BarrackMaxPartySize = 16

[research]
Research = MAGIC POWER_HAND                250
Research = MAGIC POWER_POSSESS             500
Research = MAGIC POWER_SLAP                500
Research = MAGIC POWER_IMP                1000
Research = ROOM  TREASURE                 1000
Research = ROOM  LAIR                     1000
Research = ROOM  GARDEN                   1000
Research = ROOM  TRAINING                 1000
Research = ROOM  RESEARCH                 1000
Research = MAGIC POWER_TUNNELLER          3500
Research = MAGIC POWER_SIGHT              3800
Research = ROOM  BRIDGE                   4600
Research = MAGIC POWER_SPEED              5700
Research = MAGIC POWER_OBEY               6000
Research = ROOM  GUARD_POST               6700
Research = MAGIC POWER_CALL_TO_ARMS       7400
Research = ROOM  WORKSHOP                 9000
Research = MAGIC POWER_CONCEAL            9400
Research = MAGIC POWER_VISION            10000
Research = ROOM  BARRACKS                12000
Research = MAGIC POWER_FLIGHT            10000
Research = MAGIC POWER_HOLD_AUDIENCE     11000
Research = ROOM  PRISON                  20000
Research = MAGIC POWER_SLOW              11000
Research = MAGIC POWER_CAVE_IN           25000
Research = ROOM  TORTURE                 20000
Research = MAGIC POWER_FREEZE            13000
Research = MAGIC POWER_HEAL_CREATURE     14000
Research = MAGIC POWER_TIME_BOMB         18000
Research = ROOM  TEMPLE                  25000
Research = MAGIC POWER_LIGHTNING         15000
Research = ROOM  GRAVEYARD               25000
Research = MAGIC POWER_PROTECT           15000
Research = MAGIC POWER_REBOUND           17000
Research = ROOM  SCAVENGER               27500
Research = MAGIC POWER_CHICKEN           20000
Research = MAGIC POWER_DISEASE           20000
Research = MAGIC POWER_ARMAGEDDON        40000
Research = MAGIC POWER_DESTROY_WALLS     80000

[sacrifices]
; Sacrifice recipes. First the result, then followed by up to six ingredients. To disable a sacrifice, put a ";" before it - this will turn it into comment. Be careful to avoid conflicts.
; Original Dungeon Keeper sacrifices.
MkCreature =  BILE_DEMON               SPIDER SPIDER SPIDER
MkCreature =  HORNY                    TROLL BILE_DEMON DARK_MISTRESS
PosUniqFunc = COMPLETE_RESEARCH        FLY FLY
PosUniqFunc = COMPLETE_MANUFACTR       BUG BUG
NegSpellAll = SPELL_DISEASE            VAMPIRE VAMPIRE
MkCreature =  SORCEROR                 FLY SPIDER
MkCreature =  DARK_MISTRESS            BUG SPIDER
NegSpellAll = SPELL_CHICKEN            BILE_DEMON BILE_DEMON
PosUniqFunc = CHEAPER_IMPS             IMP
NegUniqFunc = ALL_CREATRS_ANGRY        HORNY
NegUniqFunc = KILL_ALL_CHICKENS        GHOST
; KeeperFX specific sacrifices.
MkGoodHero =  SKELETON                 SKELETON SKELETON
MkCreature =  TENTACLE                 TROLL SPIDER
MkCreature =  HELL_HOUND               DRAGON FLY
PosSpellAll = SPELL_SPEED              FLY HELL_HOUND
PosSpellAll = SPELL_INVISIBILITY       TROLL FLY
PosSpellAll = SPELL_HEAL               ORC SPIDER
PosSpellAll = SPELL_REBOUND            DARK_MISTRESS BUG
PosSpellAll = SPELL_ARMOUR             BILE_DEMON BUG
PosSpellAll = SPELL_FLIGHT             DEMONSPAWN FLY
NegSpellAll = SPELL_FREEZE             VAMPIRE SPIDER
NegSpellAll = SPELL_SLOW               VAMPIRE DEMONSPAWN
