; KeeperFX Creature Model Configuration file
; file version 0.30, by Mefistotelis and DragonsLover

; Note that most of the creature parameters are affected by creature level.
; For every level above 1, they are raised by 35%.

[attributes]
; Name is the creature identifier which should be used in level script
; Note that this file name must match the name here
Name = IMP
NameTextID = 259
; Amount of health points a creature have; ranged 1..10000
Health = 75
HealRequirment = 0
HealThreshold = 0
; Strength is equal to the amount of melee combat damage a creature makes.
Strength = 5
Armour = 5
; Dexterity influences the odds for successful attack.
Dexterity = 14
Fear = 255
Defence = 5
; Luck is the chance of inflicting double damage or getting half damage from hit.
; It is ranged 0..100, and it's constant - doesn't change with experience level.
Luck = 0
Recovery = 0
HungerRate = 0
HungerFill = 0
LairSize = 0
HurtByLava = 2
BaseSpeed = 96
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 256
AttackPreference = MELEE
; Amount of gold the creature takes at payday.
Pay = 0
HeroVsKeeperCost = 0
SlapsToKill = 20
CreatureLoyalty = 0
LoyaltyLevel = 0
DamageToBoulder = 30
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID SPECIAL_DIGGER EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0
EntranceForce = 0
ScavengeRequirement = 0
TortureTime = 50

[annoyance]
EatFood = 0
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 0
StandingOnDeadEnemy = 0
Sulking = 0
NoSalary = 0
Slapped = 0
StandingOnDeadFriend = 0
InTorture = 0
InTemple = 0
Sleeping = 0
GotWage = 0
WinBattle = 0
; Game turns requred without training and the annoyance level
Untrained = 0 0
OthersLeaving = 0
; Annoyance caused by performing stressful jobs
JobStress = 0
Queue = 0
LairEnemy = NULL
AnnoyLevel = 0
AngerJobs =

[senses]
Hearing = 5
EyeHeight = 256
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 25

[appearance]
WalkingAnimSpeed = 96
VisualRange = 5

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = FIRST_PERSON_DIG SWING_WEAPON_SWORD SPEED NULL NULL NULL NULL NULL NULL TELEPORT
PowersLevelRequired = 1 1 3 0 0 0 0 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 2500 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab requred near lair and amount of experience
SleepExperince = HARD 0
ExperienceForHitting = 1

[jobs]
PrimaryJobs = DIG
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 1
TrainingCost = 10
ScavengeValue = 0
ScavengerCost = 0
ResearchValue = 0
ManufactureValue = 0
RealTraining = 0
