; KeeperFX Partial Creatures Configuration file
; file version 0.23 for Legacy maps and campaigns, by Mefistotelis

[experience]
SpellDamageIncreaseOnExp = 1
RangeIncreaseOnExp = 2
DexterityIncreaseOnExp = 35
DefenseIncreaseOnExp = 35

[instance19]
Name = MISSILE
FPResetTime = 2

[instance20]
Name = NAVIGATING_MISSILE
FPResetTime = 2

[instance21]
Name = FLAME_BREATH
FPTime = 1
FPActionTime = 1

[instance26]
Name = GRENADE
ResetTime = 60
FPResetTime = 20
