; KeeperFX Partial Creatures Configuration file
; file version 0.23 for Legacy maps and campaigns, by Mefistotelis

[common]
Creatures = WIZARD BARBARIAN ARCHER MONK DWARFA KNIGHT AVATAR TUNNELLER WITCH GIANT FAIRY THIEF SAMURAI HORNY SKELETON TROLL DRAGON DEMONSPAWN FLY DARK_MISTRESS SORCEROR BILE_DEMON IMP BUG VAMPIRE SPIDER HELL_HOUND GHOST TENTACLE ORC FLOATING_SPIRIT

[experience]
SpellDamageIncreaseOnExp = 1
RangeIncreaseOnExp = 2
DexterityIncreaseOnExp = 35
DefenseIncreaseOnExp = 35

[instance21]
Name = FLAME_BREATH
FPTime = 1
FPActionTime = 1
