; KeeperFX Partial Creatures Configuration file
; file version 0.23 for Legacy maps and campaigns, by Mefistotelis

[experience]
SpellDamageIncreaseOnExp = 1
RangeIncreaseOnExp = 2
DexterityIncreaseOnExp = 35
DefenseIncreaseOnExp = 35

[instance21]
Name = FLAME_BREATH
FPTime = 1
FPActionTime = 1
