; Partial Computer Player (so-called AI) configuration file version 1.0.

[process3]
Name = BUILD A PRISON ROOM
Values = 0 3 4 4 1

[process4]
Name = BUILD A TORTURE ROOM
Values = 0 3 4 5 8

[process5]
Name = BUILD A SCAVENGER ROOM
Values = 0 3 3 9 8

[process6]
Name = BUILD A TEMPLE ROOM
Values = 0 3 3 10 5

[process7]
Name = BUILD A GRAVEYARD ROOM
Values = 0 3 4 11 9

[process8]
Name = BUILD A BARRACK ROOM
Values = 0 3 4 12 4

[process9]
Name = BUILD A TREASURE ROOM
Values = 10 5 5 2 0

[process10]
Name = BUILD A RESEARCH ROOM
Values = 0 5 5 3 3

[process11]
Name = BUILD A HATCHERY
Values = 0 6 5 13 1

[process12]
Name = BUILD A LAIR ROOM
Values = 0 5 5 14 0

[process13]
Name = BUILD A TRAINING ROOM
Values = 0 5 6 6 1

[process14]
Name = BUILD A WORKSHOP ROOM
Values = 0 6 6 8 12

[check20]
Name = CHECK FOR SLAP IMP
Params = 75 1 0 -250

[check21]
Name = CHECK FOR SLAP IMP
Params = 95 1 0 0

[check22]
Name = CHECK FOR SLAP IMP
Params = 100 1 0 -250

[check33]
Name = CHECK FOR ENOUGH IMPS
Params = 16 9 0 0

[check34]
Name = CHECK FOR ENOUGH IMPS
Params = 11 5 0 0

[check35]
Name = CHECK FOR ENOUGH IMPS
Params = 14 12 0 0

[check41]
Name = MOVE CREATURE TO ROOM
Params = 70 6 0 7000

[check43]
Name = MOVE CREATURE TO BEST ROOM
Params = 50 0 0 0

[check44]
Name = MOVE CREATURE TO BEST ROOM
Params = 20 0 0 0

[event1]
Name = EVENT DUNGEON BREACH
Params = 0 1 0 0

[event2]
Name = EVENT ROOM ATTACK
Params = 0 1 0 0

[event3]
Name = EVENT ROOM ATTACK
Params = 0 3 0 0

[event4]
Name = EVENT HEART UNDER ATTACK
Params = 0 3 0 0

[event11]
Name = EVENT MAGIC FOE
Values = 2 2 6000

[event12]
Name = EVENT CHECK ROOMS FULL
Params = 0 0 0 0

[event16]
Name = EVENT MOANING PRISONER
Params = 0 8 20 0

[event17]
Name = EVENT MOANING PRISONER
Params = 0 0 0 0

[event18]
Name = EVENT MOANING PRISONER
Params = 0 8 20 0

[event19]
Name = EVENT SAVE TORTURED
Params = 0 0 0 0

[event20]
Name = EVENT ENEMY DOOR
Params = 255 2500 2 0

[computer0]
Name = General build, defend and attack Computer.
Checks = Hates1 MvBest1 MvTrain1 ImpEngh1 DnPrtty1 AtckQck1 SplSpdu1 ImpSlap1 EnEntrn1 DoorAvl NeutPlc1 TrapAvl1 RoomExp1 Money1
Events = DnBreach AttkRom1 AttkHrt1 RomFTrsr RomFLair Fight1 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer1]
Name = Build and defend Computer.
Checks = Hates2 MvBest1 MvTrain1 ImpEngh2 DnPrtty2 AtckQck2 SplSpdu1 ImpSlap2 EnEntrn2 DoorAvl TrapAvl1 RoomExp2 Money1
Events = AttkHrt1 DnBreach AttkRom1 RomFTrsr RomFLair Fight1 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer2]
Name = Build and defend Computer.
Checks = Hates3 MvBest1 MvTrain1 ImpEngh3 SplSpdu1 ImpSlap1 DoorAvl RoomExp3 TrapAvl1 AtckQck3 Money1
Events = AttkHrt1 DnBreach AttkRom1 RomFTrsr RomFLair Fight1 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer3]
Name = Build and defend Computer.
Checks = Hates4 MvBest1 ImpEngh4 SplSpdu1 ImpSlap1 DoorAvl TrapAvl1 RoomExp2 Money1
Events = AttkHrt1 DnBreach AttkRom1 RomFTrsr RomFLair Fight1 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer4]
Name = Build basic 4x4 and defend Computer.
Checks = Hates4 MvBest1 ImpEngh4 SplSpdu1 ImpSlap1 DoorAvl NeutPlc2 TrapAvl1 RoomExp5 Money1

[computer5]
Name = Build and defend Computer.
Checks = Hates4 MvBest1 ImpEngh5 DnPrtty2 SplSpdu1 ImpSlap1 DoorAvl NeutPlc3 TrapAvl1 RoomExp5 Money1
Events = AttkHrt1 DnBreach AttkRom1 RomFTrsr RomFLair Fight2 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer6]
Name = Computer Assist, Aggressive.
Checks = Hates4 MvBest1 ImpEngh6 DnPrtty2 AtckQck4 SplSpdu1 ImpSlap1 EnEntrn1 DoorAvl NeutPlc4 TrapAvl2 RoomExp5 Money1
Events = AttkHrt1 DnBreach AttkRom1 RomFTrsr RomFLair Fight1 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer7]
Name = Computer Assist, Defensive.
Checks = Hates4 MvBest1 ImpEngh6 DnPrtty2 SplSpdu1 ImpSlap1 DoorAvl NeutPlc5 TrapAvl2 RoomExp5 Money1

[computer9]
Name = Computer Assist, Move Only.
Checks = MvBest1 MvTrain1 ImpEngh7 SplSpdu1 ImpSlap1 TrapAvl1
Events = AttkHrt1 DnBreach AttkRom1 RomFTrsr RomFLair Fight1 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer10]
Name = Build and defend Computer.
Checks = Hates1 MvBest2 MvTrain1 ImpEngh7 AtckQck5 SplSpdu1 ImpSlap1 EnEntrn1 DoorAvl NeutPlc6 TrapAvl2 RoomExp5 Money1
Events = AttkHrt1 DnBreach AttkRom1 RomFTrsr RomFLair Fight1 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer11]
Name = Build and defend Computer
Checks = Hates1 MvBest1 MvTrain1 ImpEngh7 DnPrtty1 AtckQck6 SplSpdu1 ImpSlap1 EnEntrn1 DoorAvl NeutPlc7 TrapAvl1 RoomExp5 Money1
Events = AttkHrt1 DnBreach AttkRom2 RomFTrsr RomFLair Fight1 FghTest FghtrChk MagcFoe RomFull SaveImp PayDay1

[computer12]
Name = Rapid Gold Digging Computer with Imp Army.
Checks = ImpEngh8 SplSpdu2 ImpSlap3