; KeeperFX Partial Magic Configuration file version 1.0 for Legacy maps and campaigns, by Mefistotelis.
; Note that it is partial config file - do not replace global config with this file.

[shot12]
Name = SHOT_DRAIN
Properties = REBOUND_IMMUNE WIND_IMMUNE LIFE_DRAIN FIXED_DAMAGE

[power5]
Name = POWER_SIGHT
Power = 576 640 704 768 832 896 960 1024 1088 1

[power8]
Name = POWER_HEAL_CREATURE
Power = 80  120  160  190  220  270  290  340  500 1000

[power11]
Name = POWER_SPEED
Power = 300  400  500  600  700  800  900 1000 1100  100

[power12]
Name = POWER_PROTECT
Power = 300  400  500  600  700  800  900 1000 1100  100

[power13]
Name = POWER_CONCEAL
Power = 300  400  500  600  700  800  900 1000 1100 7000
