; KeeperFX Partial Magic Configuration file version 1.0 for Legacy maps and campaigns, by Mefistotelis.
; Note that it is partial config file - do not replace global config with this file.

[shot2]
Name = SHOT_FIREBOMB
Damage = 100
AreaDamage = 0 160 255

[shot4]
Name = SHOT_LIGHTNING
BaseExperienceGain = 256
Properties = REBOUND_IMMUNE WIND_IMMUNE FIXED_DAMAGE

[shot11]
Name = SHOT_GRENADE
WithstandHitAgainst = WALL DOOR LAVA WATER

[shot12]
Name = SHOT_DRAIN
BaseExperienceGain = 256
Properties = REBOUND_IMMUNE WIND_IMMUNE LIFE_DRAIN FIXED_DAMAGE

[shot14]
Name = SHOT_ARROW
Damage = 30
Properties =

[shot15]
Name = SHOT_BOULDER
Health = 210

[shot30]
Name = SHOT_WORD_OF_POWER
AreaDamage = 5 150 150

[spell21]
Name = SPELL_SIGHT
SpellPower = POWER_SIGHT

[power5]
Name = POWER_SIGHT
Spell = SPELL_SIGHT
Power = 576 640 704 768 832 896 960 1024 1088 1

[power8]
Name = POWER_HEAL_CREATURE
Power = 80  120  160  190  220  270  290  340  500 1000
Cost = 300  400  500  600  700  800  900 1000 1100

[power11]
Name = POWER_SPEED
Power = 300  400  500  600  700  800  900 1000 1100  100

[power12]
Name = POWER_PROTECT
Power = 300  400  500  600  700  800  900 1000 1100  100

[power13]
Name = POWER_CONCEAL
Power = 300  400  500  600  700  800  900 1000 1100 7000

[power15]
Name = POWER_CHICKEN
Power = 300  350  400  450  500  550  600  650 1000 1000
