; KeeperFX Partial Magic Configuration file version 1.0 for Legacy maps and campaigns, by Mefistotelis.
; Note that it is partial config file - do not replace global config with this file.

[shot12]
Name = SHOT_DRAIN
Properties = REBOUND_IMMUNE WIND_IMMUNE LIFE_DRAIN FIXED_DAMAGE

[power11]
Name = POWER_SPEED
Power = 300  400  500  600  700  800  900 1000 1100 300