; KeeperFX Partial Game Rules Configuration file
; file version 0.35 for Legacy maps and campaigns, by Mefistotelis

; This file contains original Bullfrog's values
; for creature config parameters. Note that it is
; partial config file - do not replace global config
; with this file.

[game]
DungeonHeartHealHealth = 1
PreserveClassicBugs = RESURRECT_FOREVER OVERFLOW_8BIT CLAIM_ROOM_ALL_THINGS RESURRECT_REMOVED NO_HAND_PURGE_ON_DEFEAT MUST_OBEY_KEEPS_NOT_DO_JOBS BREAK_NEUTRAL_WALLS ALWAYS_TUNNEL_TO_RED FULLY_HAPPY_WITH_GOLD FAINTED_IMMUNE_TO_BOULDER REBIRTH_KEEPS_SPELLS STUN_FRIENDLY_UNITS

[computer]
DiseaseHPTemplePercentage = 50

[magic]
ArmegeddonTeleportNeutrals = 1
FriendlyFightAreaRangePercent = 5
FriendlyFightAreaDamagePercent = 100

[rooms]  
TimeBetweenPrisonBreak = 64
TimeSpentInPrisonWithoutBreak = 20
PrisonBreakChance = 100

[research]
; Research order - type, kind and points needed for every research
Research = MAGIC POWER_HAND               1
Research = MAGIC POWER_POSSESS            1
Research = MAGIC POWER_SLAP               1
Research = MAGIC POWER_IMP             1000
Research = ROOM  TREASURE              1000
Research = ROOM  GARDEN                1000
Research = ROOM  LAIR                  1000
Research = ROOM  RESEARCH              1000
Research = ROOM  TRAINING              1000
Research = MAGIC POWER_SIGHT           3800
Research = ROOM  BRIDGE                4600
Research = MAGIC POWER_SPEED           5700
Research = MAGIC POWER_OBEY            6000
Research = ROOM  GUARD_POST            6700
Research = MAGIC POWER_CALL_TO_ARMS    7400
Research = ROOM  WORKSHOP              9000
Research = MAGIC POWER_CONCEAL         9400
Research = ROOM  BARRACKS             12000
Research = MAGIC POWER_HOLD_AUDIENCE  11000
Research = ROOM  PRISON               20000
Research = MAGIC POWER_CAVE_IN        25000
Research = ROOM  TORTURE              20000
Research = MAGIC POWER_HEAL_CREATURE  14000
Research = ROOM  TEMPLE               25000
Research = MAGIC POWER_LIGHTNING      15000
Research = ROOM  GRAVEYARD            25000
Research = MAGIC POWER_PROTECT        15000
Research = ROOM  SCAVENGER            27500
Research = MAGIC POWER_CHICKEN        20000
Research = MAGIC POWER_DISEASE        20000
Research = MAGIC POWER_ARMAGEDDON    100000
Research = MAGIC POWER_DESTROY_WALLS 750000

[sacrifices]
MkCreature =  BILE_DEMON         SPIDER SPIDER SPIDER
MkCreature =  HORNY              TROLL BILE_DEMON DARK_MISTRESS
PosUniqFunc = COMPLETE_RESEARCH  FLY FLY
PosUniqFunc = COMPLETE_MANUFACTR BUG BUG
NegSpellAll = SPELL_DISEASE      VAMPIRE VAMPIRE
MkCreature =  SORCEROR           FLY SPIDER
MkCreature =  DARK_MISTRESS      BUG SPIDER
NegSpellAll = SPELL_CHICKEN      BILE_DEMON BILE_DEMON
PosUniqFunc = CHEAPER_IMPS       IMP
NegUniqFunc = ALL_CREATRS_ANGRY  HORNY
NegUniqFunc = KILL_ALL_CHICKENS  GHOST
