; KeeperFX Partial Traps and Doors Configuration file version 1.0 for Legacy maps and campaigns.
; Note that it is partial config file - do not replace global config with this file.

[door2]
Name = BRACED
Health = 750

[door3]
Name = STEEL
Health = 1500

[door4]
Name = MAGIC
Health = 3000

[trap1]
Name = BOULDER
Health = 210

[trap4]
Name = LIGHTNING
Shots = 8

