; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = AVATAR
Health = 6500
HealRequirement = 250
HealThreshold = 200
Strength = 240
Armour = 240
Dexterity = 240
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 240
Luck = 20
Recovery = 0
HungerRate = 0
HungerFill = 0
HurtByLava = 2
BaseSpeed = 80
GoldHold = 1000
AttackPreference = MELEE
Pay = 8000
HeroVsKeeperCost = 0
SlapsToKill = 60
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON ONE_OF_KIND

[attraction]
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD SWING_WEAPON_FIST SPEED NULL REBOUND FREEZE HEAL ARMOUR NULL DRAIN
PowersLevelRequired = 1 2 3 0 5 6 7 8 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 100 250 500 1000 1750 2500 4000 5500 7500
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab required near lair and amount of experience
SleepExperience = HARD 1
ExperienceForHitting = 75

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 25
