; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = BARBARIAN
Health = 550
HealRequirement = 150
HealThreshold = 200
Strength = 90
Armour = 50
Dexterity = 70
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 40
HurtByLava = 2
BaseSpeed = 64
AttackPreference = MELEE
Pay = 0
HeroVsKeeperCost = 0
SlapsToKill = 40
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL NULL NULL NULL NULL SPEED
PowersLevelRequired = 1 0 0 0 0 0 0 0 0 10

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 4
TrainingCost = 15
