; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = BUG
Health = 200
Strength = 25
Armour = 40
Dexterity = 90
FearWounded = 15
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Luck = 3
Recovery = 50
HungerRate = 0
HungerFill = 0
LairSize = 1
HurtByLava = 2
BaseSpeed = 104
AttackPreference = MELEE
Pay = 50
SlapsToKill = 22
DamageToBoulder = 20
Properties = BLEEDS IMMUNE_TO_GAS EVIL INSECT

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0

[annoyance]
EatFood = 0
NoHatchery = 0
WokenUp = 50
StandingOnDeadEnemy = 0
Sulking = 2
NoSalary = 2500
Slapped = 100
StandingOnDeadFriend = 0
InTorture = 2
InTemple = 0
Sleeping = -1
LairEnemy = NULL

[senses]
EyeHeight = 100
FieldOfView = 1024
EyeEffect = MIST_WATER
MaxAngleChange = 16

[experience]
Powers = SWING_WEAPON_FIST SWING_WEAPON_SWORD NULL NULL SPEED NULL NULL NULL ARMOUR INVISIBILITY
PowersLevelRequired = 1 2 0 0 5 0 0 0 9 10
LevelsTrainValues = 10 20 30 50 100 200 350 500 10000
GrowUp = 0 NULL 0
SleepExperience = GOLD 100

[jobs]
PrimaryJobs = EXPLORE
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 1
TrainingCost = 26
ScavengeValue = 100
ScavengerCost = 38
ResearchValue = 0
ManufactureValue = 0
