; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = DEMONSPAWN
Health = 650
HealRequirement = 150
HealThreshold = 200
Strength = 35
Armour = 70
Dexterity = 70
FearWounded = 31
FearStronger = 10000
FearsomeFactor = 100
Defence = 70
Luck = 8
Recovery = 18
HungerRate = 0
HungerFill = 0
LairSize = 1
HurtByLava = 0
BaseSpeed = 96
GoldHold = 250
AttackPreference = MELEE
Pay = 80
DamageToBoulder = 20
Properties = BLEEDS EVIL

[attraction]
EntranceRoom = NULL TREASURE NULL
RoomSlabsRequired = 0 9 0

[annoyance]
EatFood = 0
NoHatchery = 0
WokenUp = 200
StandingOnDeadEnemy = 0
Sulking = 2
NoSalary = 6000
Slapped = 200
StandingOnDeadFriend = 0
InTorture = 4
InTemple = 0
Untrained = 0 0
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = MAD_PSYCHO

[senses]
EyeHeight = 200
FieldOfView = 1024
EyeEffect = MIST_WATER
MaxAngleChange = 21

[experience]
Powers = FLAME_BREATH NULL FART NULL TELEPORT NULL HAILSTORM NULL FLY SWING_WEAPON_FIST
PowersLevelRequired = 1 0 3 0 5 0 7 0 9 10
LevelsTrainValues = 25 50 100 200 400 800 1500 2500 4000
GrowUp = 0 NULL 0
SleepExperience = GOLD 100

[jobs]
PrimaryJobs = SEEK_THE_ENEMY
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 1
TrainingCost = 42
ScavengeValue = 2
ScavengerCost = 80
ResearchValue = 0
ManufactureValue = 0
