; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = DRAGON
Health = 600
Strength = 70
Armour = 70
Dexterity = 60
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 80
Luck = 18
Recovery = 19
HungerRate = 0
HungerFill = 0
LairSize = 2
HurtByLava = 1
BaseSpeed = 80
GoldHold = 5000
AttackPreference = RANGED
Pay = 180
DamageToBoulder = 20
Properties = BLEEDS EVIL

[attraction]
EntranceRoom = TREASURE LAIR NULL
RoomSlabsRequired = 9 1 0

[annoyance]
EatFood = 0
NoHatchery = 0
WokenUp = 400
StandingOnDeadEnemy = 0
Sulking = 4
NoSalary = 10000
Slapped = 600
StandingOnDeadFriend = 0
InTorture = 10
InTemple = 0
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = MAD_PSYCHO

[senses]
EyeHeight = 900
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 8

[appearance]
WalkingAnimSpeed = 128
VisualRange = 27

[experience]
Powers = FIRE_BOMB NULL NULL NULL NULL NULL NULL WORD_OF_POWER NULL ARMOUR
PowersLevelRequired = 1 0 0 0 0 0 0 8 0 10
LevelsTrainValues = 1 2 100 250 500 1000 3000 7500 15000
GrowUp = 0 NULL 0
SleepExperience = GOLD 10
ExperienceForHitting = 17

[jobs]
PrimaryJobs = SEEK_THE_ENEMY
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 0
TrainingCost = 0
ScavengeValue = 5
ScavengerCost = 110
ResearchValue = 0
ManufactureValue = 0
