; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = DWARFA
Health = 350
Strength = 45
Armour = 40
Dexterity = 55
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Luck = 2
Recovery = 4
HurtByLava = 2
BaseSpeed = 72
GoldHold = 500
AttackPreference = MELEE
Pay = 80
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
EntranceRoom = TREASURE NULL NULL
RoomSlabsRequired = 15 0 0

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL ARMOUR NULL NULL NULL NULL NULL REBOUND
PowersLevelRequired = 1 0 0 4 0 0 0 0 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0

[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 5
