; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = FAIRY
Health = 250
Strength = 10
Armour = 10
Dexterity = 70
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 10
Luck = 40
HurtByLava = 2
BaseSpeed = 56
GoldHold = 250
AttackPreference = RANGED
Pay = 200
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON FLYING FEMALE

[attraction]
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0

[experience]
Powers = SWING_WEAPON_FIST HAILSTORM DRAIN INVISIBILITY HEAL NULL LIGHTNING NULL NULL REBOUND
PowersLevelRequired = 1 2 3 4 5 0 7 0 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 4
