; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = GHOST
Health = 200
Strength = 10
Armour = 10
Dexterity = 170
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 150
Luck = 55
Recovery = 4
HurtByLava = 2
BaseSpeed = 48
GoldHold = 1000
AttackPreference = RANGED
Pay = 150
DamageToBoulder = 20
Properties = IMMUNE_TO_GAS FLYING SEE_INVISIBLE PASS_LOCKED_DOORS EVIL

[attraction]
EntranceRoom = LAIR NULL NULL
RoomSlabsRequired = 1 0 0

[annoyance]
EatFood = 0
StandingOnDeadEnemy = 5
InTemple = -25
Sleeping = 0
GotWage = 3
WinBattle = 1
Queue = 4
LairEnemy = MONK
AnnoyLevel = 4000
AngerJobs = DAMAGE_WALLS

[experience]
Powers = POISON_CLOUD NULL DRAIN NULL FART NULL REBOUND NULL HAILSTORM HEAL
PowersLevelRequired = 1 0 3 0 5 0 7 0 9 10
LevelsTrainValues = 500 1500 6500 8500 10500 13000 16000 20000 25000
GrowUp = 0 NULL 0

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = TEMPLE_PRAY
NotDoJobs =
StressfulJobs =
TrainingValue = 4
TrainingCost = 20
ResearchValue = 4
