; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = GIANT
Health = 1000
Strength = 70
Armour = 60
Dexterity = 90
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 60
Luck = 20
HurtByLava = 0
BaseSpeed = 40
GoldHold = 1000
Size = 250 700
AttackPreference = MELEE
Pay = 150
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
EntranceRoom = GARDEN NULL NULL
RoomSlabsRequired = 25 0 0

[experience]
Powers = SWING_WEAPON_FIST NULL NULL NULL NULL NULL NULL NULL NULL FIRE_BOMB
PowersLevelRequired = 1 0 0 0 0 0 0 0 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
