; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = HORNY
Health = 900
HealRequirement = 255
HealThreshold = 150
Strength = 220
Armour = 40
Dexterity = 160
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 40
Luck = 255
Recovery = 15
HungerRate = 3600
HungerFill = 7
LairSize = 2
HurtByLava = 0
AttackPreference = MELEE
Pay = 50
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
EntranceRoom = BARRACKS NULL NULL
RoomSlabsRequired = 1 0 0

[annoyance]
EatFood = -50
InHand = 2
NoLair = 5
NoHatchery = 20
WokenUp = 200
StandingOnDeadEnemy = -100
Sulking = 15
NoSalary = 6000
Slapped = 500
StandingOnDeadFriend = 1
Sleeping = -4
GotWage = -100
WinBattle = -1000
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[experience]
Powers = SWING_WEAPON_SWORD NULL SWING_WEAPON_FIST NULL SPEED NULL NULL NULL NULL NULL
PowersLevelRequired = 1 0 3 0 5 0 0 0 0 0
LevelsTrainValues = 500 1750 2500 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 4

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs =
NotDoJobs = BARRACK
StressfulJobs =
TrainingValue = 4
TrainingCost = 30
ManufactureValue = 5
