; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = IMP
Health = 75
HealRequirement = 0
HealThreshold = 0
Strength = 5
Armour = 5
Dexterity = 60
FearWounded = 101
FearStronger = 10000
FearsomeFactor = 100
Defence = 5
HurtByLava = 2
BaseSpeed = 96
AttackPreference = MELEE
Pay = 0
DamageToBoulder = 20

[annoyance]
OthersLeaving = 10
LairEnemy = NULL
AnnoyLevel = 0
AngerJobs = LEAVE_DUNGEON

[appearance]
CorpseVanishEffect = 0

[experience]
Powers = FIRST_PERSON_DIG SWING_WEAPON_SWORD SPEED NULL NULL NULL NULL NULL NULL INVISIBILITY
PowersLevelRequired = 1 1 3 0 0 0 0 0 0 10
