; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = KNIGHT
Health = 900
Strength = 80
Armour = 120
Dexterity = 150
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 90
HurtByLava = 2
BaseSpeed = 56
AttackPreference = MELEE
Pay = 1000
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON LORD

[attraction]
EntranceRoom = TREASURE LAIR NULL
RoomSlabsRequired = 25 25 0

[experience]
Powers = SWING_WEAPON_SWORD NULL SWING_WEAPON_FIST NULL SPEED NULL HEAL NULL REBOUND NULL
PowersLevelRequired = 1 0 3 0 5 0 7 0 9 0

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
