; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = ORC
Health = 550
Strength = 70
Armour = 30
Dexterity = 60
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 30
Luck = 12
HungerRate = 7000
HungerFill = 5
HurtByLava = 2
BaseSpeed = 72
AttackPreference = MELEE
Pay = 0
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
EntranceRoom = TRAINING NULL NULL
RoomSlabsRequired = 9 0 0

[annoyance]
EatFood = -50
NoHatchery = 20
NoSalary = 0

[experience]
Powers = SWING_WEAPON_SWORD SPEED NULL SWING_WEAPON_FIST NULL NULL GRENADE NULL NULL NAVIGATING_MISSILE
PowersLevelRequired = 1 2 0 4 0 0 7 0 0 10
LevelsTrainValues = 500 1000 1500 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = GUARD
NotDoJobs =
StressfulJobs =
TrainingValue = 6
TrainingCost = 8
ResearchValue = 1
ManufactureValue = 7
