; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = SAMURAI
Health = 900
Strength = 90
Armour = 70
Dexterity = 90
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 80
Luck = 20
HurtByLava = 2
BaseSpeed = 64
AttackPreference = MELEE
Pay = 500
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON SEE_INVISIBLE

[attraction]
EntranceRoom = TEMPLE TRAINING NULL
RoomSlabsRequired = 9 9 0

[annoyance]
Untrained = 25000 100
AngerJobs = KILL_CREATURES LEAVE_DUNGEON JOIN_ENEMY

[experience]
Powers = SWING_WEAPON_SWORD NULL SPEED NULL LIGHTNING NULL FREEZE NULL SIGHT SWING_WEAPON_FIST
PowersLevelRequired = 1 0 3 0 5 0 7 0 9 10

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 5
TrainingCost = 50
