; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = TENTACLE
Health = 700
Strength = 110
Armour = 50
Dexterity = 65
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Recovery = 6
HungerRate = 8000
HungerFill = 3
HurtByLava = 2
BaseSpeed = 48
AttackPreference = MELEE
Pay = 0
DamageToBoulder = 20
Properties = BLEEDS EVIL

[attraction]
EntranceRoom = GARDEN NULL NULL
RoomSlabsRequired = 1 0 0

[annoyance]
EatFood = -50
NoSalary = 0
LairEnemy = HELL_HOUND
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[senses]
EyeHeight = 300
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 13

[experience]
Powers = SWING_WEAPON_FIST NULL NULL NULL FLY NULL NULL INVISIBILITY NULL SLOW
PowersLevelRequired = 1 0 0 0 5 0 0 8 0 10
LevelsTrainValues = 500 1250 2500 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = WATER 2

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 8
TrainingCost = 8
ResearchValue = 1
ManufactureValue = 5
