; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = TUNNELLER
Health = 250
Strength = 25
Armour = 20
Dexterity = 40
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 20
Luck = 0
HurtByLava = 2
BaseSpeed = 56
GoldHold = 500
AttackPreference = MELEE
Pay = 40
DamageToBoulder = 20

[experience]
Powers = SWING_WEAPON_FIST NULL NULL NULL NULL NULL NULL NULL NULL SPEED
PowersLevelRequired = 1 0 0 0 0 0 0 0 0 10

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
