; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = VAMPIRE
Health = 700
Strength = 60
Armour = 35
Dexterity = 80
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Recovery = 9
HungerRate = 5000
HungerFill = 6
HurtByLava = 2
BaseSpeed = 48
AttackPreference = RANGED
Pay = 200
DamageToBoulder = 20
Properties = BLEEDS IMMUNE_TO_GAS HUMANOID_SKELETON SEE_INVISIBLE EVIL ALLURING_SCVNGRs

[attraction]
EntranceRoom = TEMPLE NULL NULL
RoomSlabsRequired = 9 0 0

[annoyance]
EatFood = -50
InTemple = -20
LairEnemy = SORCEROR
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS LEAVE_DUNGEON

[experience]
Powers = DRAIN POISON_CLOUD FLY TELEPORT FART HEAL SLOW ARMOUR NULL WORD_OF_POWER
PowersLevelRequired = 1 2 3 4 5 6 7 8 0 10
Rebirth = 3

[jobs]
PrimaryJobs = SCAVENGE
SecondaryJobs = RESEARCH
NotDoJobs = MANUFACTURE
StressfulJobs =
TrainingValue = 6
TrainingCost = 50
