; KeeperFX Partial Creature Configuration file
; file version 0.30 for QuestFTH, by Mefistotelis

; This file can replace some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default values.

[attributes]
Name = WIZARD
Health = 400
Strength = 20
Armour = 20
Dexterity = 100
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 20
HurtByLava = 2
BaseSpeed = 40
GoldHold = 500
AttackPreference = RANGED
Pay = 250
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON

[experience]
Powers = FIREBALL NULL HEAL NULL FIRE_BOMB FLAME_BREATH DRAIN NAVIGATING_MISSILE SLOW WORD_OF_POWER
PowersLevelRequired = 1 0 3 0 5 6 7 8 9 10

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
NotDoJobs = MANUFACTURE
StressfulJobs = KINKY_TORTURE
