; KeeperFX Creature Model Configuration file
; file version 0.32

[attributes]
; Name is the creature identifier which should be used in level script
Name = AVATAR
Properties = BLEEDS HUMANOID_SKELETON NEVER_CHICKENS IMMUNE_TO_BOULDER LORD

[experience]
Powers = SWING_WEAPON_SWORD ARMOUR NULL HEAL NULL FREEZE NULL FIRE_BOMB INVISIBILITY SPEED
PowersLevelRequired = 1 2 0 4 0 6 0 8 9 10
