; KeeperFX Creature Model Configuration file
; file version 0.32

[attributes]
; Name is the creature identifier which should be used in level script
Name = SAMURAI
Properties = BLEEDS HUMANOID_SKELETON

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL LIGHTNING SPEED NULL FREEZE SIGHT
PowersLevelRequired = 1 0 0 0 0 6 7 0 9 10
