; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = SAMURAI
Properties = BLEEDS HUMANOID_SKELETON

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL LIGHTNING SPEED NULL FREEZE SIGHT
PowersLevelRequired = 1 0 0 0 0 6 7 0 9 10
