; KeeperFX Creature Kind Configuration file version 1.0.

[attributes]
Name = WIZARD
Properties = BLEEDS HUMANOID_SKELETON

[experience]
Powers = SWING_WEAPON_FIST FIREBALL POISON_CLOUD REBOUND HEAL FREEZE HAILSTORM DRAIN SLOW FIRE_BOMB
