[attributes]
; Name is the creacure identifier which should be used in level script
Name = TROLL
Health = 400
HealRequirment = 150
HealThreshold = 200
Strength = 30
Armour = 75
Dexterity = 50
Fear = 70
Defence = 90
Luck = 50
Recovery = 60
HungerRate = 6000
HungerFill = 3
LairSize = 1
HurtByLava = 2
BaseSpeed = 56
GoldHold = 500
; Creature image size - XY and YZ
Size = 200 350
AttackPreference = MELEE
Pay = 48
HeroVsKeeperCost = 0
SlapsToKill = 45
CreatureLoyalty = 0
LoyaltyLevel = 6
DamageToBoulder = 20
; Creature thing size - XY and YZ; one cube is 256x256
ThingSize = 256 512
Properties = BLEEDS HUMANOID

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TRAINING NULL NULL
RoomSlabsRequired = 1 0 0
EntranceForce = 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 1
NoHatchery = 3
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 30
InTorture = 4
InTemple = -50
Sleeping = -3
GotWage = -750
WinBattle = -330
; Game turns requred without training and the annoyance level
Untrained = 0 0
OthersLeaving = 10
; Annoyance caused by performing stressful jobs
JobStress = 0
Queue = 4
LairEnemy = ORC
AnnoyLevel = 4000
AngerJobs = DESTROY_ROOMS

[senses]
Hearing = 10
EyeHeight = 350
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 15

[appearance]
WalkingAnimSpeed = 96
VisualRange = 18

[experience]
; Creature powers (spells), and the creature level at which they're given (max 10 spells).
Powers = SWING_WEAPON_SWORD HEAL NULL NULL MISSILE NULL NULL NULL NULL GRENADE
PowersLevelRequired = 1 2 0 0 5 0 0 0 0 10
; Training values required to reach higher creature levels
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
;Growing beyond max level - training cost, new creature type and its level
GrowUp = 0 NULL 0
; Gaining experience from sleeping - slab requred near lair and amount of experience
SleepExperince = HARD 0
ExperienceForHitting = 14

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = GUARD
NotDoJobs = RESEARCH
StressfulJobs =
TrainingValue = 2
TrainingCost = 12
ScavengeValue = 2
ScavengerCost = 18
ResearchValue = 0
ManufactureValue = 5
RealTraining = 0
