; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = ARCHER
Health = 300
HealRequirement = 150
HealThreshold = 200
Strength = 20
Armour = 20
Dexterity = 100
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 60
HungerRate = 5000
HungerFill = 1
LairSize = 1
HurtByLava = 2
BaseSpeed = 48
GoldHold = 250
AttackPreference = RANGED
Pay = 75
HeroVsKeeperCost = 0
SlapsToKill = 30
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
EntranceRoom = NULL LAIR NULL
RoomSlabsRequired = 0 1 0

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 25
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -350
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = DRAGON
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 20

[appearance]
WalkingAnimSpeed = 128
VisualRange = 18

[experience]
Powers = FIRE_ARROW NULL NULL SLOW NULL NULL NULL NULL NAVIGATING_MISSILE NULL
PowersLevelRequired = 1 1 0 4 0 0 0 0 9 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 26

[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 8
ScavengeValue = 2
ScavengerCost = 8
ResearchValue = 2
ManufactureValue = 2
