; KeeperFX Partial Creature Configuration file
; file version 0.40 for DzjR06Lv

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = ARCHER
FearStronger = 10000
FearsomeFactor = 100
Pay = 75
DamageToBoulder = 20

[attraction]
EntranceRoom = NULL LAIR NULL
RoomSlabsRequired = 0 1 0

[annoyance]
LairEnemy = DRAGON

[experience]
Powers = FIRE_ARROW NULL NULL SLOW NULL NULL NULL NULL NAVIGATING_MISSILE NULL
PowersLevelRequired = 1 0 0 4 0 0 0 0 9 0
ExperienceForHitting = 26

[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs =
