; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = AVATAR
Health = 2000
Strength = 140
Dexterity = 180
FearWounded = 0
Defence = 120
Recovery = 5
BaseSpeed = 32
Pay = 2500
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON ONE_OF_KIND NO_STEAL_HERO

[attraction]
EntranceRoom = NULL BARRACKS NULL
RoomSlabsRequired = 0 25 0

[annoyance]
AngerJobs = KILL_CREATURES

[experience]
Powers = SWING_WEAPON_SWORD NULL HEAL NULL REBOUND NULL SWING_WEAPON_FIST DRAIN NULL WORD_OF_POWER
PowersLevelRequired = 1 0 3 0 5 0 7 8 0 10
LevelsTrainValues = 3000 7500 15000 25000 35000 45000 55000 60000 65000
ExperienceForHitting = 0

[jobs]
PrimaryJobs = 
NotDoJobs = 
TrainingValue = 5
