; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = BARBARIAN
Armour = 80
FearStronger = 0
FearsomeFactor = 100
Defence = 80
Pay = 90
DamageToBoulder = 20

[annoyance]
AngerJobs = DESTROY_ROOMS

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL ARMOUR NULL NULL NULL NULL NULL
PowersLevelRequired = 1 0 0 0 5 0 0 0 0 0
GrowUp = 25000 KNIGHT 4
ExperienceForHitting = 12

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = GUARD
TrainingValue = 4
