; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = BILE_DEMON
Health = 2200
HealRequirement = 150
HealThreshold = 200
Strength = 80
Armour = 60
Dexterity = 40
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 60
Recovery = 1
HungerRate = 6000
HungerFill = 4
LairSize = 4
HurtByLava = 2
BaseSpeed = 40
GoldHold = 3000
AttackPreference = MELEE
Pay = 182
HeroVsKeeperCost = 0
SlapsToKill = 0
DamageToBoulder = 20
Properties = BLEEDS UNAFFECTED_BY_WIND EVIL TREMBLING_FAT

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = BARRACKS GARDEN NULL
RoomSlabsRequired = 9 25 0

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 6
WokenUp = 300
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 1000
Slapped = 400
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -40
Sleeping = -6
GotWage = -650
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = GIANT
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES

[senses]
Hearing = 10
EyeHeight = 400
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 8

[appearance]
WalkingAnimSpeed = 144
VisualRange = 18

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL ARMOUR NULL NULL GRENADE FIRE_BOMB
PowersLevelRequired = 1 0 0 0 0 6 0 0 9 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 18

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 38
ScavengeValue = 0
ScavengerCost = 30
ResearchValue = 1
ManufactureValue = 1
