; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = BILE_DEMON
Health = 2200
FearStronger = 10000
FearsomeFactor = 100
Defence = 60
Recovery = 1
HungerRate = 6000
HungerFill = 4
LairSize = 4
BaseSpeed = 40
Pay = 182
DamageToBoulder = 20
Properties = BLEEDS EVIL TREMBLING FAT
SpellImmunity = WIND

[attraction]
EntranceRoom = BARRACKS GARDEN NULL
RoomSlabsRequired = 9 25 0

[annoyance]
NoLair = 2
LairEnemy = GIANT
AngerJobs = KILL_CREATURES

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL ARMOUR NULL NULL GRENADE FIRE_BOMB
PowersLevelRequired = 1 0 0 0 0 6 0 0 9 10
ExperienceForHitting = 18

[jobs]
PrimaryJobs = 
TrainingValue = 3
ScavengeValue = 0
ManufactureValue = 1
