; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = BUG
Strength = 15
Armour = 80
FearStronger = 0
Defence = 70
Luck = 9
Recovery = 8
HungerRate = 10000
BaseSpeed = 120
SlapsToKill = 18
Properties = BLEEDS EVIL INSECT
SpellImmunity = POISON_CLOUD

[attraction]
EntranceRoom = LAIR NULL NULL
RoomSlabsRequired = 1 0 0

[annoyance]
LairEnemy = TENTACLE

[senses]
MaxAngleChange = 64

[experience]
Powers = SWING_WEAPON_FIST NULL INVISIBILITY NULL SWING_WEAPON_SWORD NULL NULL NULL NULL ARMOUR
PowersLevelRequired = 1 0 3 0 5 0 0 0 0 10
LevelsTrainValues = 500 1000 2500 3000 4500 5000 6500 8000 12000
ExperienceForHitting = 4
Rebirth = 2

[jobs]
PrimaryJobs = SEEK_THE_ENEMY
TrainingValue = 2
TrainingCost = 14
