; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = DARK_MISTRESS
Health = 650
Strength = 35
Armour = 60
FearWounded = 24
FearStronger = 0
FearsomeFactor = 100
Defence = 50
BaseSpeed = 72
Pay = 62
DamageToBoulder = 20

[attraction]
EntranceRoom = WORKSHOP NULL NULL

[annoyance]
LairEnemy = NULL
AngerJobs = KILL_CREATURES

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL SPEED NULL NULL NULL NULL DRAIN LIGHTNING
PowersLevelRequired = 1 0 0 4 0 0 0 0 9 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 15000 20000 25000
ExperienceForHitting = 30

[jobs]
PrimaryJobs = MANUFACTURE
SecondaryJobs = 
TrainingValue = 1
ScavengeValue = 0
ManufactureValue = 4
