; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = DEMONSPAWN
Health = 350
FearWounded = 36
FearStronger = 0
Defence = 50
HungerRate = 0
; In the original game, you could force-feed creatures even if they did not have any needs for eating. Setting HungerFill to 1 while HungerRate is set to 0 enables this mechanic.
HungerFill = 1
BaseSpeed = 56
Pay = 34

[attraction]
EntranceRoom = NULL RESEARCH NULL
RoomSlabsRequired = 0 1 0

[annoyance]
Untrained = 0 0

[senses]
EyeEffect = FISH_EYE

[experience]
Powers = FLAME_BREATH NULL FIREBALL NULL SLOW NULL HEAL NAVIGATING_MISSILE WORD_OF_POWER TELEPORT
PowersLevelRequired = 1 0 3 0 5 0 7 8 9 10
LevelsTrainValues = 100 350 500 650 850 1050 1300 1600 5000
GrowUp = 0 NULL 0
ExperienceForHitting = 12

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = SEEK_THE_ENEMY
TrainingValue = 0
ResearchValue = 3
