; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = DEMONSPAWN
Health = 350
HealRequirement = 150
HealThreshold = 200
Strength = 50
Armour = 40
Dexterity = 70
FearWounded = 36
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Luck = 8
Recovery = 5
HungerRate = 0
HungerFill = 0
LairSize = 1
HurtByLava = 0
BaseSpeed = 56
GoldHold = 250
AttackPreference = MELEE
Pay = 34
HeroVsKeeperCost = 0
SlapsToKill = 30
DamageToBoulder = 20
Properties = BLEEDS EVIL

[attraction]
EntranceRoom = NULL RESEARCH NULL
RoomSlabsRequired = 0 1 0

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 30
InTorture = 4
InTemple = -40
Sleeping = -1
GotWage = -750
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = HELL_HOUND
AnnoyLevel = 4000
AngerJobs = DAMAGE_WALLS

[senses]
Hearing = 10
EyeHeight = 200
FieldOfView = 1024
EyeEffect = FISH_EYE
MaxAngleChange = 21

[appearance]
WalkingAnimSpeed = 80
VisualRange = 18

[experience]
Powers = FLAME_BREATH NULL FIREBALL NULL SLOW NULL HEAL NAVIGATING_MISSILE WORD_OF_POWER TELEPORT
PowersLevelRequired = 1 0 3 0 5 0 7 8 9 10
LevelsTrainValues = 100 350 500 650 850 1050 1300 1600 5000
GrowUp = 0 NULL 0
SleepExperience = HARD 0
ExperienceForHitting = 12

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = SEEK_THE_ENEMY
NotDoJobs =
StressfulJobs =
TrainingValue = 0
TrainingCost = 15
ResearchValue = 3
ManufactureValue = 2
