; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = DRAGON
Health = 700
HealRequirement = 150
HealThreshold = 200
Strength = 90
Armour = 70
Dexterity = 90
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 90
Luck = 22
Recovery = 6
HungerRate = 8000
HungerFill = 4
LairSize = 2
HurtByLava = 0
BaseSpeed = 32
GoldHold = 5000
AttackPreference = RANGED
Pay = 360
HeroVsKeeperCost = 0
SlapsToKill = 40
DamageToBoulder = 20
Properties = BLEEDS EVIL

[attraction]
EntranceRoom = NULL BARRACKS NULL
RoomSlabsRequired = 0 9 0

[annoyance]
EatFood = -100
WillNotDoJob = 100
InHand = 0
NoLair = 4
NoHatchery = 3
WokenUp = 400
StandingOnDeadEnemy = -14
Sulking = 4
NoSalary = 3500
Slapped = 600
StandingOnDeadFriend = 10
InTorture = 10
InTemple = -25
Sleeping = -10
GotWage = -1000
WinBattle = -500
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 10
LairEnemy = ARCHER
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES

[senses]
Hearing = 10
EyeHeight = 900
FieldOfView = 1024
EyeEffect = MIST_SMOKE
MaxAngleChange = 12

[appearance]
WalkingAnimSpeed = 96
VisualRange = 18

[experience]
Powers = FIRE_BOMB FLAME_BREATH NULL NULL WORD_OF_POWER NULL NULL NULL NULL REBOUND
PowersLevelRequired = 1 2 0 0 5 0 0 0 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = LAVA 3
ExperienceForHitting = 34

[jobs]
PrimaryJobs = SEEK_THE_ENEMY
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 5
TrainingCost = 40
ScavengeValue = 0
ScavengerCost = 35
ResearchValue = 2
ManufactureValue = 1
