; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = DWARFA
Strength = 30
Dexterity = 40
FearStronger = 0
Defence = 40
Pay = 68

[attraction]
EntranceRoom = NULL RESEARCH NULL
RoomSlabsRequired = 0 1 0

[annoyance]
AngerJobs = DESTROY_ROOMS

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NAVIGATING_MISSILE NULL NULL NULL NULL NULL NULL
PowersLevelRequired = 1 0 0 4 0 0 0 0 0 0
ExperienceForHitting = 14
