; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = FAIRY
Health = 200
HealThreshold = 255
FearStronger = 0
FearsomeFactor = 100
Defence = 30
Pay = 236
DamageToBoulder = 20

[attraction]
EntranceRoom = NULL RESEARCH NULL
RoomSlabsRequired = 0 1 0

[annoyance]
LairEnemy = SPIDER

[experience]
Powers = DRAIN NULL HEAL NULL NULL FREEZE NULL REBOUND INVISIBILITY POISON_CLOUD
PowersLevelRequired = 1 0 3 0 0 6 0 8 9 10
ExperienceForHitting = 20

[jobs]
NotDoJobs = 
TrainingValue = 2
