; KeeperFX Partial Creature Configuration file
; file version 0.40 for DzjR06Lv

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = FLY
Health = 200
Armour = 20
Dexterity = 60
FearWounded = 47
FearStronger = 10000
Defence = 120
HungerRate = 15000
Pay = 10
DamageToBoulder = 20

[annoyance]
NoSalary = 100
LairEnemy = FAIRY

[experience]
Powers = SWING_WEAPON_FIST NULL NULL NULL FREEZE NULL NULL NULL NULL INVISIBILITY
PowersLevelRequired = 1 0 0 0 5 0 0 0 0 10
ExperienceForHitting = 7

[jobs]
TrainingValue = 5

