; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = FLY
Health = 200
HealRequirement = 150
HealThreshold = 255
Strength = 10
Armour = 20
Dexterity = 60
FearWounded = 47
FearStronger = 10000
FearsomeFactor = 100
Defence = 120
Luck = 15
Recovery = 5
HungerRate = 15000
HungerFill = 1
LairSize = 1
HurtByLava = 2
BaseSpeed = 128
GoldHold = 50
AttackPreference = MELEE
Pay = 10
HeroVsKeeperCost = 0
SlapsToKill = 8
DamageToBoulder = 20
Properties = BLEEDS FLYING DIPTERA EVIL INSECT

[attraction]
EntranceRoom = NULL NULL NULL
RoomSlabsRequired = 0 0 0
ScavengeRequirement = 22000
TortureTime = 750

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 50
StandingOnDeadEnemy = 0
Sulking = 1
NoSalary = 100
Slapped = 0
StandingOnDeadFriend = 0
InTorture = 0
InTemple = -50
Sleeping = -1
GotWage = -500
WinBattle = -20
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 0
LairEnemy = FAIRY
AnnoyLevel = 8000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 50
FieldOfView = 1024
EyeEffect = LENS_COMPOUND
MaxAngleChange = 30

[appearance]
WalkingAnimSpeed = 128
VisualRange = 18

[experience]
Powers = SWING_WEAPON_FIST NULL NULL NULL FREEZE NULL NULL NULL NULL INVISIBILITY
PowersLevelRequired = 1 2 0 0 5 0 0 0 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 7

[jobs]
PrimaryJobs = EXPLORE
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 5
TrainingCost = 5
ResearchValue = 1
ManufactureValue = 1
