; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = GHOST
Health = 30
Strength = 0
Armour = 0
FearWounded = 0
FearStronger = 10000
Defence = 250
Recovery = 10
; In the original game, you could force-feed creatures even if they did not have any needs for eating. Setting HungerFill to 1 while HungerRate is set to 0 enables this mechanic.
HungerFill = 1
BaseSpeed = 56
AttackPreference = RANGED
Pay = 38
Properties = FLYING SEE_INVISIBLE PASS_LOCKED_DOORS EVIL
SpellImmunity = POISON_CLOUD

[attraction]
RoomSlabsRequired = 9 0 0

[annoyance]
LairEnemy = WITCH

[experience]
Powers = HAILSTORM NULL NULL SPEED NULL NULL LIGHTNING NULL POISON_CLOUD WIND
PowersLevelRequired = 1 0 0 4 0 0 7 0 9 10
ExperienceForHitting = 28

[jobs]
PrimaryJobs = SEEK_THE_ENEMY
SecondaryJobs = 
ScavengeValue = 0
ScavengerCost = 0
