; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = HELL_HOUND
Health = 550
HealRequirement = 150
HealThreshold = 200
Strength = 35
Armour = 50
Dexterity = 70
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Luck = 8
Recovery = 8
HungerRate = 6000
HungerFill = 2
HurtByLava = 0
BaseSpeed = 72
GoldHold = 500
AttackPreference = MELEE
Pay = 72
HeroVsKeeperCost = 0
SlapsToKill = 35
DamageToBoulder = 20
Properties = BLEEDS PISS_ON_DEAD EVIL

[attraction]
EntranceRoom = NULL LAIR NULL
RoomSlabsRequired = 0 25 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 1
NoHatchery = 2
WokenUp = 250
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 250
StandingOnDeadFriend = 100
InTorture = 4
InTemple = -40
Sleeping = -2
GotWage = -400
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = DEMONSPAWN
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 15
EyeHeight = 256
FieldOfView = 1024
EyeEffect = LENS_DOG
MaxAngleChange = 25

[experience]
Powers = FLAME_BREATH SPEED NULL NULL NULL SWING_WEAPON_FIST NULL FIREBALL NULL NULL
PowersLevelRequired = 1 2 0 0 0 6 0 8 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 26

[jobs]
PrimaryJobs = EXPLORE
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 14
ResearchValue = 1
ManufactureValue = 1
