; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = HELL_HOUND
Health = 550
Strength = 35
Armour = 50
FearStronger = 0
Defence = 50
HungerFill = 2
BaseSpeed = 72
Pay = 72
SlapsToKill = 35
DamageToBoulder = 20

[attraction]
EntranceRoom = NULL LAIR NULL
RoomSlabsRequired = 0 25 0

[annoyance]
NoLair = 1
NoHatchery = 2

[senses]
MaxAngleChange = 25

[experience]
Powers = FLAME_BREATH SPEED NULL NULL NULL SWING_WEAPON_FIST NULL FIREBALL NULL NULL
PowersLevelRequired = 1 2 0 0 0 6 0 8 0 0
ExperienceForHitting = 26

[jobs]
PrimaryJobs = EXPLORE
TrainingValue = 3
