; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = HORNY
Health = 1600
Strength = 120
Armour = 100
Dexterity = 70
FearWounded = 0
Defence = 80
Luck = 30
Recovery = 10
HungerRate = 4000
LairSize = 2
BaseSpeed = 88
Pay = 525
DamageToBoulder = 20

[attraction]
EntranceRoom = TEMPLE GARDEN NULL
RoomSlabsRequired = 9 25 0

[annoyance]
EatFood = 0
WillNotDoJob = 200
InHand = 0
NoLair = 3
NoHatchery = 2
WokenUp = 300
StandingOnDeadEnemy = -2
Sulking = 2
NoSalary = 4000
Slapped = 400
StandingOnDeadFriend = 0
InTemple = 1
Sleeping = 1
GotWage = 0
WinBattle = 1
OthersLeaving = 0
Queue = 4
LairEnemy = HORNY

[experience]
Powers = SWING_WEAPON_SWORD NULL TELEPORT NULL ARMOUR NULL NULL SPEED NULL NULL
PowersLevelRequired = 1 0 3 0 5 0 0 8 0 0
ExperienceForHitting = 46

[jobs]
TrainingValue = 3
TrainingCost = 49
ScavengeValue = 0
