; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = HORNY
Health = 1600
HealRequirement = 150
HealThreshold = 150
Strength = 120
Armour = 100
Dexterity = 70
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 80
Luck = 30
Recovery = 10
HungerRate = 4000
HungerFill = 4
LairSize = 2
HurtByLava = 0
BaseSpeed = 88
GoldHold = 2500
AttackPreference = MELEE
Pay = 525
HeroVsKeeperCost = 0
SlapsToKill = 80
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TEMPLE GARDEN NULL
RoomSlabsRequired = 9 25 0

[annoyance]
EatFood = 0
WillNotDoJob = 200
InHand = 0
NoLair = 3
NoHatchery = 2
WokenUp = 300
StandingOnDeadEnemy = -2
Sulking = 2
NoSalary = 4000
Slapped = 400
StandingOnDeadFriend = 0
InTorture = 300
InTemple = 1
Sleeping = 1
GotWage = 0
WinBattle = 1
Untrained = 0 0
OthersLeaving = 0
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = HORNY
AnnoyLevel = 4000
AngerJobs = MAD_PSYCHO

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 2047
EyeEffect = NULL
MaxAngleChange = 35

[appearance]
WalkingAnimSpeed = 192
VisualRange = 18

[experience]
Powers = SWING_WEAPON_SWORD NULL TELEPORT NULL ARMOUR NULL NULL SPEED NULL NULL
PowersLevelRequired = 1 0 3 0 5 0 0 8 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 46

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs =
NotDoJobs = BARRACK
StressfulJobs =
TrainingValue = 3
TrainingCost = 49
ScavengeValue = 0
ScavengerCost = 30
ResearchValue = 1
ManufactureValue = 0
