; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = IMP
FearStronger = 0
DamageToBoulder = 20
Properties = BLEEDS SPECIAL_DIGGER EVIL NO_ENMHEART_ATTCK

[annoyance]
EatFood = -1000
OthersLeaving = 10
AngerJobs = LEAVE_DUNGEON

[appearance]
CorpseVanishEffect = 0

[experience]
ExperienceForHitting = 10

[jobs]
TrainingValue = 2
