; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = KNIGHT
Health = 1100
HealThreshold = 150
Armour = 120
Dexterity = 70
FearWounded = 0
Defence = 90
BaseSpeed = 48
Pay = 900
DamageToBoulder = 20

[attraction]
EntranceRoom = BARRACKS NULL NULL
RoomSlabsRequired = 9 0 0

[annoyance]
AngerJobs = KILL_CREATURES

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL ARMOUR NULL NULL NULL SWING_WEAPON_FIST NULL HEAL
PowersLevelRequired = 1 0 0 4 0 0 0 8 0 10
ExperienceForHitting = 50

[jobs]
PrimaryJobs = FIGHT
NotDoJobs = 
TrainingValue = 4
