; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = KNIGHT
Health = 1100
HealRequirement = 150
HealThreshold = 150
Strength = 80
Armour = 120
Dexterity = 70
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 90
Luck = 15
Recovery = 6
HungerRate = 9000
HungerFill = 3
HurtByLava = 2
BaseSpeed = 48
GoldHold = 600
AttackPreference = MELEE
Pay = 900
HeroVsKeeperCost = 0
SlapsToKill = 40
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON LORD

[attraction]
EntranceRoom = BARRACKS NULL NULL
RoomSlabsRequired = 9 0 0

[annoyance]
EatFood = -1000
WillNotDoJob = 400
InHand = 0
NoLair = 4
NoHatchery = 4
WokenUp = 250
StandingOnDeadEnemy = -16
Sulking = 4
NoSalary = 3500
Slapped = 350
StandingOnDeadFriend = 65
InTorture = 12
InTemple = -75
Sleeping = -1
GotWage = -1000
WinBattle = -500
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 12
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL ARMOUR NULL NULL NULL SWING_WEAPON_FIST NULL HEAL
PowersLevelRequired = 1 0 0 4 0 0 0 8 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 50

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 4
TrainingCost = 40
ResearchValue = 1
ManufactureValue = 1
