; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = MONK
Health = 700
HealRequirement = 150
HealThreshold = 200
Armour = 60
FearStronger = 0
FearsomeFactor = 100
Defence = 80
Pay = 640
DamageToBoulder = 20

[attraction]
RoomSlabsRequired = 9 0 0

[annoyance]
LairEnemy = VAMPIRE

[experience]
Powers = SWING_WEAPON_FIST HAILSTORM NULL HEAL NULL LIGHTNING NULL ARMOUR NULL WORD_OF_POWER
PowersLevelRequired = 1 2 0 4 0 6 0 8 0 10
ExperienceForHitting = 28

[jobs]
PrimaryJobs =
