; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = MONK
Health = 700
HealRequirement = 150
HealThreshold = 200
Strength = 40
Armour = 60
Dexterity = 80
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 80
Luck = 30
Recovery = 8
HungerRate = 5000
HungerFill = 2
HurtByLava = 2
BaseSpeed = 32
GoldHold = 750
AttackPreference = MELEE
Pay = 640
HeroVsKeeperCost = 0
SlapsToKill = 25
CreatureLoyalty = 0
LoyaltyLevel = 8
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = TEMPLE NULL NULL
RoomSlabsRequired = 9 0 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 3
WokenUp = 200
StandingOnDeadEnemy = 0
Sulking = 2
NoSalary = 2000
Slapped = 250
StandingOnDeadFriend = 50
InTorture = 4
InTemple = -100
Sleeping = -4
GotWage = -750
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = VAMPIRE
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
Hearing = 10
EyeHeight = 512
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 12

[appearance]
WalkingAnimSpeed = 64
VisualRange = 18

[experience]
Powers = SWING_WEAPON_FIST HAILSTORM NULL HEAL NULL LIGHTNING NULL ARMOUR NULL WORD_OF_POWER
PowersLevelRequired = 1 2 0 4 0 6 0 8 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 28

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 12
ResearchValue = 3
ManufactureValue = 2
