; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = ORC
Health = 600
HealRequirement = 150
HealThreshold = 200
Strength = 80
Armour = 50
Dexterity = 30
FearWounded = 4
FearStronger = 10000
FearsomeFactor = 100
Defence = 50
Luck = 12
Recovery = 3
HungerRate = 7000
HungerFill = 2
HurtByLava = 2
BaseSpeed = 48
GoldHold = 600
AttackPreference = MELEE
Pay = 75
HeroVsKeeperCost = 0
SlapsToKill = 22
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
EntranceRoom = NULL TRAINING NULL
RoomSlabsRequired = 0 20 0

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 150
StandingOnDeadEnemy = -14
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 20
InTorture = 4
InTemple = -50
Sleeping = -4
GotWage = -750
WinBattle = -400
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = TROLL
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES

[appearance]
WalkingAnimSpeed = 96
VisualRange = 24

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL SPEED NULL NULL GRENADE NULL NULL NULL
PowersLevelRequired = 1 0 0 4 0 0 7 0 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 30

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = GUARD
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 15
ScavengeValue = 0
ScavengerCost = 20
ResearchValue = 0
ManufactureValue = 3
