; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = ORC
Health = 600
Strength = 80
Armour = 50
Dexterity = 30
FearWounded = 4
FearStronger = 0
Defence = 50
Recovery = 3
Pay = 75
SlapsToKill = 22
DamageToBoulder = 20

[attraction]
EntranceRoom = NULL TRAINING NULL
RoomSlabsRequired = 0 20 0

[annoyance]
LairEnemy = TROLL
AngerJobs = KILL_CREATURES

[appearance]
VisualRange = 24

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL SPEED NULL NULL GRENADE NULL NULL NULL
PowersLevelRequired = 1 0 0 4 0 0 7 0 0 0
ExperienceForHitting = 30

[jobs]
TrainingValue = 3
ScavengeValue = 0
