; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = SAMURAI
Health = 900
FearStronger = 10000
FearsomeFactor = 100
Defence = 170
Pay = 820
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON SEE_INVISIBLE
SpellImmunity = POISON_CLOUD

[attraction]
EntranceRoom = NULL TEMPLE NULL
RoomSlabsRequired = 0 25 0

[annoyance]
Untrained = 25000 100
LairEnemy = DRAGON
AngerJobs = MAD_PSYCHO

[experience]
Powers = SWING_WEAPON_SWORD NULL SPEED NULL DRAIN NULL FREEZE NULL SIGHT SWING_WEAPON_FIST
PowersLevelRequired = 1 0 3 0 5 0 7 0 9 10
ExperienceForHitting = 40

[jobs]
TrainingValue = 5
