; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = SAMURAI
Health = 900
HealRequirement = 100
HealThreshold = 100
Strength = 80
Armour = 60
Dexterity = 90
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 170
Luck = 20
Recovery = 9
HungerRate = 8000
HungerFill = 3
HurtByLava = 2
BaseSpeed = 64
GoldHold = 750
AttackPreference = MELEE
Pay = 820
HeroVsKeeperCost = 0
SlapsToKill = 50
DamageToBoulder = 20
Properties = BLEEDS IMMUNE_TO_GAS HUMANOID_SKELETON SEE_INVISIBLE

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = NULL TEMPLE NULL
RoomSlabsRequired = 0 25 0

[annoyance]
EatFood = -1000
WillNotDoJob = 400
InHand = 0
NoLair = 4
NoHatchery = 0
WokenUp = 250
StandingOnDeadEnemy = -14
Sulking = 5
NoSalary = 3000
Slapped = 750
StandingOnDeadFriend = 65
InTorture = 2
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -500
Untrained = 25000 100
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 6
LairEnemy = DRAGON
AnnoyLevel = 4000
AngerJobs = MAD_PSYCHO

[experience]
Powers = SWING_WEAPON_SWORD NULL SPEED NULL DRAIN NULL FREEZE NULL SIGHT SWING_WEAPON_FIST
PowersLevelRequired = 1 0 3 0 5 0 7 0 9 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 40

[jobs]
PrimaryJobs = FIGHT
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 5
TrainingCost = 50
ResearchValue = 2
ManufactureValue = 2
