; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = SKELETON
Health = 300
HealRequirement = 150
HealThreshold = 200
Strength = 45
Armour = 10
Dexterity = 60
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 40
Luck = 2
Recovery = 24
HungerRate = 0
HungerFill = 0
LairSize = 1
HurtByLava = 2
BaseSpeed = 72
GoldHold = 500
AttackPreference = MELEE
Pay = 46
HeroVsKeeperCost = 0
SlapsToKill = 20
DamageToBoulder = 20
Properties = IMMUNE_TO_GAS EVIL

[attraction]
EntranceRoom = NULL PRISON NULL
RoomSlabsRequired = 0 9 0

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 0
WokenUp = 150
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 400
Slapped = 100
StandingOnDeadFriend = 20
InTorture = 2
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = KILL_CREATURES

[senses]
EyeHeight = 512
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 62

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL SLOW NULL NULL ARMOUR NULL MISSILE NULL
PowersLevelRequired = 1 0 0 4 0 0 7 0 9 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 9
Rebirth = 2

[jobs]
PrimaryJobs = GUARD
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 4
TrainingCost = 12
ScavengeValue = 0
ScavengerCost = 15
ResearchValue = 1
ManufactureValue = 1
