; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = SKELETON
Health = 300
Strength = 45
Armour = 10
Dexterity = 60
Defence = 40
Recovery = 24
; In the original game, you could force-feed creatures even if they did not have any needs for eating. Setting HungerFill to 1 while HungerRate is set to 0 enables this mechanic.
HungerFill = 1
BaseSpeed = 72
Pay = 46
Properties = EVIL
SpellImmunity = POISON_CLOUD

[attraction]
EntranceRoom = NULL PRISON NULL
RoomSlabsRequired = 0 9 0

[annoyance]
NoSalary = 400
LairEnemy = NULL
AngerJobs = KILL_CREATURES

[senses]
MaxAngleChange = 62

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL SLOW NULL NULL ARMOUR NULL MISSILE NULL
PowersLevelRequired = 1 0 0 4 0 0 7 0 9 0
ExperienceForHitting = 9
Rebirth = 2

[jobs]
PrimaryJobs = GUARD
SecondaryJobs = TRAIN
TrainingCost = 12
ScavengeValue = 0
