; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = SORCEROR
HealThreshold = 255
Armour = 10
Dexterity = 60
FearStronger = 0
FearsomeFactor = 100
Defence = 30
BaseSpeed = 40
Pay = 64
DamageToBoulder = 20

[annoyance]
Untrained = 25000 50
JobStress = 100
LairEnemy = WIZARD

[experience]
Powers = SWING_WEAPON_FIST FIREBALL HEAL NULL SLOW NULL INVISIBILITY DRAIN NULL WORD_OF_POWER
PowersLevelRequired = 1 2 3 0 5 0 7 8 0 10
LevelsTrainValues = 500 1000 3000 5000 8500 10500 13000 16000 20000
SleepExperience = GOLD 1
ExperienceForHitting = 24

[jobs]
StressfulJobs = KINKY_TORTURE
TrainingValue = 3
