; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = SORCEROR
Health = 350
HealRequirement = 150
HealThreshold = 255
Strength = 20
Armour = 10
Dexterity = 60
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 30
Luck = 6
Recovery = 6
HungerRate = 8000
HungerFill = 3
HurtByLava = 2
BaseSpeed = 40
GoldHold = 400
AttackPreference = RANGED
Pay = 64
HeroVsKeeperCost = 0
SlapsToKill = 17
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON EVIL

[attraction]
; Rooms required to attract the creature from entrance, and number of slabs which is needed (max 3 rooms)
EntranceRoom = RESEARCH NULL NULL
RoomSlabsRequired = 9 0 0
ScavengeRequirement = 22000
TortureTime = 750

[annoyance]
EatFood = -1000
WillNotDoJob = 200
InHand = 0
NoLair = 4
NoHatchery = 1
WokenUp = 250
StandingOnDeadEnemy = -12
Sulking = 3
NoSalary = 2500
Slapped = 750
StandingOnDeadFriend = 75
InTorture = 8
InTemple = -70
Sleeping = -4
GotWage = -750
WinBattle = -450
Untrained = 25000 50
OthersLeaving = 10
JobStress = 100
GoingPostal = 100
Queue = 4
LairEnemy = WIZARD
AnnoyLevel = 4000
AngerJobs = PERSUADE

[experience]
Powers = SWING_WEAPON_FIST FIREBALL HEAL NULL SLOW NULL INVISIBILITY DRAIN NULL WORD_OF_POWER
PowersLevelRequired = 1 2 3 0 5 0 7 8 0 10
LevelsTrainValues = 500 1000 3000 5000 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = GOLD 1
ExperienceForHitting = 24

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
NotDoJobs = MANUFACTURE
StressfulJobs = KINKY_TORTURE
TrainingValue = 3
TrainingCost = 30
ResearchValue = 4
ManufactureValue = 1
