; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = SPIDER
Health = 550
HealRequirement = 150
HealThreshold = 200
Strength = 25
Armour = 70
Dexterity = 60
FearWounded = 0
FearStronger = 10000
FearsomeFactor = 100
Defence = 90
Luck = 8
Recovery = 4
HungerRate = 7000
HungerFill = 2
LairSize = 2
HurtByLava = 2
BaseSpeed = 48
Size = 200 128
AttackPreference = MELEE
Pay = 86
HeroVsKeeperCost = 0
SlapsToKill = 24
DamageToBoulder = 20
Properties = BLEEDS IMMUNE_TO_GAS ARACHNID EVIL INSECT

[attraction]
EntranceRoom = RESEARCH GARDEN NULL
RoomSlabsRequired = 9 9 0

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 1
NoHatchery = 2
WokenUp = 100
StandingOnDeadEnemy = -6
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 25
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = FAIRY
AnnoyLevel = 4000
AngerJobs = LEAVE_DUNGEON

[senses]
EyeHeight = 128
FieldOfView = 1024
EyeEffect = NULL
MaxAngleChange = 18

[experience]
Powers = SWING_WEAPON_FIST FREEZE NULL FART NULL POISON_CLOUD NULL NULL HAILSTORM NULL
PowersLevelRequired = 1 2 0 4 0 6 0 0 9 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
ExperienceForHitting = 6

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs = TRAIN
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 18
ResearchValue = 3
ManufactureValue = 2
