; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = SPIDER
Health = 550
Strength = 25
Armour = 70
FearWounded = 0
FearStronger = 0
Defence = 90
Luck = 8
Recovery = 4
LairSize = 2
Pay = 86
Properties = BLEEDS ARACHNID EVIL INSECT
SpellImmunity = POISON_CLOUD

[attraction]
EntranceRoom = RESEARCH GARDEN NULL
RoomSlabsRequired = 9 9 0

[annoyance]
LairEnemy = FAIRY

[senses]
EyeEffect = NULL

[experience]
Powers = SWING_WEAPON_FIST FREEZE NULL FART NULL POISON_CLOUD NULL NULL HAILSTORM NULL
PowersLevelRequired = 1 2 0 4 0 6 0 0 9 0
ExperienceForHitting = 6

[jobs]
PrimaryJobs = RESEARCH
TrainingValue = 3
ResearchValue = 3
