; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = TENTACLE
Strength = 65
Armour = 30
Dexterity = 70
FearStronger = 0
Defence = 70
Luck = 7
Recovery = 6
BaseSpeed = 128
Pay = 244
DamageToBoulder = 20

[attraction]
EntranceRoom = NULL TEMPLE NULL
RoomSlabsRequired = 0 9 0

[annoyance]
LairEnemy = BUG
AngerJobs = MAD_PSYCHO

[senses]
EyeEffect = LENS_WIBBLE
MaxAngleChange = 84

[experience]
Powers = SWING_WEAPON_FIST SWING_WEAPON_SWORD NULL NULL NULL NULL NULL NULL NULL LIGHTNING
PowersLevelRequired = 1 1 0 0 0 0 0 0 0 10
SleepExperience = WATER 20
ExperienceForHitting = 24

[jobs]
TrainingValue = 3
TrainingCost = 28
ScavengeValue = 0
