; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = TENTACLE
Health = 700
HealRequirement = 150
HealThreshold = 200
Strength = 65
Armour = 30
Dexterity = 70
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 70
Luck = 7
Recovery = 6
HungerRate = 8000
HungerFill = 1
HurtByLava = 2
BaseSpeed = 128
Size = 200 300
AttackPreference = MELEE
Pay = 244
HeroVsKeeperCost = 0
SlapsToKill = 40
DamageToBoulder = 20
Properties = BLEEDS EVIL

[attraction]
EntranceRoom = NULL TEMPLE NULL
RoomSlabsRequired = 0 9 0
ScavengeRequirement = 22000
TortureTime = 1000

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 2
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 2000
Slapped = 200
StandingOnDeadFriend = 25
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -750
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 4
LairEnemy = BUG
AnnoyLevel = 4000
AngerJobs = MAD_PSYCHO

[senses]
EyeHeight = 300
FieldOfView = 1024
EyeEffect = LENS_WIBBLE
MaxAngleChange = 84

[experience]
Powers = SWING_WEAPON_FIST SWING_WEAPON_SWORD NULL NULL NULL NULL NULL NULL NULL LIGHTNING
PowersLevelRequired = 1 1 0 0 0 0 0 0 0 10
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 20000
GrowUp = 0 NULL 0
SleepExperience = WATER 20
ExperienceForHitting = 24

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 3
TrainingCost = 28
ScavengeValue = 0
ScavengerCost = 8
ResearchValue = 1
ManufactureValue = 1
