; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = THIEF
Health = 250
HealRequirement = 150
HealThreshold = 255
Strength = 30
Armour = 20
Dexterity = 120
FearWounded = 12
FearStronger = 10000
FearsomeFactor = 100
Defence = 80
Luck = 14
Recovery = 4
HungerRate = 5000
HungerFill = 2
HurtByLava = 2
BaseSpeed = 48
GoldHold = 1750
AttackPreference = MELEE
Pay = 72
HeroVsKeeperCost = 0
SlapsToKill = 30
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
EntranceRoom = LAIR NULL NULL
RoomSlabsRequired = 1 0 0

[annoyance]
EatFood = -1000
WillNotDoJob = 0
InHand = 0
NoLair = 0
NoHatchery = 2
WokenUp = 200
StandingOnDeadEnemy = -12
Sulking = 2
NoSalary = 3000
Slapped = 200
StandingOnDeadFriend = 15
InTorture = 4
InTemple = -50
Sleeping = -1
GotWage = -1000
WinBattle = -330
Untrained = 0 0
OthersLeaving = 10
JobStress = 0
GoingPostal = 0
Queue = 5
LairEnemy = NULL
AnnoyLevel = 4000
AngerJobs = STEAL_GOLD

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL NULL INVISIBILITY NULL NULL NULL
PowersLevelRequired = 1 0 0 0 0 0 7 0 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 50000
GrowUp = 60000 ARCHER 3
ExperienceForHitting = 18

[jobs]
PrimaryJobs =
SecondaryJobs =
NotDoJobs =
StressfulJobs =
TrainingValue = 2
TrainingCost = 12
ResearchValue = 1
ManufactureValue = 1
