; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = THIEF
FearStronger = 0
Defence = 80
Pay = 72
DamageToBoulder = 20

[attraction]
EntranceRoom = LAIR NULL NULL
RoomSlabsRequired = 1 0 0

[annoyance]
AngerJobs = STEAL_GOLD

[experience]
Powers = SWING_WEAPON_SWORD NULL NULL NULL NULL NULL INVISIBILITY NULL NULL NULL
PowersLevelRequired = 1 0 0 0 0 0 7 0 0 0
LevelsTrainValues = 1000 3500 5000 6500 8500 10500 13000 16000 50000
GrowUp = 60000 ARCHER 3
ExperienceForHitting = 18

[jobs]
TrainingValue = 2
