; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = TROLL
Health = 400
Strength = 30
Armour = 75
FearWounded = 27
FearStronger = 0
Defence = 90
Luck = 50
Recovery = 60
BaseSpeed = 56
Pay = 48
SlapsToKill = 45
DamageToBoulder = 20

[attraction]
EntranceRoom = TRAINING NULL NULL

[annoyance]
LairEnemy = ORC
AngerJobs = DESTROY_ROOMS

[experience]
Powers = SWING_WEAPON_SWORD HEAL NULL NULL MISSILE NULL NULL NULL NULL GRENADE
PowersLevelRequired = 1 2 0 0 5 0 0 0 0 10
ExperienceForHitting = 14

[jobs]
PrimaryJobs = TRAIN
SecondaryJobs = GUARD
ResearchValue = 0
ManufactureValue = 5
