; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = TUNNELLER
Health = 600
Strength = 30
Armour = 40
FearStronger = 0
Defence = 40
GoldHold = 500
Pay = 56

[experience]
Powers = SWING_WEAPON_FIST NULL NULL NULL NULL NULL NULL NULL NULL NULL
PowersLevelRequired = 1 0 0 0 0 0 0 0 0 0
GrowUp = 60000 DWARFA 3
ExperienceForHitting = 4

[jobs]
PrimaryJobs = 
NotDoJobs = 
TrainingValue = 2
