; KeeperFX Partial Creature Configuration file
; file version 0.30 for DzjR06Lv, by Mefistotelis

; This file replaces some of default creature
; properties for one campaign.
; Values and sections which are not here
; will be left at default.

[attributes]
Name = WITCH
Health = 400
FearStronger = 10000
FearsomeFactor = 100
Pay = 242
DamageToBoulder = 20

[attraction]
EntranceRoom = TORTURE NULL NULL
RoomSlabsRequired = 9 0 0

[annoyance]
LairEnemy = GHOST
AngerJobs = JOIN_ENEMY

[experience]
Powers = LIGHTNING FLY HEAL NULL FART NULL LIGHTNING SLOW SIGHT FIRE_BOMB
PowersLevelRequired = 1 2 3 0 5 0 7 8 9 10
ExperienceForHitting = 30

[jobs]
PrimaryJobs = RESEARCH
SecondaryJobs =
TrainingValue = 3
