; KeeperFX Partial Creature Configuration file version 1.0 for DzjR06Lv, by Mefistotelis.
; This file replaces some of default creature properties for one campaign.
; Values and sections which are not here will be left at default.

[attributes]
Name = WIZARD
Health = 500
HealThreshold = 255
FearStronger = 0
FearsomeFactor = 100
Defence = 30
Pay = 340
DamageToBoulder = 20
Properties = BLEEDS HUMANOID_SKELETON

[attraction]
RoomSlabsRequired = 1 0 0

[annoyance]
JobStress = 100
LairEnemy = SORCEROR

[experience]
Powers = FIREBALL FLAME_BREATH HEAL NULL SLOW NULL HAILSTORM WORD_OF_POWER REBOUND FIRE_BOMB
PowersLevelRequired = 1 2 3 0 5 0 7 8 9 10
ExperienceForHitting = 28

[jobs]
StressfulJobs = KINKY_TORTURE
TrainingValue = 3
