; KeeperFX Creature States Configuration file
; file version 0.10 by Tomasz Lis

[common]
StatesCount = 149

[state0]
Name = Unused

[state1]
Name = ImpDoingNothing

[state2]
Name = ImpArrivesAtDigDirt

[state3]
Name = ImpArrivesAtMineGold

[state4]
Name = ImpDigsDirt

[state5]
Name = ImpMinesGold

[state6]
Name = Null6

[state7]
Name = ImpDropsGold

[state8]
Name = ImpLastDidJob

[state9]
Name = ImpAtImproveDungeon

[state10]
Name = ImpImprovesDungeon

[state11]
Name = CrtrPicksUpTrapObject

[state12]
Name = CreatureArmsTrap

[state13]
Name = CrtrPicksCrateForWrkshp

[state14]
Name = MoveToPosition

[state15]
Name = Null15

[state16]
Name = CrtrDropsCrateInWrkshp

[state17]
Name = CreatureDoingNothing

[state18]
Name = CreatureToGarden

[state19]
Name = CreatureArrivedAtGarden

[state20]
Name = CreatureWantsAHome

[state21]
Name = CrtrChooseRoomForLair

[state22]
Name = CreatureAtNewLair

[state23]
Name = PersonSulkHeadForLair

[state24]
Name = PersonSulkAtLair

[state25]
Name = CreatureGoingToSleep

[state26]
Name = CreatureSleep

[state27]
Name = Null27

[state28]
Name = Tunnelling

[state29]
Name = Null29

[state30]
Name = AtResearchRoom

[state31]
Name = Researching

[state32]
Name = AtTrainingRoom

[state33]
Name = Training

[state34]
Name = GoodDoingNothing

[state35]
Name = GoodReturnsToStart

[state36]
Name = GoodBackAtStart

[state37]
Name = GoodDropsGold

[state38]
Name = InPowerHand

[state39]
Name = ArriveAtCallToArms

[state40]
Name = CrtrArrivedAtPrison

[state41]
Name = CreatureInPrison

[state42]
Name = AtTortureRoom

[state43]
Name = Torturing

[state44]
Name = AtWorkshopRoom

[state45]
Name = Manufacturing

[state46]
Name = AtScavengerRoom

[state47]
Name = Scavengering

[state48]
Name = CreatureDormant

[state49]
Name = CreatureInCombat

[state50]
Name = CrtrLeavingDungeon

[state51]
Name = CreatureLeaves

[state52]
Name = CrtrInHoldAudience

[state53]
Name = PatrolHere

[state54]
Name = Patrolling

[state55]
Name = Null55

[state56]
Name = Null56

[state57]
Name = Null57

[state58]
Name = Null58

[state59]
Name = CrtrKillCreatures

[state60]
Name = Null60

[state61]
Name = PersonSulking

[state62]
Name = Null62

[state63]
Name = Null63

[state64]
Name = AtBarrackRoom

[state65]
Name = Barracking

[state66]
Name = CreatureSlapCowers

[state67]
Name = CreatureUnconscious

[state68]
Name = CrtrPickUpUncnscBody

[state69]
Name = ImpToking

[state70]
Name = ImpPicksUpGoldPile

[state71]
Name = MoveBackwrdToPosition

[state72]
Name = CrtrDropBodyInPrison

[state73]
Name = ImpAtConvertDungeon

[state74]
Name = ImpConvertsDungeon

[state75]
Name = CreatureWantsSalary

[state76]
Name = CreatureTakeSalary

[state77]
Name = TunnellerDoingNothing

[state78]
Name = CreatureObjectCombat

[state79]
Name = Null79

[state80]
Name = CreatureChangeLair

[state81]
Name = ImpBirth

[state82]
Name = AtTemple

[state83]
Name = PrayingInTemple

[state84]
Name = Null84

[state85]
Name = CreatureFollowLeader

[state86]
Name = CreatureDoorCombat

[state87]
Name = CreatureCombatFlee

[state88]
Name = CreatureSacrifice

[state89]
Name = AtLairToSleep

[state90]
Name = CreatureExempt

[state91]
Name = CreatureBeingDropped

[state92]
Name = CrtrBeingSacrificed

[state93]
Name = CrtrScavengedDisappear

[state94]
Name = CrtrScavengedReappear

[state95]
Name = CreatureBeingSummoned

[state96]
Name = CreatureHeroEntering

[state97]
Name = ImpArrivesAtReinforce

[state98]
Name = ImpReinforces

[state99]
Name = ArriveAtAlarm

[state100]
Name = CrtrPicksUpSpellObject

[state101]
Name = DropSpellInLibrary

[state102]
Name = CreaturePicksUpCorpse

[state103]
Name = DropsCorpseInGraveyard

[state104]
Name = AtGuardPostRoom

[state105]
Name = Guarding

[state106]
Name = CreatureEat

[state107]
Name = CreatureEvacuateRoom

[state108]
Name = WaitAtTreasureRoomDoor

[state109]
Name = AtKinkyTortureRoom

[state110]
Name = KinkyTorturing

[state111]
Name = MadKillingPsycho

[state112]
Name = CrtrSrchForGoldToSteal1

[state113]
Name = CreatureVandaliseRooms

[state114]
Name = CreatureStealGold

[state115]
Name = SeekTheEnemy

[state116]
Name = AlreadyAtCallToArms

[state117]
Name = CreatureDamageWalls

[state118]
Name = CrtrAttemptDamageWalls

[state119]
Name = CreaturePersuade

[state120]
Name = CrtrChangeToChicken

[state121]
Name = CrtrChangeFromChicken

[state122]
Name = ManualControl

[state123]
Name = CreatureCannotFindWork

[state124]
Name = CreaturePiss

[state125]
Name = CreatureRoar

[state126]
Name = CreatureAtChangedLair

[state127]
Name = CreatureBeHappy

[state128]
Name = GoodLeaveThroughHDoor

[state129]
Name = GoodWaitInHeroDoor

[state130]
Name = GoodAttackRoom1

[state131]
Name = CrtrSrchForGoldToSteal

[state132]
Name = GoodAttackRoom2

[state133]
Name = CrtrPretndChickenSetup

[state134]
Name = CreaturePretendChicken

[state135]
Name = CreatureAttackRooms

[state136]
Name = CreatureFreezePrisonrs

[state137]
Name = CreatureExploreDungeon

[state138]
Name = CreatureEatingAtGarden

[state139]
Name = LeavesBecauseOwnerLost

[state140]
Name = CreatureMoan

[state141]
Name = CrtrSetWorkRoomOnPos

[state142]
Name = CreatureBeingScavenged

[state143]
Name = CreatureEscapingDeath

[state144]
Name = CrtrPresentToDnHeart

[state145]
Name = CrtrSrchForSpellSteal

[state146]
Name = CreatureStealSpell

[state147]
Name = GoodArrivedAtAttackRoom

[state148]
Name = CreatureGoingToSafetyForToking
