; KeeperFX Effects Configuration file
; file version 0.13

[common]
EffectsCount = 69

[effect0]
Name = NULL
Health = 0
GenerationType = 1
GenerationAccelXYRange = 0 0
GenerationAccelZRange = 0 0
;Which effect is displayed, up to which other one
GenerationKindRange = 0 0
; Result of the effect
;1: Gas that does damage
;2: Unknown
;3: Gas casting slow
;4: Word of Power damage
;5: Gas that does damage and casting slow
;6: Gas casting disease
AreaAffectType = NONE
Sound = 0
AffectedByWind = 0

[effect1]
Name = EFFECT_EXPLOSION_1
Health = 1
GenerationType = 1
GenerationAccelXYRange = 32 32
GenerationAccelZRange = -32 32
GenerationKindRange = 1 1
AreaAffectType = NONE
Sound = 47
AffectedByWind = 1

[effect2]
Name = EFFECT_EXPLOSION_2
Health = 5
GenerationType = 1
GenerationAccelXYRange = 32 32
GenerationAccelZRange = -64 64
GenerationKindRange = 1 1
AreaAffectType = NONE
Sound = 47
AffectedByWind = 1

[effect3]
Name = EFFECT_EXPLOSION_3
Health = 10
GenerationType = 1
GenerationAccelXYRange = 128 128
GenerationAccelZRange = -128 128
GenerationKindRange = 1 1
AreaAffectType = NONE
Sound = 47
AffectedByWind = 1

[effect4]
Name = EFFECT_EXPLOSION_4
Health = 10
GenerationType = 1
GenerationAccelXYRange = 172 172
GenerationAccelZRange = -172 172
GenerationKindRange = 1 1
AreaAffectType = NONE
Sound = 47
AffectedByWind = 1

[effect5]
Name = EFFECT_EXPLOSION_5
Health = 20
GenerationType = 1
GenerationAccelXYRange = 256 256
GenerationAccelZRange = -256 256
GenerationKindRange = 1 1
AreaAffectType = NONE
Sound = 47
AffectedByWind = 1

[effect6]
Name = EFFECT_BLOOD_HIT
Health = 1
GenerationType = 1
GenerationAccelXYRange = 32 32
GenerationAccelZRange = -96 96
GenerationKindRange = 84 84
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect7]
Name = EFFECT_BLOOD_CHICKEN
Health = 2
GenerationType = 1
GenerationAccelXYRange = 32 32
GenerationAccelZRange = -96 96
GenerationKindRange = 84 84
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect8]
Name = EFFECT_BLOOD_3
Health = 2
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -96 96
GenerationKindRange = 84 84
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect9]
Name = EFFECT_BLOOD_4
Health = 3
GenerationType = 1
GenerationAccelXYRange = 96 96
GenerationAccelZRange = -96 96
GenerationKindRange = 84 84
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect10]
Name = EFFECT_BLOOD_5
Health = 4
GenerationType = 1
GenerationAccelXYRange = 96 96
GenerationAccelZRange = -96 96
GenerationKindRange = 84 84
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect11]
Name = EFFECT_GAS_1
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 1
Sound = 52
AffectedByWind = 1

[effect12]
Name = EFFECT_GAS_2
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 1
Sound = 52
AffectedByWind = 1

[effect13]
Name = EFFECT_GAS_3
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 1
Sound = 52
AffectedByWind = 1

[effect14]
Name = EFFECT_WORD_OF_POWER
Health = 10
GenerationType = 1
GenerationAccelXYRange = 100 100
GenerationAccelZRange = 1 1
GenerationKindRange = 10 10
AreaAffectType = 4
Sound = 178
AffectedByWind = 1

[effect15]
Name = EFFECT_ICE_SHARD
Health = 1
GenerationType = 1
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 11 11
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect16]
Name = EFFECT_HARMLESS_GAS_1
Health = 40
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -64 64
GenerationKindRange = 21 21
AreaAffectType = NONE
Sound = 52
AffectedByWind = 1

[effect17]
Name = EFFECT_HARMLESS_GAS_2
Health = 40
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -64 64
GenerationKindRange = 21 21
AreaAffectType = NONE
Sound = 52
AffectedByWind = 1

[effect18]
Name = EFFECT_HARMLESS_GAS_3
Health = 40
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -64 64
GenerationKindRange = 21 21
AreaAffectType = NONE
Sound = 52
AffectedByWind = 1

[effect19]
Name = EFFECT_DRIP_1
Health = 1
GenerationType = 1
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 22 22
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect20]
Name = EFFECT_DRIP_2
Health = 1
GenerationType = 1
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 22 22
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect21]
Name = EFFECT_DRIP_3
Health = 1
GenerationType = 1
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 22 22
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect22]
Name = EFFECT_HIT_FROZEN_UNIT
Health = 1
GenerationType = 1
GenerationAccelXYRange = 32 32
GenerationAccelZRange = -96 96
GenerationKindRange = 24 24
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect23]
Name = EFFECT_HAIL
Health = 2
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -96 96
GenerationKindRange = 24 24
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect24]
Name = EFFECT_ICE_DEATH
Health = 3
GenerationType = 1
GenerationAccelXYRange = 128 128
GenerationAccelZRange = -96 96
GenerationKindRange = 24 24
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect25]
Name = EFFECT_DIRT_RUBBLE_SMALL
Health = 2
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -96 96
GenerationKindRange = 26 26
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect26]
Name = EFFECT_DIRT_RUBBLE
Health = 2
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -96 96
GenerationKindRange = 27 28
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect27]
Name = EFFECT_DIRT_RUBBLE_BIG
Health = 3
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -96 96
GenerationKindRange = 26 28
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect28]
Name = EFFECT_SPANGLE_RED
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 75 75
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect29]
Name = EFFECT_DRIP_4
Health = 1
GenerationType = 1
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 40 40
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect30]
Name = EFFECT_CLOUD
Health = 80
GenerationType = 2
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 21 21
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect31]
Name = EFFECT_HARMLESS_GAS_4
Health = 8
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -64 64
GenerationKindRange = 47 47
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect32]
Name = EFFECT_GOLD_RUBBLE_1
Health = 2
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -96 96
GenerationKindRange = 49 49
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect33]
Name = EFFECT_GOLD_RUBBLE_2
Health = 2
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -96 96
GenerationKindRange = 49 51
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect34]
Name = EFFECT_GOLD_RUBBLE_3
Health = 3
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -96 96
GenerationKindRange = 50 51
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect35]
Name = EFFECT_TEMPLE_SPLASH
Health = 8
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -16 16
GenerationKindRange = 29 29
AreaAffectType = NONE
Sound = 0
AffectedByWind = 0

[effect36]
Name = EFFECT_CEILING_BREACH
Health = 32
GenerationType = 1
GenerationAccelXYRange = 32 32
GenerationAccelZRange = -32 32
GenerationKindRange = 26 28
AreaAffectType = NONE
Sound = 0
AffectedByWind = 0

[effect37]
Name = EFFECT_STRANGE_GAS_1
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 2
Sound = 52
AffectedByWind = 1

[effect38]
Name = EFFECT_STRANGE_GAS_2
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 2
Sound = 52
AffectedByWind = 1

[effect39]
Name = EFFECT_STRANGE_GAS_3
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 2
Sound = 52
AffectedByWind = 1

[effect40]
Name = EFFECT_GAS_SLOW_1
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 3
Sound = 52
AffectedByWind = 0

[effect41]
Name = EFFECT_GAS_SLOW_2
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 3
Sound = 52
AffectedByWind = 0

[effect42]
Name = EFFECT_GAS_SLOW_3
Health = 40
GenerationType = 1
GenerationAccelXYRange = 44 44
GenerationAccelZRange = -32 32
GenerationKindRange = 7 7
AreaAffectType = 3
Sound = 52
AffectedByWind = 0

[effect43]
Name = EFFECT_ERUPTION
Health = 16
GenerationType = 1
GenerationAccelXYRange = 128 128
GenerationAccelZRange = -128 128
GenerationKindRange = 26 32
AreaAffectType = NONE
Sound = 47
AffectedByWind = 0

[effect44]
Name = EFFECT_ELECTRIC_BALLS
Health = 1
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -128 128
GenerationKindRange = 53 53
AreaAffectType = NONE
Sound = 0
AffectedByWind = 0

[effect45]
Name = EFFECT_EXPLOSION_6
Health = 16
GenerationType = 1
GenerationAccelXYRange = 96 96
GenerationAccelZRange = -96 96
GenerationKindRange = 39 39
AreaAffectType = 1
Sound = 47
AffectedByWind = 1

[effect46]
Name = EFFECT_SPANGLE_RED_BIG
Health = 5
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -64 64
GenerationKindRange = 75 75
AreaAffectType = NONE
Sound = 39
AffectedByWind = 1

[effect47]
Name = EFFECT_COLOURFUL_FIRE_CIRCLE
Health = 60
GenerationType = 3
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 55 58
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect48]
Name = EFFECT_FLASH
Health = 20
GenerationType = 4
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 0 0
AreaAffectType = NONE
Sound = 47
AffectedByWind = 1

[effect49]
Name = EFFECT_049
Health = 50
GenerationType = 4
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 0 0
AreaAffectType = NONE
Sound = 0
AffectedByWind = 0

[effect50]
Name = EFFECT_EXPLOSION_7
Health = 10
GenerationType = 1
GenerationAccelXYRange = 128 128
GenerationAccelZRange = -128 128
GenerationKindRange = 1 1
AreaAffectType = NONE
Sound = 47
AffectedByWind = 1

[effect51]
Name = EFFECT_FEATHER_PUFF
Health = 1
GenerationType = 1
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 61 61
AreaAffectType = NONE
Sound = 112
AffectedByWind = 1

[effect52]
Name = EFFECT_EXPLOSION_8
Health = 5
GenerationType = 1
GenerationAccelXYRange = 128 128
GenerationAccelZRange = -128 128
GenerationKindRange = 1 1
AreaAffectType = NONE
Sound = 47
AffectedByWind = 1

[effect53]
Name = EFFECT_RESEARCH_COMPLETE
Health = 96
GenerationType = 1
GenerationAccelXYRange = 256 256
GenerationAccelZRange = -256 256
GenerationKindRange = 63 74
AreaAffectType = NONE
Sound = 160
AffectedByWind = 0

[effect54]
Name = EFFECT_COLFOUNTN_1
Health = 8
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -64 64
GenerationKindRange = 63 66
AreaAffectType = NONE
Sound = 159
AffectedByWind = 0

[effect55]
Name = EFFECT_COLFOUNTN_2
Health = 8
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -64 64
GenerationKindRange = 67 70
AreaAffectType = NONE
Sound = 159
AffectedByWind = 0

[effect56]
Name = EFFECT_COLFOUNTN_3
Health = 8
GenerationType = 1
GenerationAccelXYRange = 64 64
GenerationAccelZRange = -64 64
GenerationKindRange = 71 74
AreaAffectType = NONE
Sound = 159
AffectedByWind = 0

[effect57]
Name = EFFECT_SPANGLE_BLUE
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 76 76
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect58]
Name = EFFECT_SPANGLE_GREEN
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 77 77
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect59]
Name = EFFECT_SPANGLE_YELLOW
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 78 78
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect60]
Name = EFFECT_BALL_PUFF_RED
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 54 54
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect61]
Name = EFFECT_BALL_PUFF_BLUE
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 79 79
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect62]
Name = EFFECT_BALL_PUFF_GREEN
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 80 80
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect63]
Name = EFFECT_BALL_PUFF_YELLOW
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 81 81
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect64]
Name = EFFECT_BALL_PUFF_WHITE
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 82 82
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect65]
Name = EFFECT_BLOOD_FOOTSTEP
Health = 1
GenerationType = 1
GenerationAccelXYRange = 32 32
GenerationAccelZRange = 100 100
GenerationKindRange = 84 84
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect66]
Name = EFFECT_BLOOD_7
Health = 1
GenerationType = 1
GenerationAccelXYRange = 1 1
GenerationAccelZRange = 1 1
GenerationKindRange = 85 85
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect67]
Name = EFFECT_SPANGLE_MULTICOLOURED
Health = 4
GenerationType = 1
GenerationAccelXYRange = 16 16
GenerationAccelZRange = -32 64
GenerationKindRange = 75 78
AreaAffectType = NONE
Sound = 0
AffectedByWind = 1

[effect68]
Name = EFFECT_BOULDER_BREAK_WATER
Health = 10
GenerationType = 1
GenerationAccelXYRange = 20 150
GenerationAccelZRange = -80 80
GenerationKindRange = 27 29
AreaAffectType = NONE
Sound = 36
AffectedByWind = 1
