#custom looks for the keeperhand
#can be set with the SET_POWER_HAND command
#e.g. SET_POWER_HAND(PLAYER0,HeroHand)

[hand0]
Name = "Default"

HoldAnim  = 784
HoldSpeed = 256
HoldGoldAnim  = 781
HoldGoldSpeed = 256
HoverAnim  = 782
HoverSpeed = 256
PickupAnim  = 783
PickupSpeed = 256
SideHoverAnim  = 785
SideHoverSpeed = 256
SideSlapAnim  = 787
SideSlapSpeed = 256
SlapAnim  = 786
SlapSpeed = 256

[hand1]
Name = "HeroHand"

HoldAnim  = "HEROHAND_HOLD"
HoldSpeed = 256
HoldGoldAnim  = "HEROHAND_HOLDGOLD"
HoldGoldSpeed = 256
HoverAnim  = "HEROHAND_HOVER"
HoverSpeed = 256
PickupAnim  = "HEROHAND_PICKUP"
PickupSpeed = 256
SideHoverAnim  = "HEROHAND_SIDEHOVER"
SideHoverSpeed = 256
SideSlapAnim  = "HEROHAND_SIDESLAP"
SideSlapSpeed = 256
SlapAnim  = "HEROHAND_SLAP"
SlapSpeed = 256
