#custom looks for the keeperhand
#can be set with the SET_POWER_HAND command
#e.g. SET_POWER_HAND(PLAYER0,HeroHand)

[common]
HandsCount = 2

[hand0]
Name = "Default"
AnimationSpeed = 256

AnimHold = 784
AnimHoldGold = 781
AnimHover = 782
AnimPickup = 783
AnimSideHover = 785
AnimSideSlap = 787
AnimSlap = 786

[hand1]
Name = "HeroHand"
AnimationSpeed = 256

AnimHold = "HEROHAND_HOLD"
AnimHoldGold = "HEROHAND_HOLDGOLD"
AnimHover = "HEROHAND_HOVER"
AnimPickup = "HEROHAND_PICKUP"
AnimSideHover = "HEROHAND_SIDEHOVER"
AnimSideSlap = "HEROHAND_SIDESLAP"
AnimSlap = "HEROHAND_SLAP"
