; KeeperFX Traps and Doors Configuration file version 1.0.

; Doors configuration.

[door0]
Name = NODOOR
NameTextID = 201
TooltipTextID = 201
SymbolSprites = 0 0
PointerSprites = 0
PanelTabIndex = 0
Crate = NULL
ManufactureLevel = 0
ManufactureRequired = 0
Health = 0
SlabKind = HARD HARD
OpenSpeed = 256
Properties = 
SellingValue = 0
Unsellable = 0
PlaceSound = 0

[door1]
; Name is the door identifier which should be used in level script.
Name = WOOD
; Language-specific name of the door, as index in translation strings file.
NameTextID = 590
; Language-specific description of the door, shown as tooltip.
TooltipTextID = 594
; Sprite with big size and medium size icon of the door.
SymbolSprites = 144 166
; Sprite for mouse, used when placing the door.
PointerSprites = 11
; Position of the door in the panel, 0 is hidden, 1-16 first page, 17-32 second page. Place in 4x4 grid.
PanelTabIndex = 9
; Crate object model which stores this door before it is deployed.
Crate = WRKBOX_WOOD
; Number of workshop tiles needed in dungeon to build door.
; 0: Any workshop. 1: More(!) than 9 (3 squared). 2: More than 16 (4 squared). Etc.
ManufactureLevel = 0
; Amount of workshop points it takes to create it. See creature workshop skill.
ManufactureRequired = 18000
; Amount of hit points the door have.
Health = 400
; Slabs used for the door, first is horizontal and second is vertical.
SlabKind = DOOR_WOODEN DOOR_WOODEN2
; Self-explanatory, but setting the value too low may cause issues with creatures getting stuck while waiting for the door to open.
OpenSpeed = 256
; Special properties of door - options:
; SECRET Hidden to enemies, but can be spotted when looking closely, or when your own units open it with the enemy looking.
; THICK this door is 3 subtiles thick instead of the normal 1.
; RESIST_NON_MAGIC if it receives damage from non magical source only 12.5% get applied.
; MIDAS takes gold from owner before it takes damage. One gold prevents the base HP worth of damage.
; FREESTANDING doesn't need to be placed in between 2 walls
; ALWAYS_LOCKED doesn't open, doesn't have the key, always treated as closed
Properties = 
; Gold revenue when selling this door.
SellingValue = 250
; Will make it impossible to sell.
Unsellable = 0
; Index of the sound to play when placing the door.
PlaceSound = 117

[door2]
Name = BRACED
NameTextID = 591
TooltipTextID = 595
SymbolSprites = 146 168
PointerSprites = 12
PanelTabIndex = 10
Crate = WRKBOX_BRACE
ManufactureLevel = 2
ManufactureRequired = 24000
Health = 1000
SlabKind = DOOR_BRACE DOOR_BRACE2
OpenSpeed = 256
Properties = 
SellingValue = 500
Unsellable = 0
PlaceSound = 117

[door3]
Name = STEEL
NameTextID = 592
TooltipTextID = 596
SymbolSprites = 148 170
PointerSprites = 13
PanelTabIndex = 11
Crate = WRKBOX_STEEL
ManufactureLevel = 3
ManufactureRequired = 26000
Health = 2500
SlabKind = DOOR_STEEL DOOR_STEEL2
OpenSpeed = 256
Properties = 
SellingValue = 750
Unsellable = 0
PlaceSound = 117

[door4]
Name = MAGIC
NameTextID = 593
TooltipTextID = 597
SymbolSprites = 150 172
PointerSprites = 14
PanelTabIndex = 12
Crate = WRKBOX_MAGIC
ManufactureLevel = 4
ManufactureRequired = 50000
Health = 1250
SlabKind = DOOR_MAGIC DOOR_MAGIC2
OpenSpeed = 256
Properties = RESIST_NON_MAGIC
SellingValue = 1500
Unsellable = 0
PlaceSound = 117

[door5]
Name = SECRET
NameTextID = 935
TooltipTextID = 936
SymbolSprites = SECRET_DOOR_BIG SECRET_DOOR_SMALL
PointerSprites = SECRET_DOOR_CURSOR
PanelTabIndex = 13
Crate = WRKBOX_SECRET
ManufactureLevel = 4
ManufactureRequired = 50000
Health = 1250
SlabKind = DOOR_SECRET DOOR_SECRET2
OpenSpeed = 256
Properties = SECRET THICK
SellingValue = 1500
Unsellable = 0
PlaceSound = 117

[door6]
Name = MIDAS
NameTextID = 1076
TooltipTextID = 1077
SymbolSprites = MIDAS_DOOR_BIG MIDAS_DOOR_SMALL
PointerSprites = MIDAS_DOOR_CURSOR
PanelTabIndex = 14
Crate = WRKBOX_MIDAS
ManufactureLevel = 4
ManufactureRequired = 60000
Health = 5
SlabKind = DOOR_MIDAS DOOR_MIDAS2
OpenSpeed = 128
Properties = MIDAS
SellingValue = 25
Unsellable = 0
PlaceSound = 117

; Traps configuration.

[trap0]
; Name is the trap identifier which should be used in level script.
Name = NOTRAP
; Language-specific name of the trap, as index in translation strings file.
NameTextID = 201
; Language-specific description of the trap, shown as tooltip.
TooltipTextID = 201
; Sprite with big size and medium size icon of the trap.
SymbolSprites = 0 0
; Sprite for mouse, used when placing the trap.
PointerSprites = 0
; Position of the trap in the panel, 0 is hidden, 1-16 first page, 17-32 second page. Place in 4x4 grid.
PanelTabIndex = 0
; Crate object model which stores this trap before it is deployed.
Crate = NULL
; Number of workshop tiles needed in dungeon to build trap.
; 0: Any workshop. 1: 10 or more. 2: 17 or more. 3: 26 or more. 4: 37 or more.
ManufactureLevel = 0
; Amount of workshop points it takes to create it. See creature workshop skill.
ManufactureRequired = 0
; How many time a trap can trigger. Set at 255 for infinite shots.
Shots = 0
; Delay in game turns between each shot.
TimeBetweenShots = 0
; If set the trap is on 'reloading phase' at placement, value defines how long in game turns before it can start shooting.
InitialDelay = 0
; How to trigger the trap.
; LINE_OF_SIGHT_90: Line of sight 90 degrees.
; PRESSURE_SLAB: Pressure activated (tile).
; LINE_OF_SIGHT: Line of sight.
; PRESSURE_SUBTILE: Pressure activated (subtile).
; ALWAYS: Whenever after reloading.
TriggerType = NONE
; Type of effect on activation.
; HEAD_FOR_TARGET_90: Trap shot head for target.
; EFFECT_ON_TRAP: Trap effect.
; SHOT_ON_TRAP: Trap shot stay on trap.
; SLAB_CHANGE: Change the slab into another slab type.
; CREATURE_SHOT: Shoot like a creature would.
; CREATURE_SPAWN: Spawns a creature.
; POWER: Keeper spell.
ActivationType = NONE
; The shot/effect/slab/creature/keeper power, based on the Activation Type. Accepts both names and numbers.
EffectType = 0
; if ActivationType is POWER, what level the power should be cast at, for CREATURE, what level the creature should be spawned at.
ActivationLevel = 0
; Controls which things will be affected by the AreaDamage of the spell (1~8), see magic.cfg.
HitType = 0
; If the trap is visible before getting triggered.
Hidden = 0
; Can the trap be triggered by activating it. Set to 1 to activate by slap, set to 2 to make it target nearest enemy in range on slap.
Slappable = 0
; Allows the trap to be triggered by invisible creatures.
DetectInvisible = 0
; Will there be an event message when the trap is triggered.
TriggerAlarm = 0
; If set to 1 allows the trap to be placed on bridges.
PlaceOnBridge = 0
; If set to 1 allows the trap to be placed anywhere on a slab. This results in up to 9 traps per tile.
PlaceOnSubtile = 0
; Set to a number between 0 and 255 and it will increment scriptflag TRAP#_ACTIVATED when triggered, with # being the value.
FlagNumber = 0
; Place the trap immediately without needing imps to drag the crate to arm it.
InstantPlacement = 0
; Destroy the trap once it runs out of Shots.
RemoveOnceDepleted = 0
; Amount of hit points the trap have.
Health = 0
; Can the trap be destroyed by attacking it. If 1 it can by any attack, 0 only by units with 'DISARM ability', -1 by nobody.
Destructible = 0
; Will the trap trigger a shot when destroyed. If 0 it will not, 1 it will when attacked, 2 it even will when disarmed.
Unstable = 0
; Effect shown upon destruction of the trap if destructible was enabled. Takes the name of the effect or effect element, see 'effects.toml'.
DestroyedEffect = 0
; The size of the hitbox of the trap, floorspace and height.
ThingSize = 0 0
; The ID of the sprite used for the animation.
AnimationID = 0
; The ID for the animation as the trap triggers.
AttackAnimationID = 0
; The ID of trap while it cannot shoot yet for because it just shot. Leave at 0 to use AnimationID.
RechargeAnimationID = 0
ModelSize = 0
AnimationSpeed = 0
; Unanimated means the Model animation does not loop.
Unanimated = 0
Unshaded = 0
RandomStartFrame = 0
LightRadius = 0
LightIntensity = 0
LightFlags = 0
; Makes object transparent in different ways. Range: 0~3, where 3 is both 1 and 2 together.
TransparencyFlags = 0
; Place where a shot fired by the trap originates, relative to trap position.
ShotOrigin = 0 0 0
; Direction or magnitude of the shot fired by the trap.
ShotVector = 0 0 0
; Sprite number for a secondary sprite drawn on top of the first one. Not shown on depleted traps.
FlameAnimationID = 0
; The speed of the flame animation.
FlameAnimationSpeed = 0
; The size of the secondary sprite. Assume 300 is a normal size.
FlameAnimationSize = 0
; Position of the secondary sprite compared to the first one. First x-y for possession, then x-y in normal view.
FlameAnimationOffset = 0 0 0 0
; Flame can have a different transparency from main object.
FlameTransparencyFlags = 0
; Gold revenue when selling this trap.
SellingValue = 0
; Will make it impossible to sell.
Unsellable = 0
; Index of the sound to play when placing the trap.
PlaceSound = 0
; Index of the sound to play when trap is triggered.
TriggerSound = 0

[trap1]
Name = BOULDER
NameTextID = 578
TooltipTextID = 584
SymbolSprites = 130 152
PointerSprites = 5
PanelTabIndex = 5
Crate = WRKBOX_BOULDER
ManufactureLevel = 3
ManufactureRequired = 25000
Shots = 1
TimeBetweenShots = 0
TriggerType = LINE_OF_SIGHT_90
ActivationType = HEAD_FOR_TARGET_90
EffectType = SHOT_BOULDER
HitType = 9
Hidden = 0
Slappable = 1
DetectInvisible = 1
PlaceOnBridge = 0
PlaceOnSubtile = 0
Health = 128
ThingSize = 640 512
AnimationID = 861
ModelSize = 384
AnimationSpeed = 0
Unanimated = 1
Unshaded = 0
RandomStartFrame = 0
LightRadius = 0
LightIntensity = 0
LightFlags = 0
TransparencyFlags = 0
SellingValue = 1000
Unsellable = 0
PlaceSound = 117
TriggerSound = 176

[trap2]
Name = ALARM
NameTextID = 579
TooltipTextID = 585
SymbolSprites = 132 154
PointerSprites = 9
PanelTabIndex = 1
Crate = WRKBOX_ALARM
ManufactureLevel = 0
ManufactureRequired = 18000
Shots = 12
TimeBetweenShots = 2000
TriggerType = PRESSURE_SLAB
ActivationType = SHOT_ON_TRAP
EffectType = SHOT_ALARM
HitType = 2
Hidden = 1
DetectInvisible = 1
TriggerAlarm = 1
PlaceOnBridge = 0
PlaceOnSubtile = 0
Health = 1
ThingSize = 128 256
AnimationID = 844
AttackAnimationID = 844
RechargeAnimationID = TRAP_RED_DIS
ModelSize = 256
AnimationSpeed = 256
Unanimated = 0
Unshaded = 0
RandomStartFrame = 0
LightRadius = 0
LightIntensity = 0
LightFlags = 0
TransparencyFlags = 0
SellingValue = 250
Unsellable = 0
PlaceSound = 117
TriggerSound = 176

[trap3]
Name = POISON_GAS
NameTextID = 580
TooltipTextID = 586
SymbolSprites = 134 156
PointerSprites = 7
PanelTabIndex = 2
Crate = WRKBOX_POISONG
ManufactureLevel = 1
ManufactureRequired = 20000
Shots = 5
TimeBetweenShots = 200
TriggerType = PRESSURE_SLAB
ActivationType = EFFECT_ON_TRAP
EffectType = EFFECT_GAS_3
HitType = 4
Hidden = 1
DetectInvisible = 1
PlaceOnBridge = 0
PlaceOnSubtile = 0
Health = 1
ThingSize = 128 256
AnimationID = 845
AttackAnimationID = 845
RechargeAnimationID = TRAP_BLUE_DIS
ModelSize = 256
AnimationSpeed = 256
Unanimated = 0
Unshaded = 0
RandomStartFrame = 0
LightRadius = 0
LightIntensity = 0
LightFlags = 0
TransparencyFlags = 0
SellingValue = 350
Unsellable = 0
PlaceSound = 117
TriggerSound = 176

[trap4]
Name = LIGHTNING
NameTextID = 581
TooltipTextID = 587
SymbolSprites = 136 158
PointerSprites = 8
PanelTabIndex = 3
Crate = WRKBOX_LIGHTNG
ManufactureLevel = 2
ManufactureRequired = 20000
Shots = 6
TimeBetweenShots = 140
TriggerType = PRESSURE_SLAB
ActivationType = SHOT_ON_TRAP
EffectType = SHOT_TRAP_LIGHTNING
HitType = 4
Hidden = 1
DetectInvisible = 1
PlaceOnBridge = 0
PlaceOnSubtile = 0
Health = 1
ThingSize = 128 256
AnimationID = 846
AttackAnimationID = 846
RechargeAnimationID = TRAP_PURPLE_DIS
ModelSize = 256
AnimationSpeed = 256
Unanimated = 0
Unshaded = 0
RandomStartFrame = 0
LightRadius = 0
LightIntensity = 0
LightFlags = 0
TransparencyFlags = 0
SellingValue = 500
Unsellable = 0
PlaceSound = 117
TriggerSound = 176

[trap5]
Name = WORD_OF_POWER
NameTextID = 582
TooltipTextID = 588
SymbolSprites = 138 160
PointerSprites = 6
PanelTabIndex = 6
Crate = WRKBOX_WRDOFPW
ManufactureLevel = 4
ManufactureRequired = 20000
Shots = 3
TimeBetweenShots = 84
TriggerType = PRESSURE_SLAB
ActivationType = SHOT_ON_TRAP
EffectType = SHOT_TRAP_WORD_OF_POWER
HitType = 4
Hidden = 1
DetectInvisible = 1
PlaceOnBridge = 0
PlaceOnSubtile = 0
Health = 1
ThingSize = 128 256
AnimationID = 844
AttackAnimationID = 844
RechargeAnimationID = TRAP_RED_DIS
ModelSize = 256
AnimationSpeed = 256
Unanimated = 0
Unshaded = 0
RandomStartFrame = 0
LightRadius = 0
LightIntensity = 0
LightFlags = 0
TransparencyFlags = 0
SellingValue = 750
Unsellable = 0
PlaceSound = 117
TriggerSound = 176

[trap6]
Name = LAVA
NameTextID = 583
TooltipTextID = 589
SymbolSprites = 140 162
PointerSprites = 10
PanelTabIndex = 4
Crate = WRKBOX_LAVA
ManufactureLevel = 3
ManufactureRequired = 20000
Shots = 1
TimeBetweenShots = 0
TriggerType = PRESSURE_SLAB
ActivationType = SLAB_CHANGE
EffectType = LAVA
HitType = 4
Hidden = 1
DetectInvisible = 1
PlaceOnBridge = 0
PlaceOnSubtile = 0
Health = 1
ThingSize = 128 256
AnimationID = 845
RechargeAnimationID = TRAP_BLUE_DIS
ModelSize = 256
AnimationSpeed = 256
Unanimated = 0
Unshaded = 0
RandomStartFrame = 0
LightRadius = 0
LightIntensity = 0
LightFlags = 0
TransparencyFlags = 0
SellingValue = 750
Unsellable = 0
PlaceSound = 117
TriggerSound = 176

[trap7]
Name = TNT
NameTextID = 1036
TooltipTextID = 1037
SymbolSprites = TNT64 TNT32
PointerSprites = TNT_CURSOR
PanelTabIndex = 7
Crate = WRKBOX_DEMOLTN
ManufactureLevel = 4
ManufactureRequired = 75000
Shots = 1
TimeBetweenShots = 0
TriggerType = NONE
ActivationType = SHOT_ON_TRAP
EffectType = SHOT_TRAP_TNT
HitType = 9
Hidden = 0
Slappable = 1
DetectInvisible = 0
PlaceOnBridge = 0
PlaceOnSubtile = 0
Health = 256
Destructible = 1
Unstable = 1
DestroyedEffect = EFFECT_EXPLOSION_1
ThingSize = 640 512
AnimationID = BOOM_BARREL
ModelSize = 512
AnimationSpeed = 128
Unanimated = 0
Unshaded = 0
RandomStartFrame = 0
LightRadius = 0
LightIntensity = 0
LightFlags = 0
TransparencyFlags = 0
SellingValue = 1350
Unsellable = 1
PlaceSound = 117
TriggerSound = 141
