name: Release Patches (Signed)

on:
  workflow_dispatch:

jobs:

  call-release-patch-build:

    name: Trigger Release Patch Build (Unsigned)
    if: github.repository == 'dkfans/keeperfx'
    uses: ./.github/workflows/build-release-patch-unsigned.yml

  sign-release-patch-artifact:

    name: "Sign Release Patch"
    if: github.repository == 'dkfans/keeperfx'
    runs-on: ubuntu-24.04
    needs: call-release-patch-build

    steps:

    - name: Sign artifact
      uses: signpath/github-action-submit-signing-request@v1.1
      with:
        api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
        organization-id: '${{ vars.SIGNPATH_ORGANIZATION_ID }}'
        project-slug: '${{ vars.SIGNPATH_PROJECT_SLUG }}'
        signing-policy-slug: '${{ vars.SIGNPATH_SIGNING_POLICY_SLUG }}'
        artifact-configuration-slug: 'standard'
        github-artifact-id: '${{ needs.call-release-patch-build.outputs.artifact-id }}'
        wait-for-completion: true
        output-artifact-directory: 'pkg/'

    - name: Upload signed artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ needs.call-release-patch-build.outputs.zip-name }}-signed
        path: pkg/**